// ARTICLE HELPER CLASSES
.ng-figure-reset {
	margin: 0;
}
.ng-inline-element {
	margin: 15px 0;

	@include oGridRespondTo(S) {
		@include box-sizing(border-box);
		float: left;
		clear: left;
		margin: 0 20px 20px 0;
		max-width: 300px;
	}
}
.ng-pull-out {
	@include oGridRespondTo(XL) {
		margin-left: -100px;
	}
}
.ng-list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}
.ng-meta {
	display: block;
	font-size: 15px;
	font-weight: 400;
	line-height: 1em;
	opacity: 0.7;
}
.ng-media-wrapper {
	position: relative;

	&:before {
		display: block;
		content: '';
		width: 100%;
		padding: 56.25% 0 0;
	}
}
.ng-media {
	position: absolute;
	top: 0;
}
