@import "next-sass-setup/main";
$o-gallery-is-silent: false;
@import "o-gallery/main";
@import "o-fonts/main";
@import "labs-o-share/main";

@import "o-expander/main";
@import "n-video/main";
@include oFontsInclude(MetricWeb, thin);

// Fix o-comments at 2.2.0 and o-comment-ui at 2.1.0 so we can use the build service for images
// Note needs to match the bower.json otherwise there is a risk that images from a different version
// of o-comments/o-comment-ui will appear on the site.
@import "o-assets/main";
@include oAssetsSetModulePaths((
	o-comments: '//build.origami.ft.com/v2/files/o-comments@2.2.0',
	o-comment-ui: '//build.origami.ft.com/v2/files/o-comment-ui@2.1.0'
));
$o-comments-is-silent: false;
@import 'o-comments/main';

@import "n-layout/main";

.next-header {
	margin-bottom: 0;
}

@import "next-myft-ui/main";
@import "next-buttons/main";
@import "n-myft-tray/main";
@import "n-message-prompts/main";

@import "helpers";
@import "components/article/main";
@import "components/toc/main";
@import "components/share/main";
@import "components/onward-journey/main";
@import "components/story-package";
@import "components/comments/main";
@import "components/first-click-free/main";
@import "components/barriers/main";
@import "components/special-report/main";
@import "components/suggested-reads/main";
@import "components/read-next/main";

@import "components/labsshare/main";

// Print Styling
@media print {
	body > section,
	.n-myft-ui,
	.n-myft-tray__cta,
	.n-myft-tray,
	.next-header,
	.article__tags,
	.article__body > div,
	.copyright-notice,
	.article__more-on,
	.article__comments,
	.article__share,
	.story-package,
	.follow-promo,
	.article__actions,
	.js-special-report,
	.next-up__bottom__wrapper,
	.more-on__topic--link,
	.pod {
		display: none;
	}
	.o-grid-row {
		display: inherit;
	}
}
