@import "next-sass-setup/main";
$o-quote-is-silent: false;
@import "o-quote/main";
@import "n-quote/main";
$o-big-number-is-silent: false;
@import "o-big-number/main";
$o-gallery-is-silent: false;
@import "o-gallery/main";
@import "o-fonts/main";

@import "o-expander/main";
@import "n-video/main";
@include oFontsInclude(MetricWeb, thin);

// Fix o-comments at 2.0.6 and o-comment-ui at 2.0.2 so we can use the build service for images
// Note needs to match the bower.json otherwise there is a risk that images from a different version
// of o-comments/o-comment-ui will appear on the site.
@import "o-assets/main";
@include oAssetsSetModulePaths((
	o-comments: '//build.origami.ft.com/files/o-comments@2.0.6',
	o-comment-ui: '//build.origami.ft.com/files/o-comment-ui@2.0.2'
));
$o-comments-is-silent: false;
@import 'o-comments/main';

@import "n-layout/main";

.next-header {
	margin-bottom: 0;
}

@import "next-myft-ui/main";
@import "next-buttons/main";
@import "next-card/main";
@import "n-myft-tray/main";
@import "n-message-prompts/main";

@import "helpers";
@import "components/article/main";
@import "components/toc/main";
@import "components/share/main";
@import "components/onward-journey/main";
@import "components/story-package";
@import "components/timeline/main";
@import "components/comments/main";
@import "components/first-click-free/main";
@import "components/barriers/main";
@import "components/special-report/main";
@import "components/suggested-reads/main";
@import "components/read-next/main";

@media print {
	body > section,
	.n-myft-tray__cta,
	.n-myft-tray,
	.next-header,
	.article__leaderboard-advert,
	.article__rail-advert,
	.article__tags,
	.article-tags,
	.article__body > div,
	.article__body > aside,
	.article__more-on,
	.article__comments,
	.article-share,
	.story-package,
	.article__actions,
	.article__main-image,
	.pod {
		display: none;
	}
}
