.barrier__wrapper {
	background: #ffffff;
	padding: 10px;
	margin-bottom: 35px;
	font-family: $fontSans;

	h2 {
		font-weight: normal;
		font-size: 24px;
		margin: 0 0 15px;
	}

	p {
		font-weight: normal;
		font-size: 18px;
		color: $next-grey-dark;

		@include oGridRespondTo(S) {
			font-size: 20px;
			font-weight: 200;
		}
	}

	h2 span {
		color: $next-blue;
	}
}

.barrier__upgrade {
	margin-left: auto;
	margin-right: auto;
	color: $next-white;
	background-color: $next-primary-transparent;
	width: 150px;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	display: block;
	border-radius: 5px;
	font-size: 16px;
}
