<select>
    <option>Home </option>
    <option>UK </option>
    <option>UK› </option>
    <option> Business   </option>
    <option> Economy   </option>
    <option> UK Companies   </option>
    <option> Politics & Policy   </option>
    <option> Scottish independence   </option>
    <option> UK Small Companies   </option>
    <option>World </option>
    <option>Africa </option>
    <option>Asia-Pacific </option>
    <option>Asia-Pacific› </option>
    <option> China  </option>
    <option> India  </option>
    <option> Japan  </option>
    <option> North Korea  </option>
    <option>Europe </option>
    <option>Europe› </option>
    <option> Brussels  </option>
    <option>Latin America & Caribbean </option>
    <option>Latin America & Caribbean› </option>
    <option> Business  </option>
    <option> Economy  </option>
    <option> Finance  </option>
    <option> Politics & Policy  </option>
    <option> Regulation  </option>
    <option> Society  </option>
    <option>Middle East & North Africa </option>
    <option>Middle East & North Africa› </option>
    <option> Economy  </option>
    <option> Finance  </option>
    <option> Politics & Society  </option>
    <option> Gulf  </option>
    <option> Iran  </option>
    <option>UK </option>
    <option>UK› </option>
    <option> Business  </option>
    <option> Economy  </option>
    <option> UK Companies  </option>
    <option> Politics & Policy  </option>
    <option> Scottish independence  </option>
    <option> UK Small Companies  </option>
    <option>US & Canada </option>
    <option>US & Canada› </option>
    <option> Economy  </option>
    <option> Politics & Policy  </option>
    <option> Society  </option>
    <option> Canada  </option>
    <option>The World Blog </option>
    <option>Tools </option>
    <option> Tools ›  </option>
    <option>About Us </option>
    <option>Topics </option>
    <option>Portfolio </option>
    <option>FT clippings </option>
    <option>Alerts hub </option>
    <option>Email briefings </option>
    <option>MBA rankings </option>
    <option>Newslines </option>
    <option>FT Lexicon </option>
    <option>Mobile </option>
    <option>Currency converter </option>
    <option>ePaper </option>
    <option>Executive jobs </option>
    <option>FT press cuttings </option>
    <option>Social Media hub </option>
    <option>Economic calendar </option>
    <option>Companies </option>
    <option>Companies› </option>
    <option> Energy   </option>
    <option> Financials   </option>
    <option> Health   </option>
    <option> Industrials   </option>
    <option> Luxury 360   </option>
    <option> Media   </option>
    <option> Retail & Consumer   </option>
    <option> Tech   </option>
    <option> Telecoms   </option>
    <option> Transport   </option>
    <option> By Region   </option>
    <option>Markets </option>
    <option>Markets› </option>
    <option> fastFT   </option>
    <option> Alphaville   </option>
    <option> FTfm   </option>
    <option> Markets Data   </option>
    <option> Trading Room   </option>
    <option> Equities   </option>
    <option> Currencies   </option>
    <option> Capital Mkts   </option>
    <option> Commodities   </option>
    <option> Emerging Markets   </option>
    <option>Global Economy </option>
    <option>Global Economy› </option>
    <option> Economic Calendar   </option>
    <option> Africa   </option>
    <option> Americas   </option>
    <option> Asia   </option>
    <option> China   </option>
    <option> EU   </option>
    <option> India   </option>
    <option> Middle East   </option>
    <option> UK   </option>
    <option> US   </option>
    <option> Macro Sweep   </option>
    <option>Lex </option>
    <option>Lex› </option>
    <option> Lex Live   </option>
    <option> Lex In depth   </option>
    <option> Lex Video   </option>
    <option> Best of Lex   </option>
    <option> About Lex   </option>
    <option> Lex Biographies   </option>
    <option> Lex on Mobile   </option>
    <option> Lex by Email   </option>
    <option> Subscribe to Lex   </option>
    <option>Comment </option>
    <option>Comment› </option>
    <option> Columnists   </option>
    <option> The Big Read   </option>
    <option> Opinion   </option>
    <option> The A-List   </option>
    <option> Editorial   </option>
    <option> Blogs   </option>
    <option> Letters   </option>
    <option> Corrections   </option>
    <option> Obituaries   </option>
    <option>Management </option>
    <option>Management› </option>
    <option> Business Education   </option>
    <option> Entrepreneurship   </option>
    <option> Business Books   </option>
    <option> Business Travel   </option>
    <option> Recruitment   </option>
    <option> The Connected Business   </option>
    <option>Personal Finance </option>
    <option>Personal Finance› </option>
    <option> Property & Mortgages   </option>
    <option> Investments   </option>
    <option> Trading   </option>
    <option> Pensions   </option>
    <option> Tax   </option>
    <option> Banking & Savings   </option>
    <option> Money Matters   </option>
    <option> Advice & Comment   </option>
    <option> Calculators   </option>
    <option>Life & Arts </option>
    <option>Life & Arts› </option>
    <option> Arts   </option>
    <option> Magazine   </option>
    <option> Food & Drink   </option>
    <option> House & Home   </option>
    <option> Lunch with the FT   </option>
    <option> Style   </option>
    <option> Books   </option>
    <option> Pursuits   </option>
    <option> Travel   </option>
    <option> Columns   </option>
    <option> How To Spend It   </option>
</select>
