.article__more-on {
	padding-top: $spacing-unit;
}

.more-on {
	margin-bottom: 22px;

	@include print {
		display: none;
	}
}

.more-on__title {
	@include nTypeBeta(3);
	@include nTypeHeadingSeparator();
	margin: 0;
	padding: 5px 0;
	text-transform: none;
}

.more-on__articles {
	@include nCardList();
}

.more-on__article {
	@include nCardListItem();

	//TODO: merge this back into bare card
	.next-card {
		padding: $spacing-unit/2 0;
	}
}

.more-on__related-list {
	@include nLists();
	@include oGridRespondTo(S) {
		@include nListsCols();
	}
}

.more-on__related-item {
	@include nListsItem();
}
