.market-data {
	margin-top: 5px;
	padding: 10px;
	background-color: #fff0dc;
	overflow: hidden;
}
.market-data__title {
	margin: 0;
	text-transform: uppercase;
}
.market-data__symbol {
	font-weight: 400;
}
.market-data__price,
.market-data__change {
	margin: 0;
	font-size: 40px;
	font-weight: 100;
}
.market-data__price {
	float: left;
}
.market-data__change {
	float: right;
}
