.more-on {
    &.more-on--loaded {
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
        padding: 20px;  
    }
  

    h2,
    li {
        font-size: 14px;
        font-weight: normal;
    }
    
    h2 {
        margin: 0;
    }


    ul {
        list-style-type: none;
        padding: 0;
        margin-bottom: 0;
    }

    li {
        line-height: 1.6;
    }

    a {
        color: #2e6e9e;;

        &:hover {
            color: #2e6e9e;;
            text-decoration: underline;
        }
    } 
}