.promo-unit-msg {
  background-color: #005277;
  color: white;
  padding: 10px 0 20px 0;
  &__related-content-header {
    overflow: hidden;
    text-align: center;
    font-family: FinancierDisplayWeb;
    font-size: 25px;
    &:before,
    &:after {
      background-color: white;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;}
    &:before {
      right: 0.5em;
      margin-left: -50%;}
    &:after {
      left: 0.5em;
      margin-right: -50%;}}
  &__related-content-subheading {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding: 0 20% 0 20%;}
  &__related-content-items {
    width: 82%;
    margin: auto auto 60px auto;}
  &__related-content-tag {
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0 5px 0;
    color: #F47985;}
  &__related-content-headline {
    margin: 0;
    font-size: 2em;
    font-weight: lighter;
    font-family: FinancierDisplayWeb;}
  &__related-content-image {
    width: 100%;}
  &__best-from-ft {
    padding-bottom: 20px;}
  &__best-from-ft-heading {
    overflow: hidden;
    padding-left: 10%;
    font-family: FinancierDisplayWeb;
    margin: 0;
    font-size: 30px;
    &:before,
    &:after {
      background-color: white;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      overflow: hidden;
      width: 50%;}
    &:before {
      right: 0.5em;
      margin-left: -50%;}
    &:after {
      width: 100%;
      left: 0.5em;
      margin-right: -50%;}}
  &__best-from-ft-item {
    border-bottom: 1px solid white;
    margin: 20px 10% 0 10%;
    text-align: center;}
  &__best-from-ft-stream-name {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 3em;}
  &__best-from-ft-stream-description {
    font-size: 25px;
    text-align: center;}
  &__best-from-ft-item-pictures {
    position: relative;
    top: 0px;}
  &__best-from-ft-item-overlapping-images {
    position: relative;
    height: 217px;
    width: 435px;
    }
  &__best-from-ft-item-lil-pic {
    position: absolute;
    bottom: 40px;
    left: 0;
    bottom: 0;
  }
  &__best-from-ft-item-big-pic {
    position: absolute;
    right: 0;
    }
  &__sign-up {
    background-color: #00496A;
    border: 1px solid white;
    border-radius: 7px;
    text-align: center;
    margin: auto;
    width: 400px;}
  &__sign-up-text {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin: 5px 0 5px 0;
    border-bottom: none;
    &::after {
      content: '';
      @include nextIcon(arrow-right, getColor('white'), 17);}
    &:hover {
      color: inherit;}}}

.vertically-centered {
  @include oGridRespondTo(M) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
.horizontally-centered {
  display: inline-block;}

.text-box {
  border: 2px solid red;
}
.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after {
    visibility: hidden !important;
}
