@mixin vertically-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin unvertically-centered {
  position: relative;
  top: 50%;
  transform: none;
}

.promo-unit {
  background-color: #005277;
  color: white;
  padding: 30px 0 60px 0;

  .promo-unit__related-content {
    margin: 0 0 40px 0;
  }

  .promo-unit__related-content-subheading-container {
    @include oGridRespondTo(L) {
      padding: 0 20% 0 20%;
    }
  }

  .promo-unit__related-content-subheading-text {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
  }

  .promo-unit__media__image {
    width: 100%;
  }

  .promo-unit__media__tag {
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0 5px 0;
    color: #F47985;
  }

  .promo-unit__media__description {
    margin: 0;
    margin-bottom: 30px;
    font-size: 2em;
    font-weight: lighter;
    font-family: FinancierDisplayWeb;
  }

  .promo-unit__media__image {
    width: 100%;
  }

  .promo-unit__best-from-ft {
    padding-bottom: 35px;
  }

  .promo-unit__highlight {
    position: relative;
    border-bottom: 1px solid white;
    padding: 50px 0 50px 0;
    min-height: 210px;
  }

  .promo-unit__highlight--no-bottom-border {
    border-bottom: none;
  }
  .promo-unit__item--pos-relative {
    position: relative;
  }

  .promo-unit__item--vertically-centered {
    @include vertically-centered;
  }

  .promo-unit__caption {

  }

  .promo-unit__caption-heading {
    font-weight: bold;
    // margin-bottom: 10px;
    margin-top: 0px;
    font-size: 3em;
  }

  .promo-unit__caption-heading--medium {
    font-size: 2em;
  }

  .promo-unit__caption-heading--vertically-centered {
    @include vertically-centered;
  }

  .promo-unit__caption-body {
    font-size: 25px;
    margin: 0;
  }

  .promo-unit__caption-heading--large {
    font-size: 70px;
  }

  .promo-unit__caption-body--small {
    font-size: 18px;
  }

  .promo-unit__caption-body--vertically-centered {
    @include vertically-centered;
  }

  .promo-unit__highlight-grid-caption {
    @include vertically-centered;

    @include oGridRespondTo($until: M) {
      @include unvertically-centered;
    }
  }

  .promo-unit__best-from-ft-stream-name {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 3em;
  }

  .promo-unit__best-from-ft-stream-description {
    font-size: 25px;
    text-align: center;
    margin: 0;
  }

  .promo-unit__best-from-ft-item-top-pictures {
    margin-bottom: 50px;
  }

  .promo-unit__best-from-ft-item-pictures {
    position: relative;
    top: 0px;
  }

  .promo-unit__best-from-ft-item-overlapping-images.overlapping-images {
    @include vertically-centered;
    right: 40px;
  }

  .promo-unit__lined-header {
    position: relative;

    &::before {
      @include vertically-centered;
      border-top: 1px solid white;
      content:' ';
      display:block;
      height: 1px;
      left: 0;
      right: 0;
    }

    .promo-unit__lined-header__inner {
      position: absolute;
      top: -16px;
      left: 0;
      right: 0;
    }

    .promo-unit__lined-header__heading {
      margin: 0;
      padding: 0;
      background-color: #005277;
      padding: 0 12px;
      display: inline;
    }

  }

  .promo-unit__best-from-ft-item-lil-pic {
    position: absolute;
    bottom: 40px;
    left: 0;
    bottom: 0;
  }

  .promo-unit__best-from-ft-item-big-pic {
    position: absolute;
    right: 0;
  }

  .promo-unit__button {
    background-color: #00496A;
    border: 1px solid white;
    border-radius: 7px;
    text-align: center;
    margin: auto;
    padding: 15px 0 20px 0;
    width: 550px;
    @include oGridRespondTo($until: M) {
      width: auto;
    }
  }

  .promo-unit__button-text {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin: 5px 0 5px 0;
    border-bottom: none;
    &::after {
      content: '';
      @include nextIcon(arrow-right, getColor('white'), 17);}
    &:hover {
      color: inherit;}
  }

  .promo-unit__contents--aligned-center {
     text-align: center;
  }

  .promo-unit__contents--centered-on-medium {
    @include oGridRespondTo($until: M) {
      text-align: center;
    }
  }

}

.promo-unit__heading--financier-medium {
  font-family: FinancierDisplayWeb;
  font-size: 25px;
}

.promo-unit__heading--financier-large {
  font-family: FinancierDisplayWeb;
  font-size: 30px;
}

.overlapping-images {
  position: relative;
  height: 217px;
  width: 435px;

  .overlapping-images__hind-img {
    height:176.75px;
    width: 314px;
    position: absolute;
    right: 0;
  }

  .overlapping-images__fore-img {
    height:119.03px;
    width: 211px;
    position: absolute;
    bottom: 40px;
    left: 0;
    bottom: 0;
  }

  @include oGridRespondTo($until: L) {
    height: 170px;
    width: 320px;

    .overlapping-images__hind-img {
      width: 245px;
      height: auto;
    }

    .overlapping-images__fore-img {
      height: 86px;
      width: 156px;
    }
  }
}

.overlapping-images--centered {
  margin-left: auto;
  margin-right: auto;
}

.button--centred {
  margin-left: auto;
  margin-right: auto;
}

.thin-container {
  padding: 0px;
}

.testytheo {
  font-size: 400px;
}
