$tag-colour: #f47985;
$promo-unit-bg-colour: #005277;


@mixin vertically-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin unvertically-centered {
  position: relative;
  top: 50%;
  transform: none;
}

.promo-unit {
  background-color: $promo-unit-bg-colour;
  color: #fff;
  padding-bottom: 60px;

  .promo-unit__lined-header {
    position: relative;
    padding: 50px 0;

    &::before {
      @include vertically-centered;
      border-top: 1px solid white;
      content:' ';
      display:block;
      height: 1px;
      left: 0;
      right: 0;
    }

    .promo-unit__lined-header__inner {
      @include vertically-centered;
      left: 0;
      right: 0;
    }

    .promo-unit__lined-header__heading {
      background-color: $promo-unit-bg-colour;
      padding: 0 12px;
      display: inline;
    }
  }

  .promo-unit__lined-border {
    margin: 50px 0;
  }

  &__highlight {
    position: relative;
    // min-height: 210px; // alternative? don't want this on the first section if pos
  }

  .promo-unit__highlight-grid-caption {
    // seems like this is all just to position the overlapping image component, so maybe find a better way to do that

    // just vertically center on M?
//    @include vertically-centered;

//    @include oGridRespondTo($until: M) {
//      @include unvertically-centered;
//    }
  }

  .promo-unit__caption-heading {
    font-weight: bold;
    // margin-top: -21px; // don't want to do it this way
    font-size: 75px;
  }

  .promo-unit__caption-heading--medium {
    font-size: 2em;
  }

  .promo-unit__caption-heading--vertically-centered {
    @include vertically-centered;
  }

  .promo-unit__caption-body {
    font-size: 25px;
  }

  .promo-unit__caption-heading--large {
    font-size: 70px;
  }

  .promo-unit__caption-body--small {
    font-size: 18px;
  }

  .promo-unit__caption-body--vertically-centered {
    @include vertically-centered;
  }

  .promo-unit__media__tag {
    color: $tag-colour;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
  }

  .promo-unit__media__description {
    font-family: FinancierDisplayWeb;
    font-size: 25px;
    font-weight: lighter;
    margin: 0;
  }

  .promo-unit__media__image {
    width: 100%;
  }

  .promo-unit__item--pos-relative {
    position: relative;
  }

  .promo-unit__item--vertically-centered {
    @include vertically-centered;
  }

  .promo-unit__best-from-ft-stream-name {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 3em;
  }

  .promo-unit__best-from-ft-stream-description {
    font-size: 25px;
    text-align: center;
    margin: 0;
  }

  .promo-unit__best-from-ft-item-top-pictures {
    margin-bottom: 50px;
  }

  .promo-unit__best-from-ft-item-pictures {
    position: relative;
    padding-left: 5%;
    top: 0;
  }

  .promo-unit__best-from-ft-item-overlapping-images.overlapping-images {
    @include vertically-centered;
  }


  .promo-unit__best-from-ft-item-lil-pic {
    position: absolute;
    bottom: 40px;
    left: 0;
    bottom: 0;
  }

  .promo-unit__best-from-ft-item-big-pic {
    position: absolute;
    right: 0;
  }

  .promo-unit__button {
    background-color: #00496A;
    border: 1px solid white;
    border-radius: 7px;
    text-align: center;
    margin: auto;
    padding: 15px 0 20px;
    width: 550px;
    @include oGridRespondTo($until: M) {
      width: auto;
    }
  }

  .promo-unit__button-text {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin: 5px 0;
    border-bottom: none;
    &::after {
      content: '';
      @include nextIcon(arrow-right, getColor('white'), 17);}
    &:hover {
      color: inherit;}
  }

  .promo-unit__contents--aligned-center {
     text-align: center;
  }

  .promo-unit__contents--centered-on-medium {
    @include oGridRespondTo($until: M) {
      text-align: center;
    }
  }

  .promo-unit__related-content-subheading-container {
    @include oGridRespondTo(L) {
      padding: 0 20%;
    }
  }

  .promo-unit__related-content-subheading-text {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }
}

.promo-unit__heading--financier-medium {
  font-family: FinancierDisplayWeb;
  font-size: 25px;
}

.promo-unit__heading--financier-large {
  font-family: FinancierDisplayWeb;
  font-size: 30px;
}

.overlapping-images {
  position: relative;
  height: 217px;
  width: 435px;

  .overlapping-images__hind-img {
    height:176.75px;
    width: 314px;
    position: absolute;
    right: 0;
  }

  .overlapping-images__fore-img {
    height:119.03px;
    width: 211px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  @include oGridRespondTo($until: L) {
    height: 170px;
    width: 320px;

    .overlapping-images__hind-img {
      height: auto;
      width: 245px;
    }

    .overlapping-images__fore-img {
      height: 86px;
      width: 156px;
    }
  }
}

.overlapping-images--centered {
  margin-left: auto;
  margin-right: auto;
}

.button--centred {
  margin-left: auto;
  margin-right: auto;
}

.thin-container {
  padding: 0;
}

.hide-on-small {
  @include oGridRespondTo($until: M) {
    display: none;
  }
}

.no-border-on-small {
  @include oGridRespondTo($until: M) {
    border-bottom: 0;
  }
}
