
<div class="article article__tone--fastft{% if mode === 'compact' %} article--compact{% endif %}" id="clamo-{{ item.uuid }}">
    <div class="article__primary-tag js-primary-section">
        fastFT 
    </div>
    <h3 class="article__headline">
        <a href="/fastft/{{ item.id }}/{{item.slug}}" class="article__link">
            {{ item.title }}
        </a>
    </h3>

    <div class="article__publication-date">
        {% include "../publication-date.html" with {item: {lastUpdated: item._datePublished}} %}
    </div>

    <div class="article__body">
        {{ item.content|raw }}
    </div>
</div>
