<div class="article-full article-full__tone--{{ item.visualTone }}" id="capi-{{ item.id }}">
    {% if item.has_video && flags.video.isSwitchedOn() %}
    <!-- {{ item.videos|json }} -->
    <video class="article-full__video" data-brightcove-ref="{{item.videos[0].fields.sourceReference}}" width="100%" controls poster="{{ item.largestImage.url }}">
     <source type="video/mp4">
Your browser does not support the video tag.
     </video>
     {% endif%}

     <button
         class="save-for-later js-save-for-later"
         data-capi="{{ item.id }}"
         data-headline="{{ item.headline }}"
         data-toggle-text=""
         aria-label="Save this article for later"
         title="Save this article for later" data-is-saved="false"></button>

     <div class="article-full__themes article-full__metadata-list">
        Latest in <ul>
        <li><a class="js-primary-section" href="/search?q={{ item.primarySection.taxonomy }}:{{ item.primarySection.name }}">{{ item.primarySection.name }}</a></li>
        {% if item.primaryTheme.name %}
        <li><a href="/search?q={{ item.primaryTheme.taxonomy }}:{{ item.primaryTheme.name }}">{{ item.primaryTheme.name }}</a></li>
        {% endif %}
    </ul>
</div>

<h3 class="article-full__headline">
    <a href="/{{ item.id }}" class="article-full__link article-card__link">
        {{ item.headline }}
    </a>
</h3>


<div class="article-full__publication-date">
    {% include "../publication-date.html" with item %}
</div>

<section class="article-full__metadata">
    <div class="clearfix border-b">
        {% if item.authors.length > 0 %}
        {% include "../byline.html" with item %}
        {% endif %}

        <div class="article-full__length">
            {% include "../length.html" with item %}
        </div> 
    </div>

    {% if item.people.length > 0 || item.organisations.length > 0 %}
    <div class="border-b article-full__metadata-list">
        Mentions
        <ul>
            {% for entity in item.people %}<li><a href="/search?q={{ entity.searchString }}">{{ entity.name }}</a></li>{% endfor %}
            {% for entity in item.organisations %}<li><a href="/search?q={{ entity.searchString }}">{{ entity.name }}</a></li>{% endfor %}
            {% for entity in item.regions %}<li><a href="/search?q={{ entity.searchString }}">{{ entity.name }}</a></li>{% endfor %}
            {% for entity in item.topics %}<li><a href="/search?q={{ entity.searchString }}">{{ entity.name }}</a></li>{% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if item.tickerSymbols.length > 0 && flags.marketData.isSwitchedOn() %}
    <div class="article-full__ticker-symbols">
        {% for symbol in item.tickerSymbols %}
        <a
        href="http://markets.ft.com/research/Markets/Tearsheets/Summary?s={{ symbol.code }}"
        class="article-full__ticker-symbols__item"
        data-ticker-symbols="{{ symbol.code }}"
        ></a>
        {% endfor %}
    </div>
    {% endif %}

</section>

{% if item.largestImage && isArticle %}
<a href="/{{ item.id }}" class="article-full__image">
   <img alt="{{item.largestImage.alt}}" src="{{ item.largestImage.url|resize(600) }}" class="article-full__image-{{ item.id }}"/>
</a>
{% endif %}


<div class="article-full__body">
    {{ item.paragraphs(0, 2, { removeImages: false }) }}
    <div class="js-more-on more-on" data-article-id="{{ item.id }}"></div>
    {{ item.paragraphs(2, 100, { removeImages: false }) }}

       <p>
        <span class="recommend js-recommend"
            data-capi="{{ item.id }}"
            data-headline="{{ item.headline }}"
            data-toggle-text="Recommended by you" aria-label="Recommend this article" title="Recommend this article">
                    Recommend this article
            </span>
        </p>

</div>

</div>
