<div class="myft-email-signup js-myft-email-signup myft-email-signup--from-email" data-trackable="myft-email-signup" data-o-grid-colspan="12 L8 XL7 XLoffset1" data-o-component="o-expander">
	<a class="myft-email-signup__title" href="/myft/my-topics" data-trackable="logo">
		<span class="myft-email-signup__title-text"><span class="myft-ui__icon"><span class="u-visually-hidden">My FT</span></span>Email alerts</span>
	</a>
	<div class="more-on__content">
	{{> next-myft-ui/templates/prefer
			buttonText="Subscribe"
			alternateButtonText="Unsubscribe"
			preferenceName="email-daily-digest"
			label="Get a daily digest email with updates on the topics you follow" }}

	{{> next-myft-ui/templates/prefer
			buttonText="Subscribe"
			alternateButtonText="Unsubscribe"
			preferenceName="email-weekly-digest"
			label="Get a weekly digest email with comment and analysis on the topics you follow" }}
	</div>
</div>
