<div class="first-click-free-barrier">
	<h2>Continue to read FT content...</h2>

	<p class="first-click-free-barrier__already-registered">Already a subscriber? <a href="{{firstClickFree.signInLink}}">Sign in</a>
	</p>

	<p class="first-click-free-barrier__description">Features include FT Alphaville plus selected FT blogs, Unlimited FT.com article access, Unlimited mobile and tablet access, Unlimited fastFT. 5 year company financials archive.</p>

	<p class="anonymous-barrier__subscribe-now"><a href="{{firstClickFree.subscribeNowLink}}">Subscribe now</a></p>
</div>