{{#with tag}}
	<div class="n-content-box n-content-u-border--all">
		<div class="n-content-box__title n-content-u-margin--bottom-none">
			<h3 class="{{#if ../isHeader}}follow-promo__header-logo {{/if}}n-content-box__title-text n-content-u-background-color--pink">
				<i class="c-myft-logo"></i>
				<span class="n-util-visually-hidden">myFT</span>
			</h3>
		</div>
		<div class="u-margin--left-right {{#if ../center}}u-align-center{{/if}}">
			{{#if ../center}}
			<div class="u-margin--bottom">
			{{/if}}
				<p class="u-margin--none">Never miss a story {{title}}:</p>
				<a href="{{url}}" data-trackable="tag" class="n-content-topic n-content-topic--medium n-content-topic--link {{#unless ../center}}n-content-topic--with-follow{{/unless}}">{{name}}</a>
			{{#if ../center}}
			</div>
			{{/if}}
			{{#if @root.flags.myFtApi}}
				{{>next-myft-ui/templates/follow version='3' conceptId=id name=prefLabel taxonomy=taxonomy size=../buttonSize}}
			{{/if}}
		</div>
	</div>
{{/with}}
