<div class="article__more-on">
	<div class="o-grid-row">

		{{#if @root.flags.myFTReadingListOnArticle}}
			{{>email-signup}}
			{{#unless @root.flags.myFTTray}}
				{{>reading-list}}
			{{/unless}}
		{{/if}}

		{{#if @root.flags.articleRelatedContent}}
			<div data-trackable="more-on" data-o-grid-colspan="12 L8 XL7 XLoffset1">
				<div class="js-more-on-topic" data-metadata-fields="primaryTheme {{#if isColumnist}}authors{{else}}primarySection{{/if}}" role="region">
					{{#primaryTag}}
						{{>n-topic/templates/bar headingLevel="h2"}}
					{{/primaryTag}}
				</div>
				<div class="js-related" data-taxonomy="organisations" role="region"></div>
				<div class="js-related" data-taxonomy="people" role="region"></div>
				<div class="js-related" data-taxonomy="regions" role="region"></div>
				<div class="js-related" data-taxonomy="topics" role="region"></div>
			</div>
		{{/if}}
	</div>
</div>
