
<div
	role="region"
	class="article-tags n-content-box n-content-u-border--all"
	data-trackable="mentions"
	aria-labelledby="my-ft-title">
	<div class="n-content-box__title n-content-u-margin--bottom-none">
		<h3 class="n-content-box__title-text n-content-u-background-color--page">
			<i class="c-myft-logo"></i>
			<span class="n-util-visually-hidden">myFT</span>
		</h3>
	</div>
	<div class="article-tags__intro">
		<p>Follow the topics mentioned in this article</p>
	</div>
	<ul class="article-tags__tags">
		{{#each tags}}
		<li class="article-tags__tag">
			<a
				href="{{url}}"
				data-trackable="tag"
				class="n-content-topic n-content-topic--with-follow n-content-topic--link">{{name}}</a>
			{{#if @root.flags.myFtApi}}
			{{>next-myft-ui/templates/follow version='3' conceptId=id}}
			{{/if}}
		</li>
		{{/each}}
	</ul>
	<div class="article-tags__product-tour">
		<a
			href="/myft/product-tour"
			data-trackable="myFT-product-tour"
			class="article-tags__product-tour--link">Take a tour of <i>my</i>FT</a>
	</div>
</div>
