<button class="myft-tray__cta js-myft-tray-cta is-hidden">myFT</button>

<section class="myft-tray js-myft-tray is-hidden">
	<header class="myft-tray__header">
		<h3 class="myft-tray__logo">myFT</h3>
		<a class="myft-tray__manage" href="/myft/my-topics">Manage</a>
	</header>
	<div  class="myft-tray__content">
		<nav>
		<ul class="myft-tray__tabs">
			<li class="myft-tray__tab"><button data-tab-id="my-feed">My feed</button></li>
			<li class="myft-tray__tab"><button data-tab-id="my-topics">My topics</button></li>
		</ul>
		</nav>
		<div id="my-feed">
			<div class="myft-tray__feed js-myft-tray-feed"></div>
			<a href="/myft/my-feed">See all ></a>
		</div>
		<div id="my-topics">
			<ul class="myft-tray__topics"></ul>
		</div>
	</div>
</section>

