<li class="pod__item-wrapper {{#ifEquals @index 0}}pod__item-wrapper--lead{{/ifEquals}} {{#if mainImage}}pod__item-wrapper--image{{/if}}">
	<div class="pod__item" data-trackable="pod-{{@index}}">
		{{#ifEquals @index 0}}
			{{#if mainImage}}
				<div class="pod__item__image--placeholder">
					<a class="pod__item__image" href="{{url}}" data-trackable="link-article-image">
						{{>n-image/templates/image image=mainImage}}
					</a>
				</div>
			{{/if}}
		{{/ifEquals}}
		<div class="pod__item__content">
			{{#if primaryTag}}
				<a class="n-content-tag" href="{{primaryTag.url}}" data-trackable="link-topic-title">
					{{primaryTag.prefLabel}}
				</a>
			{{/if}}
			<h3 class="pod__item__headline">
				<a class="pod__item__headline-link" href="{{url}}" data-trackable="link-article-headline">{{title}}</a>
			</h3>
			{{#if subheading}}
				<p class="pod__item__subheading">{{subheading}}</p>
			{{/if}}
		</div>
		<div class="pod__item__time">
			<time data-o-component="o-date" class="o-date" data-recent="{{isRecent}}" datetime="{{#dateformat}}{{publishedDate}}{{/dateformat}}">
				{{#dateformat "dddd, d mmmm, yyyy"}}{{publishedDate}}{{/dateformat}}
			</time>
		</div>
	</div>
</li>
