<li class="pod__item-wrapper{{#if image}} pod__item-wrapper--with-image{{/if}}">
	<div class="pod__item">
		{{#if image}}
			<a class="pod__item__image" href="{{url}}" data-trackable="image">
				{{>n-image/templates/image}}
			</a>
		{{/if}}
		<div class="pod__item__content">
			{{#if tag}}
				{{#tag}}
					<a class="pod__item__tag" href="{{url}}" data-trackable="tag">{{name}}</a>
				{{/tag}}
			{{/if}}
			<h3 class="pod__item__headline">
				{{#headline}}
					<a class="pod__item__headline-link" href="{{url}}" data-trackable="headline">{{text}}</a>
				{{/headline}}
			</h3>
			<p class="pod__item__subheading">{{subheading}}</p>
		</div>
		<div class="pod__item__time">
			<time data-o-component="o-date" class="o-date n-card__time__content" data-recent="{{isRecent}}" datetime="{{#dateformat}}{{lastUpdated}}{{/dateformat}}">
				{{#dateformat "dddd, d mmmm, yyyy"}}{{lastUpdated}}{{/dateformat}}
			</time>
		</div>
	</div>
</li>
