<div data-trackable="podcast-more-episodes" role="region">
	<div class="pod">
		{{#with primaryTag}}
		<div class="header">
			<h2 class="header__name">More episodes from {{name}}</h2>
			{{#if @root.flags.myFtApi }}
				{{>next-myft-ui/templates/follow version='3' conceptId=id}}
			{{/if}}
			<a class="header__link" href="/stream/{{taxonomy}}Id/{{id}}" data-trackable="show-link">
				<span class="header__link__text">Go to {{name}}</span>
			</a>
		</div>
		{{/with}}
		<ul class="pod__items">
			{{#each relatedContent}}{{>pod-item}}{{/each}}
		</ul>
	</div>
</div>
