{{#with externalLinks}}
	<p data-trackable="podcast-services">
		Subscribe!
		{{#if itunes}}<a data-trackable="itunes" href="{{itunes}}">iTunes</a>{{/if}}
		{{#if stitcher}}<a data-trackable="stitcher" href="{{stitcher}}">Stitcher</a>{{/if}}
		{{#if audioboom}}<a data-trackable="audioboom" href="{{audioboom}}">audioBoom</a>{{/if}}
		{{#if soundcloud}}<a data-trackable="soundcloud" href="{{soundcloud}}">SoundCloud</a>{{/if}}
		{{#if overcast}}<a data-trackable="overcast" href="{{overcast}}">Overcast</a>{{/if}}
	</p>
{{/with}}
