<div class="propensity-messaging-promo-unit">

    <article class="promo-unit-msg">

        <div class="promo-unit-msg__lined-header">
            <div class="promo-unit-msg__lined-header__inner">
                <div class="o-grid-container">
                    <div class="o-grid-row">
                        <div data-o-grid-colspan="12 XL11 XLoffset1" class="promo-unit-msg__lined-header__heading-container--contents-centered">
                            <h1 class="promo-unit-msg__heading promo-unit-msg__lined-header__heading">
                                You may also be interested in
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="promo-unit-msg__related-content">
            <div class="o-grid-container">
                <div class="o-grid-row">
                    <div data-o-grid-colspan="12 XL11 XLoffset1">
                        <p class="promo-unit-msg__related-content-subheading">
                            6 stories have been published on Oil and Gas this week
                        </p>
                        <div class="o-grid-container thin-container">
                            <div class="promo-unit-msg__related-content-items o-grid-row">
                                <div class="promo-unit-msg__related-content-item" data-o-grid-colspan="12 L4">
                                    <img class="promo-unit-msg__related-content-image" src="//next-geebee.ft.com/assets/propensity-messaging/Oil.png"></img>
                                    <p class="promo-unit-msg__related-content-tag">
                                        Oil
                                    </p>
                                    <p class="promo-unit-msg__related-content-headline">
                                        Ex Goldman trader keeps oil loans flowing
                                    </p>
                                </div>
                                <div class="promo-unit-msg__related-content-item" data-o-grid-colspan="6 L4">
                                    <img class="promo-unit-msg__related-content-image" src="//next-geebee.ft.com/assets/propensity-messaging/Manufacturing.png"></img>
                                    <p class="promo-unit-msg__related-content-tag">
                                        UK Manufacturing
                                    </p>
                                    <p class="promo-unit-msg__related-content-headline">
                                        Oil and gas lift UK industrial output
                                    </p>
                                </div>
                                <div class="promo-unit-msg__related-content-item" data-o-grid-colspan="6 L4">
                                    <img class="promo-unit-msg__related-content-image" src="//next-geebee.ft.com/assets/propensity-messaging/Markets.png"></img>
                                    <p class="promo-unit-msg__related-content-tag">
                                        Markets
                                    </p>
                                    <p class="promo-unit-msg__related-content-headline">
                                        Stocks firm as oil rise boosts groups
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="promo-unit-msg__lined-header">
            <div class="promo-unit-msg__lined-header__inner">
                <div class="o-grid-container">
                    <div class="o-grid-row">
                        <div data-o-grid-colspan="12 XL11 XLoffset1">
                            <h1 class="promo-unit-msg__heading promo-unit-msg__lined-header__heading">
                                Best from the FT
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="promo-unit-msg__best-from-ft">
            <div class="o-grid-container">
                <div class="o-grid-row">
                    <div data-o-grid-colspan="12 XL11 XLoffset1">
                        <div class="promo-unit-msg__best-from-ft-items o-grid-container">
                            <div class="promo-unit-msg__best-from-ft-item o-grid-row">
                                <div class="promo-unit-msg__best-from-ft-item-top-pictures" data-o-grid-colspan="12 Mhide">
                                    <div class="overlapping-images overlapping-images--centered">
                                        <img class="overlapping-images__hind-img" src="http://next-geebee.ft.com/assets/propensity-messaging/global-large-hi.jpg"></img>
                                        <img class="overlapping-images__fore-img" src="http://next-geebee.ft.com/assets/propensity-messaging/global-small-hi.jpg"></img>
                                    </div>
                                </div>
                                <div class="promo-unit-msg__best-from-ft-item-caption" data-o-grid-colspan="12 M5">
                                    <p class="promo-unit-msg__best-from-ft-stream-name">
                                        Global Economy
                                    </p>
                                    <p class="promo-unit-msg__best-from-ft-stream-description">
                                        The FT brings a uniquely global perspective to news coverage, from the Greek Crisis to China’s slowdown.
                                    </p>
                                </div>
                                <div class="promo-unit-msg__best-from-ft-item-pictures" data-o-grid-colspan="hide M7">
                                    <div class="overlapping-images promo-unit-msg__best-from-ft-item-overlapping-images">
                                        <img class="overlapping-images__hind-img"src="http://next-geebee.ft.com/assets/propensity-messaging/global-large-hi.jpg">
                                        <img class="overlapping-images__fore-img"src="http://next-geebee.ft.com/assets/propensity-messaging/global-small-hi.jpg"></img>
                                    </div>
                                </div>
                            </div>
                            <div class="promo-unit-msg__best-from-ft-item o-grid-row">
                                <div class="promo-unit-msg__best-from-ft-item-top-pictures" data-o-grid-colspan="12 Mhide">
                                    <div class="overlapping-images overlapping-images--centered">
                                        <img class="overlapping-images__hind-img" src="http://next-geebee.ft.com/assets/propensity-messaging/bigread-large-hi.jpg"></img>
                                        <img class="overlapping-images__fore-img" src="http://next-geebee.ft.com/assets/propensity-messaging/bigread-small-hi.jpg"></img>
                                    </div>
                                </div>
                                <div class="promo-unit-msg__best-from-ft-item-caption" data-o-grid-colspan="12 M5">
                                    <p class="promo-unit-msg__best-from-ft-stream-name">
                                        The Big Read
                                    </p>
                                    <p class="promo-unit-msg__best-from-ft-stream-description">
                                        A daily feature that analyses key issues on a broad range of subjects, from climate change to new market trends.
                                    </p>
                                </div>
                                <div class="promo-unit-msg__best-from-ft-item-pictures" data-o-grid-colspan="hide M7">
                                    <div class="overlapping-images promo-unit-msg__best-from-ft-item-overlapping-images">
                                        <img class="overlapping-images__hind-img" src="http://next-geebee.ft.com/assets/propensity-messaging/bigread-large-hi.jpg"></img>
                                        <img class="overlapping-images__fore-img" src="http://next-geebee.ft.com/assets/propensity-messaging/bigread-small-hi.jpg"></img>
                                    </div>
                                </div>
                            </div>
                            <div class="promo-unit-msg__best-from-ft-item o-grid-row">
                                <div class="promo-unit-msg__best-from-ft-item-top-pictures" data-o-grid-colspan="12 Mhide">
                                    <div class="overlapping-images overlapping-images--centered" >
                                        <img class="overlapping-images__hind-img" src="http://next-geebee.ft.com/assets/propensity-messaging/special-large-hi.jpg"></img>
                                        <img class="overlapping-images__fore-img" src="http://next-geebee.ft.com/assets/propensity-messaging/special-small-hi.jpg"></img>
                                    </div>
                                </div>
                                <div class="promo-unit-msg__best-from-ft-item-caption" data-o-grid-colspan="12 M5">
                                    <p class="promo-unit-msg__best-from-ft-stream-name">
                                        Special Reports
                                    </p>
                                    <p class="promo-unit-msg__best-from-ft-stream-description">
                                        In-depth overviews of places, industries and business topics in the news - from Asia to aerospace, and global brands to graduate recruitment.
                                    </p>
                                </div>
                                <div class="promo-unit-msg__best-from-ft-item-pictures" data-o-grid-colspan="hide M7">
                                    <div class="overlapping-images promo-unit-msg__best-from-ft-item-overlapping-images">
                                        <img src="http://next-geebee.ft.com/assets/propensity-messaging/special-large-hi.jpg" class="overlapping-images__hind-img"></img>
                                        <img src="http://next-geebee.ft.com/assets/propensity-messaging/special-small-hi.jpg" class="overlapping-images__fore-img"></img>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="promo-unit-msg__sign-up">
            <a class="promo-unit-msg__sign-up-text">
                Sign up for a £1 trial today
            </a>
        </div>
    </article>
</div>
