<div class="propensity-messaging-promo-unit">

    <article class="promo-unit">

        <div class="promo-unit__lined-header">
            <div class="promo-unit__lined-header__inner">
                <div class="o-grid-container">
                    <div class="o-grid-row">
                        <div data-o-grid-colspan="12 XL11 XLoffset1" class="promo-unit__contents--centered-on-medium">
                            <h1 class="promo-unit__heading promo-unit__lined-header__heading promo-unit__heading--financier-medium">
                                More from the FT
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="o-grid-container">
            <div class="o-grid-row">
                <div data-o-grid-colspan="12 XL11 XLoffset1">

                    <div class="o-grid-container">

                        <div class="promo-unit__highlight o-grid-row">

                            <div class="promo-unit__caption" data-o-grid-colspan="hide M3">
                                <div class="promo-unit__caption-heading">600</div>
                                <div class="promo-unit__caption-body">Journalists working around the clock to provide news insights you can act on</div>
                            </div>

                            <div class="promo-unit__caption" data-o-grid-colspan="12 Mhide">
                                <div class="o-grid-container">
                                    <div class="o-grid-row">
                                        <div class="promo-unit__caption-heading promo-unit__caption-heading--large">600</div>
                                        <div class="promo-unit__caption-body promo-unit__caption-body--small promo-unit__caption-body--vertically-centered">Journalists working around the clock to provide news insights you can act on</div>
                                    </div>
                                </div>
                            </div>

                            <div class="promo-unit__media" data-o-grid-colspan="6 M3">
                                <img class="promo-unit__media__image" src="http://next-geebee.ft.com/assets/propensity-messaging/global-large-hi.jpg"></img>
                                <div class="promo-unit__media__tag">Martin Wolf</div>
                                <div class="promo-unit__media__description">Chief economics commentator</div>
                            </div>

                            <div class="promo-unit__media" data-o-grid-colspan="6 M3">
                                <img class="promo-unit__media__image" src="http://next-geebee.ft.com/assets/propensity-messaging/global-large-hi.jpg"></img>
                                <div class="promo-unit__media__tag">Gideon Rachman</div>
                                <div class="promo-unit__media__description">Chief foreign affairs columnist</div>
                            </div>

                            <div class="promo-unit__media" data-o-grid-colspan="6 M3">
                                <img class="promo-unit__media__image" src="http://next-geebee.ft.com/assets/propensity-messaging/global-large-hi.jpg"></img>
                                <div class="promo-unit__media__tag">Lucy Kellaway</div>
                                <div class="promo-unit__media__description">Management columnist</div>
                            </div>
                        </div>

                        <hr class="promo-unit__lined-border hide-on-small">

                        <div class="promo-unit__highlight promo-unit__highlight--no-bottom-border hide-on-small o-grid-row">
                            <div class="promo-unit__caption" data-o-grid-colspan="3">
                                <div class="promo-unit__caption-heading promo-unit__caption-heading--medium promo-unit__caption-heading--vertically-centered">Business, finance & more...</div>
                            </div>
                            <div class="promo-unit__media" data-o-grid-colspan="3">
                                <img class="promo-unit__media__image" src="http://next-geebee.ft.com/assets/propensity-messaging/global-large-hi.jpg"></img>
                                <div class="promo-unit__media__tag">Energy</div>
                            </div>
                            <div class="promo-unit__media" data-o-grid-colspan="3">
                                <img class="promo-unit__media__image" src="http://next-geebee.ft.com/assets/propensity-messaging/global-large-hi.jpg"></img>
                                <div class="promo-unit__media__tag">Technology</div>
                            </div>
                            <div class="promo-unit__media" data-o-grid-colspan="3">
                                <img class="promo-unit__media__image" src="http://next-geebee.ft.com/assets/propensity-messaging/global-large-hi.jpg"></img>
                                <div class="promo-unit__media__tag">Life & Arts</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- this is the same from here -->

        <div class="promo-unit__lined-header">
            <div class="promo-unit__lined-header__inner">
                <div class="o-grid-container">
                    <div class="o-grid-row">
                        <div data-o-grid-colspan="12 XL11 XLoffset1" class="promo-unit__contents--centered-on-medium">
                            <h1 class="promo-unit__heading promo-unit__lined-header__heading promo-unit__heading--financier-large">
                                Best from the FT
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="promo-unit__best-from-ft">
            <div class="o-grid-container">
                <div class="o-grid-row">
                    <div data-o-grid-colspan="12 XL11 XLoffset1">

                        <div class="promo-unit__best-from-ft-items o-grid-container">

                            <div class="promo-unit__highlight o-grid-row">
                                <div class="promo-unit__best-from-ft-item-top-pictures" data-o-grid-colspan="12 Mhide">
                                    <div class="overlapping-images overlapping-images--centered">
                                        <img class="overlapping-images__hind-img" src="http://next-geebee.ft.com/assets/propensity-messaging/global-large-hi.jpg"></img>
                                        <img class="overlapping-images__fore-img" src="http://next-geebee.ft.com/assets/propensity-messaging/global-small-hi.jpg"></img>
                                    </div>
                                </div>

                                <div class="promo-unit__item--pos-relative" data-o-grid-colspan="12 M5">
                                    <div class="promo-unit__caption promo-unit__highlight-grid-caption">
                                        <div class="promo-unit__caption-heading promo-unit__caption-heading--medium promo-unit__contents--aligned-center">
                                            Global Economy
                                        </div>
                                        <p class="promo-unit__caption-body promo-unit__contents--aligned-center">
                                            The FT brings a uniquely global perspective to news coverage,
                                            from the Greek Crisis to China’s slowdown.
                                        </p>
                                    </div>

                                </div>

                                <div class="promo-unit__best-from-ft-item-pictures" data-o-grid-colspan="hide M7 ">
                                    <div class="overlapping-images promo-unit__best-from-ft-item-overlapping-images">
                                        <img class="overlapping-images__hind-img"src="http://next-geebee.ft.com/assets/propensity-messaging/global-large-hi.jpg">
                                        <img class="overlapping-images__fore-img"src="http://next-geebee.ft.com/assets/propensity-messaging/global-small-hi.jpg"></img>
                                    </div>
                                </div>
                            </div>


                            <hr class="promo-unit__lined-border">


                            <div class="promo-unit__highlight o-grid-row">
                                <div class="promo-unit__best-from-ft-item-top-pictures" data-o-grid-colspan="12 Mhide">
                                    <div class="overlapping-images overlapping-images--centered">
                                        <img class="overlapping-images__hind-img" src="http://next-geebee.ft.com/assets/propensity-messaging/bigread-large-hi.jpg"></img>
                                        <img class="overlapping-images__fore-img" src="http://next-geebee.ft.com/assets/propensity-messaging/bigread-small-hi.jpg"></img>
                                    </div>
                                </div>

                                <div class="promo-unit__item--pos-relative" data-o-grid-colspan="12 M5">
                                    <div class="promo-unit__caption promo-unit__highlight-grid-caption">
                                        <div class="promo-unit__caption-heading promo-unit__caption-heading--medium promo-unit__contents--aligned-center">
                                            The Big Read
                                        </div>
                                        <p class="promo-unit__caption-body promo-unit__contents--aligned-center">
                                            A daily feature that analyses key issues on a broad range of subjects, from climate change to new market trends.
                                        </p>
                                    </div>
                                </div>

                                <div class="promo-unit__best-from-ft-item-pictures" data-o-grid-colspan="hide M7">
                                    <div class="overlapping-images promo-unit__best-from-ft-item-overlapping-images">
                                        <img class="overlapping-images__hind-img" src="http://next-geebee.ft.com/assets/propensity-messaging/bigread-large-hi.jpg"></img>
                                        <img class="overlapping-images__fore-img" src="http://next-geebee.ft.com/assets/propensity-messaging/bigread-small-hi.jpg"></img>
                                    </div>
                                </div>
                            </div>


                            <hr class="promo-unit__lined-border">


                            <div class="promo-unit__highlight o-grid-row">
                                <div class="promo-unit__best-from-ft-item-top-pictures" data-o-grid-colspan="12 Mhide">
                                    <div class="overlapping-images overlapping-images--centered" >
                                        <img class="overlapping-images__hind-img" src="http://next-geebee.ft.com/assets/propensity-messaging/special-large-hi.jpg"></img>
                                        <img class="overlapping-images__fore-img" src="http://next-geebee.ft.com/assets/propensity-messaging/special-small-hi.jpg"></img>
                                    </div>
                                </div>

                                <div class="promo-unit__item--pos-relative" data-o-grid-colspan="12 M5">
                                    <div class="promo-unit__caption promo-unit__hightlight-grid-caption">
                                        <div class="promo-unit__caption-heading promo-unit__caption-heading--medium promo-unit__contents--aligned-center">
                                            Special Reports
                                        </div>
                                        <p class="promo-unit__caption-body promo-unit__contents--aligned-center">
                                            In-depth overviews of places, industries and business topics in the news - from Asia to aerospace, and global brands to graduate recruitment.
                                        </p>
                                    </div>
                                </div>


                                <div class="promo-unit__best-from-ft-item-pictures" data-o-grid-colspan="hide M7">
                                    <div class="overlapping-images promo-unit__best-from-ft-item-overlapping-images">
                                        <img src="http://next-geebee.ft.com/assets/propensity-messaging/special-large-hi.jpg" class="overlapping-images__hind-img"></img>
                                        <img src="http://next-geebee.ft.com/assets/propensity-messaging/special-small-hi.jpg" class="overlapping-images__fore-img"></img>
                                    </div>
                                </div>
                            </div>



                            <hr class="promo-unit__lined-border hide-on-small">


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="o-grid-container">
            <div class="o-grid-row">
                <div data-o-grid-colspan="12 XL11 XLoffset1">
                    <div class="promo-unit__button button--centred">
                        <a class="promo-unit__button-text">
                            Sign up for a £1 trial today
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </article>
</div>
