<div class="article-share o-grid-row" data-trackable="share">
<div data-o-component="o-share" class="o-share" data-o-grid-colspan="12 L8 XL7 XLoffset1">
	<h3 class="article-share__header">Share this article</h3>
	<ul>
		<li class="o-share__action o-share__action--twitter">
			<a target="_blank" href="https://twitter.com/intent/tweet?url=https://next.ft.com/content/{{id}}&amp;text={{encode (decodeHtmlEntities title)}}&amp;via=FT" data-trackable="twitter"><i>Twitter</i></a>
		</li>
		<li class="o-share__action o-share__action--facebook">
			<a target="_blank" href="http://www.facebook.com/sharer.php?u=https://next.ft.com/content/{{id}}&amp;t={{encode (decodeHtmlEntities title)}}" data-trackable="facebook"><i>Facebook</i></a>
		</li>
		<li class="o-share__action o-share__action--linkedin">
			<a target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://next.ft.com/content/{{id}}&amp;title={{encode (decodeHtmlEntities title)}}&amp;source=Financial+Times" data-trackable="linkedin"><i>LinkedIn</i></a>
		</li>
		<li class="o-share__action o-share__action--whatsapp" data-o-grid-colspan="Mhide">
			<a target="_blank" href="whatsapp://send?text={{encode (decodeHtmlEntities title)}}%20-%20https://next.ft.com/content/{{id}}" data-trackable="whatsapp"><i>Whatsapp</i></a>
		</li>
	</ul>
	<span class="article-share__count js-share-count" data-shared-url="{{webUrl}}"></span>

</div>

</div>
