<div class="article-share o-grid-row" data-trackable="share">
<div data-o-component="o-share" class="o-share" data-o-grid-colspan="12 L8 XL7 XLoffset1">
	<h3 class="article-share__header">Share this article</h3>
	<ul>
		<li class="o-share__action o-share__action--twitter" data-trackable="twitter">
			<a target="_blank" href="https://twitter.com/intent/tweet?url=https://next.ft.com/{{id}}&amp;text={{encode (decodeHtmlEntities title)}}&amp;via=FT"><i>Twitter</i></a>
		</li>
		<li class="o-share__action o-share__action--facebook" data-trackable="facebook">
			<a target="_blank" href="http://www.facebook.com/sharer.php?u=https://next.ft.com/{{id}}&amp;t={{encode (decodeHtmlEntities title)}}"><i>Facebook</i></a>
		</li>
		<li class="o-share__action o-share__action--linkedin" data-trackable="linkedin">
			<a target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://next.ft.com/{{id}}&amp;title={{encode (decodeHtmlEntities title)}}&amp;source=Financial+Times"><i>LinkedIn</i></a>
		</li>
		<li class="o-share__action o-share__action--whatsapp" data-trackable="whatsapp" data-o-grid-colspan="Mhide">
			<a target="_blank" data-share-title="{{title}}" data-share-url="https://next.ft.com/{{id}}" data-share-target="whatsapp"><i>Whatsapp</i></a>
		</li>
	</ul>
</div>
</div>
