<h1 class="stream-list__title" data-o-grid-colspan="12">
	<a href="/search?q={{item.primarySection.taxonomy}}:{{item.primarySection.name}}"> {{ item.primarySection.name }}</a>
</h1>

<div class="stream" data-o-grid-colspan="S12 M8 L8 XL8">
{% if type === 'fastft' %}
	{% include "../../bower_components/next-article-card-component/templates/fastft-full.html" with { item: item} %}
{% elseif type === 'feature' %}
	{% include "../../bower_components/next-article-card-component/templates/feature-full.html" with { item: item} %}
{% elseif type === 'news' %}
	{% include "../../bower_components/next-article-card-component/templates/news-full.html" with { item: item} %}
{% endif %}
</div>

<div data-o-grid-colspan="S12 M4 L4 XL4">
	<div class="js-more-on more-on" data-article-id="{{ item.id }}"></div>
	<div class="on-this-topic js-on-this-topic" data-metadata-field="primaryTheme" data-article-id="{{item.id}}"></div>
	<div class="on-this-topic js-on-this-topic" data-metadata-field="primarySection" data-article-id="{{item.id}}"></div>
</div>
