/node_modules/
/__attic/
/.sass-cache/
/.node-version
.DS_Store
npm-debug.log
/public/
/node-v*
/tmp/
.env
.idea/
/templates/components/bower/
.editorconfig
/tests/browser/reports
/tests/browser/screenshots
/npm-debug.log.*
bower_components
