/bower_components/
/node_modules/
/__attic/
/.sass-cache/
/.node-version
.DS_Store
npm-debug.log
/public/*.css
/public/*.js
!/public/polyfill.min.js
/node-v*
/tmp/
.env
.idea/
/templates/components/bower/
.editorconfig
public/main.css-asset-hash.json
public/main.js-asset-hash.json
public/main.js.map