@import "o-share/main";

@include oShareBase(o-share);
@include oShareActionIcon(facebook, o-share);
@include oShareActionIcon(twitter, o-share);
@include oShareActionIcon(whatsapp, o-share);
@include oShareActionIcon(linkedin, o-share);

.article__share {

	position: relative;
	margin: 15px 0;
	padding: 5px 0;
	border-top: 1px solid getColor('warm-3');
	border-bottom: 1px solid getColor('warm-3');

	&__count {
		@include nTypeAlphaSize(4);
		overflow: hidden;
		position: relative;
		top: -5px;
		display: none;
		@include oGridRespondTo(S) {
			display: inline;
		}
	}

	&__comments {
		@include nTypeAlphaSize(4);
		border-bottom-width: 0;
		float: right;
		margin-right: 16px;
		&:before {
			@include nextIcon(comment, getColorFor('link', 'text'), 17);
			content: '';
			position: relative;
			top: 5px;
			margin-right: 5px;
		}
	}

	.o-share__action a {
		border-bottom-width: 0;
		padding: 0 6px;
	}

	.o-share__action--whatsapp {
		@include oGridColspan((M: hide));
		@include oGridRemoveGutters();
		padding: 0;
	}

	.article__save {
		float: right;
	}

}
