@import "o-share/main";

@include oShareBase(o-share);
@include oShareActionIcon(facebook, o-share);
@include oShareActionIcon(twitter, o-share);
@include oShareActionIcon(whatsapp, o-share);
@include oShareActionIcon(linkedin, o-share);

.article__share {
	margin-bottom: $spacing-unit;
	display: block;
	overflow: hidden;

	&__count {

		display: inline-block;
		overflow: hidden;
		padding: 9px;
	}

	.o-share__action--whatsapp {
		@include oGridColspan((M: hide));
		@include oGridRemoveGutters();
	}

	@include oGridRespondTo(XL) {
		@include oShareVertical();
		&.o-grid-row {
			width: 48px;
			position: absolute;
			left: -48px;
			text-align: center;
		}
		.article__share__count {
			display: block;
			padding: 9px 0;
		}
	}
}
