<div class="icon__trigram">☰ <small class="trigram__label">menu</small></div> <!-- FIXME - move to PNG/SVG icons -->

<section class="ft-header home__label">
    <a href="/">
        <img src="/dobi/components/header/masthead.png" class="logo" />
    </a>
</section>

<div class="search__container">
	<form action="/search">
		<input type="search" name="q" placeholder="Search" />
	</form>
</div>

<div class="splash__container">
    {% include "../splash/base.html" %}
</div>

{% if context %}
    <section class="ft-header-context">
        {{ context }}
    </section>
{% endif %}

<script src="/dobi/components/header/main.js"></script>
