.ft-header {
    background-color: #303030;
    color: #fff;
    text-align: center;
    font-size: 25px;
    padding: 25px 0;
}

.ft-header-context {
    background-color: #535353;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
}
