.ft-header {
    background-color: #303030;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 15px 0;
}

.ft-header:hover {
    color: red;
    cursor: pointer;
}

.ft-header-context {
    background-color: #f3f3f3;
    color: #505050;
    text-align: center;
    font-size: 30px;
    padding: 20px 0;
    text-shadow: 1px 1px #fff;
}
