<article class="article" data-content-id="{{id}}" data-trackable="article-v1">
	<div class="article__header" data-trackable="header">
		<div class="article__header-inner o-grid-row">
			<div data-o-grid-colspan="12 L8 XL7 XLoffset1">
				<h3 class="article__title">{{{title}}}</h3>
				{{#if standFirst}}
					<h4 class="article__stand-first">{{{standFirst}}}</h4>
				{{/if}}
				<div class="article__meta">
					<p class="article__byline">
						{{{byline}}}
					</p>
					<div class="o-grid-row">
						<div data-o-grid-colspan="12 S6">
							<time class="article__timestamp ng-meta o-date" data-o-component="o-date" datetime="{{#dateformat}}{{publishedDate}}{{/dateformat}}" data-o-date-js>
								{{#dateformat "dddd, d mmmm, yyyy"}}{{publishedDate}}{{/dateformat}}
							</time>
						</div>
						<div class="article__actions" data-o-grid-colspan="12 S6">
							{{>next-myft-ui/templates/save-for-later contentId=id}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="article__main o-grid-row">
		<div data-o-grid-colspan="12 L8 XL7 XLoffset1">
			<div class="article__body">
				<div class="article__warning">
					<p>
					We are not yet able to show this article in its full form on the Alpha FT website.<br />
						<a href="{{falconUrl}}?ft_site=falcon" class="article__warning__link"> Return to FT.com to view this article in full without opting out.</a>
					</p>
				</div>
				{{{body}}}
			</div>
		</div>
		<div class="article__rail-advert" data-o-grid-colspan="0 L4 XL3 XLoffset1">
		</div>
	</div>
</article>

{{>more-ons}}
