{{#defineBlock 'head'}}
	{{#if dfp.dfpSite}}
	<meta name="dfp_site" content="{{dfp.dfpSite}}" />
	{{/if}}
	{{#if dfp.dfpZone}}
	<meta name="dfp_zone" content="{{dfp.dfpZone}}" />
	{{/if}}
	{{> rel-canonical}}
{{/defineBlock}}
<article id="site-content" role="main" class="article{{#if designGenre}} article--brand {{#if designGenre.headshot}}article--brand--headshot{{/if}}{{/if}}" data-content-id="{{id}}" data-content-sources="{{#if articleV1}}v1{{/if}} {{#if articleV2}}v2{{/if}}" data-trackable="article" data-trackable-terminate>
	<div class="article-header-ad-placeholder ad-placeholder"></div>
	<div class="article__header" data-trackable="header">
		<div class="o-grid-container">
			<div class="article__header-inner {{#if mainImageHtml}}article__header-inner--main-image{{/if}} o-grid-row">
				{{#if barrier}}
				<div data-o-grid-colspan="12 L12 XL12">
				{{else}}
				<div data-o-grid-colspan="12 L8 XL7 XLoffset1">
				{{/if}}
					<header class="article__header--wrapper {{#if mainImageHtml}}article__header--wrapper--main-image{{/if}}">
						<div class="article__header-primary">
							{{#if isSpecialReport}}
								<p class="article__primary-theme">
									Special Report:
									<a href="/special-reports/{{primaryTag.id}}" class="n-content-tag n-content-tag--medium n-content-tag--with-follow n-content-tag--link" data-trackable="section-link" aria-label="posted in category {{primaryTag.name}}" data-concept-id="{{primaryTag.id}}">{{primaryTag.name}}</a>
								</p>
							{{else}}
								{{#if primaryTag}}
									<div class="article__primary-theme" data-trackable="primary-theme">
										<a href="/stream/{{primaryTag.taxonomy}}Id/{{primaryTag.id}}" class="n-content-tag n-content-tag--medium n-content-tag--with-follow n-content-tag--link" data-trackable="section-link" aria-label="posted in category {{primaryTag.name}}" data-concept-id="{{primaryTag.id}}">{{primaryTag.name}}</a>
										{{#ifAll @root.flags.myFtApi @root.flags.articleFollowPrimayTag}}
											<span{{#if tagToFollow}} class="n-content-u-hide--L"{{/if}}>
												{{>next-myft-ui/templates/follow version='3' conceptId=primaryTag.id name=primaryTag.prefLabel taxonomy=primaryTag.taxonomy}}
											</span>
										{{/ifAll}}
									</div>
								{{/if}}
							{{/if}}
							<h1 class="article__title">{{title}}</h1>
						</div>
						<div class="article__header-secondary">
							{{#if standFirst}}
								<p class="article__stand-first">{{{standFirst}}}</p>
							{{/if}}
							{{#if designGenre}}
								<div class="article__brand--wrapper">
									<a class="article__brand--title n-content-tag" href={{designGenre.url}} data-trackable="brand">{{designGenre.name}}</a>
								</div>
							{{/if}}
						</div>
					</header>
					{{#if designGenre.headshot}}
					<div class="article__header-headshot">
						<img
							class="article__header-headshot--image"
							src="{{designGenre.headshot}}?source=next&amp;fit=scale-down&amp;width=150&amp;compression=best&amp;format=png&amp;quality=highest&amp;dpr=2">
					</div>
					{{/if}}
				</div>
				{{#if tagToFollow}}
					<aside class="article__aside o-grid-remove-gutters--XL follow-promo" data-o-grid-colspan="hide L4 XL3 XLoffset1" data-trackable="follow-promo-header" role="complementary" aria-hidden="true">
						{{>follow-promo center=true tag=tagToFollow buttonSize="big" isHeader=true}}
					</aside>
				{{else}}
					{{#if readNextArticle}}
						{{>read-next-header article=readNextArticle}}
					{{else}}
						{{#if tags}}
						<aside
							role="complementary"
							data-o-grid-colspan="hide L3 Loffset1"
							class="article__tags {{#if mainImageHtml}}article__tags--main-image{{/if}}">
							<h3 class="article__tags-title">Topics mentioned in this article</h3>
							<ul class="article__tags-list" data-trackable="tags">
								{{#each tags}}
								<li class="article__tag">
									<a
										href="{{url}}"
										class="n-content-tag n-content-tag--link n-content-tag--list"
										data-trackable="tag"
										{{#if id}}data-concept-id="{{id}}"{{/if}}>{{name}}</a>
								</li>
								{{/each}}
							</ul>
						</aside>
						{{/if}}
					{{/if}}
				{{/if}}
			</div>
		</div>
	</div>
	<div class="article__wrapper {{#if mainImageHtml}}article__wrapper--main-image{{/if}}">
		{{#if bodyHtml}}
		<div class="o-grid-container">
			<div class="article__main o-grid-row">
				<div data-o-grid-colspan="12 L8 XL7 XLoffset1">
					{{#if mainImageHtml}}
						{{{mainImageHtml}}}
					{{/if}}

					{{> social location='top'}}

					<div class="article__time-byline">
						{{#if publishedDate}}
							<time class="article__timestamp o-date" data-o-component="o-date" datetime="{{#dateformat}}{{publishedDate}}{{/dateformat}}" data-o-date-js>
							{{#dateformat "mmmm d, yyyy"}}{{publishedDate}}{{/dateformat}}
							</time>
						{{/if}}
						{{#if byline}}
							<p class="article__byline">by: {{{byline}}}</p>
						{{/if}}
					</div>
					{{#if tocHtml}}
						<div class="article__body--toc">
							{{{tocHtml}}}
						</div>
					{{/if}}
					{{> body bodyHtml=bodyHtml}}
					{{> social location='bottom'}}
					{{#if tagToFollow}}
						<aside class="article__aside n-content-u-padding--none follow-promo" data-o-grid-colspan="12 Lhide" data-trackable="follow-promo-article" role="complementary" aria-hidden="true">
							{{>follow-promo  tag=tagToFollow buttonSize="medium"}}
						</aside>
					{{/if}}
				</div>
			<div class="article__aside o-grid-remove-gutters--XL" data-o-grid-colspan="0 L4 XL3 XLoffset1">
				<div class="sidebar-ad-placeholder ad-placeholder"></div>
				{{#if @root.flags.articleSuggestedRead}}
					{{> suggested-reads items=readNextArticles }}
					{{> suggested-topic suggested=suggestedTopic }}
				{{/if}}
				{{{tocHtml}}}
			</div>
		</div>
	</div>
	{{/if}}
</article>
<div class="o-grid-container">
	<div class="o-grid-row">
		<div data-o-grid-colspan="12 L10 center">
			{{#if registerSimpleBarrier}}
				{{> barriers/register-simple}}
			{{/if}}

			{{#if registerGridBarrier}}
				{{> barriers/register-grid}}
			{{/if}}

			{{#if trialSimpleBarrier}}
				{{> barriers/trial-simple}}
			{{/if}}

			{{#if trialGridBarrier}}
				{{> barriers/trial-grid}}
			{{/if}}

			{{#if subscriptionGridBarrier}}
				{{> barriers/subscription-grid}}
			{{/if}}

			{{#if premiumSimpleBarrier}}
				{{> barriers/premium-simple}}
			{{/if}}

			{{#if corporateBarrier}}
				{{> barriers/corporate-simple}}
			{{/if}}
		</div>
	</div>
</div>

{{>propensity-messaging-promo-unit}}

{{#ifAll readNextArticle readNextArticle.moreRecent}}
	{{>read-next-bottom article=readNextArticle}}
{{/ifAll}}

<div class="o-grid-container">
	<div class="o-grid-row">
		{{#if isSpecialReport}}
			<div
				class="js-special-report"
				data-trackable="special-report"
				data-o-grid-colspan="12 XL11 XLoffset1"></div>
		{{else}}
			<div data-o-grid-colspan="12 L8 XL8 XLoffset1">
				{{#if @root.flags.articleRelatedContent}}
					<div class="js-story-package" data-trackable="story-package"></div>
					{{#if moreOns}}
						{{#if @root.flags.articleMoreOnTopicCard}}
							{{>more-ons-ab-test-b}}
						{{else}}
							{{>more-ons}}
						{{/if}}
					{{/if}}
				{{/if}}
			</div>
			{{#if tags}}
				<div data-o-grid-colspan="12 L4 XL3">
					{{>more-ons-tags}}
				</div>
			{{/if}}
		{{/if}}
	</div>

	{{#if comments.enabled}}
		<div class="o-grid-row">
			<div data-o-grid-colspan="12 L8 XL8 XLoffset1">
				<div
					id="comments"
					data-trackable="comments"
					class="article__comments o-comments n-util-hide@print"></div>
			</div>
		</div>
	{{/if}}

	{{#if barrierOverlay}}
		<div class="barrier-overlay"></div>
	{{/if}}

</div>

{{#if @root.flags.myFTTray}}
	{{>n-myft-tray/templates/tray}}
{{/if}}

<script type="text/json" id="dehydrated-metadata">{{{json dehydratedMetadata}}}</script>
