<article id="site-content" role="main" class="article" data-content-id="{{id}}" data-trackable="article-v1">
	<div class="article__header" data-trackable="header">
		<div class="article__header-inner o-grid-row">
			<div data-o-grid-colspan="12 L8 XL7 XLoffset1">
				<header>
					<div class="article__header-primary">
						<h1 class="article__title">{{{title}}}</h1>
					</div>
					<div class="article__header-secondary">
					{{#if standFirst}}
						<p class="article__stand-first">{{{standFirst}}}</p>
					{{/if}}
						<time class="article__timestamp o-date" data-o-component="o-date" datetime="{{#dateformat}}{{publishedDate}}{{/dateformat}}" data-o-date-js>
							{{#dateformat "dddd, d mmmm, yyyy"}}{{publishedDate}}{{/dateformat}}
						</time>
						<p class="article__byline">
							by: {{{byline}}}
						</p>
					</div>
				</header>		
				<div class="article__actions">
					{{>next-myft-ui/templates/save-for-later contentId=id}}
				</div>
			</div>
		</div>
	</div>
	<div class="article__main o-grid-row">
		<div data-o-grid-colspan="12 L8 XL7 XLoffset1">
			<div class="article__body">
				<div class="article__warning">
					<p>
					We are not yet able to show this article in its full form on the Alpha FT website.<br />
						<a data-trackable="temporary-opt-out" href="{{falconUrl}}?ft_site=falcon" class="article__warning__link" > Return to FT.com to view this article in full without opting out.</a>
					</p>
				</div>
				{{{body}}}
			</div>
		</div>
		<div class="article__rail-advert" data-o-grid-colspan="0 L4 XL3 XLoffset1">
		</div>
	</div>
</article>

{{>more-ons}}
