<article class="article{{#if showTOC}} article--toc{{/if}}" data-content-id="{{id}}" data-trackable="article" data-trackable-terminate>
	<div class="article__header{{#if headerOverlap}} article__header--overlap{{/if}}" data-trackable="header">
		<div class="article__header-inner o-grid-row">
			<div data-o-grid-colspan="12 L8 XL7 XLoffset1">
				<h3 class="article__title">{{{title}}}</h3>
				{{! TODO: Update to CAPI v2 when this is available ~end of Q1 }}
				{{! Probably something like article.summaries[0] }}
				{{#if articleV1.editorial.standFirst}}
					<h4 class="article__stand-first">{{{articleV1.editorial.standFirst}}}</h4>
				{{/if}}
				<div class="article__meta">
					{{#if showTOC}}
					<div class="toc">
						<div class="toc__title">Article quick links:</div>
						<ul class="toc__list">
						{{#each subheaders}}
							<li class="toc__item"><a class="toc__link" data-trackable="toc" href="#{{id}}">{{text}}</a></li>
						{{/each}}
						</ul>
					</div>
					{{/if}}
					<p class="article__byline">
						{{{byline}}}
					</p>
					<div class="o-grid-row">
						<div data-o-grid-colspan="12 S6">
							<time class="article__timestamp ng-meta o-date" data-o-component="o-date" datetime="{{#dateformat}}{{article.publishedDate}}{{/dateformat}}" data-o-date-js>
								{{#dateformat "dddd, d mmmm, yyyy"}}{{article.publishedDate}}{{/dateformat}}
							</time>
						</div>
					</div>
					<div class="o-grid-row">
						<div data-o-grid-colspan="12 S6" class="article__primary-theme">
						{{#if primaryTag}}
						<a href="/stream/{{primaryTag.taxonomy}}Id/{{primaryTag.id}}" class="article__primary-theme__link ng-title-link" data-trackable="section-link">{{primaryTag.name}}</a>
						{{/if}}
						</div>
						<div class="article__actions" data-o-grid-colspan="12 S6">
								{{>next-myft-ui/templates/save-for-later contentId=id}}

							<!-- <a class="article__actions__action" href="">Share</a> -->
						</div>
					</div>
				</div>
			</div>
			{{#if tags}}
				<div class="article__tags" data-o-grid-colspan="{{#if @root.flags.articleMobileTags}}12{{else}}hide{{/if}} L4">
					<h3 class="article__tags__title">Topics mentioned in this article</h3>
					<ul class="ng-list-reset" data-trackable="tags">
						{{#each tags}}
							<li class="article__tag">
								<a class="article__tag__link ng-title-link" href="{{url}}" data-trackable="tag">{{name}}</a>
							</li>
						{{/each}}
					</ul>
				</div>
			{{/if}}
		</div>
	</div>
	<div class="article__main o-grid-row">
		<div data-o-grid-colspan="12 L8 XL7 XLoffset1">
			{{#if body}}
				<div class="article__body">
					{{{body}}}
				</div>
			{{/if}}

			{{#if @root.barriers.anonymousBarrier}}
				{{> next-barrier-component/templates/anonymous_barrier}}
			{{/if}}

			{{#if @root.barriers.premiumBarrier}}
				{{> next-barrier-component/templates/premium_barrier}}
			{{/if}}

			{{#if firstClickFree}}
				{{> next-barrier-component/templates/first_click_free_barrier}}
			{{/if}}
		</div>
		<div class="article__rail-advert" data-o-grid-colspan="0 L4 XL3 XLoffset1">
		</div>
	</div>
</article>

<div class="o-grid-row">

	{{#if @root.flags.articleRelatedContent}}
		<div class="article__more-on" data-trackable="more-on" data-o-grid-colspan="12 L8 XL7 XLoffset1">
			<div class="js-more-on"></div>
			<div class="js-more-on-topic" data-metadata-fields="primaryTheme {{#if isColumnist}}authors{{else}}primarySection{{/if}}">

				{{#if primaryTag}}
					<div class="more-on__topic-bar">
						<a class="more-on__topic-name ng-title-link" href="/stream/{{primaryTag.taxonomy}}Id/{{primaryTag.id}}" data-trackable="theme">{{primaryTag.name}}</a>
								{{>next-myft-ui/templates/follow conceptId=primaryTag.conceptId}}
					</div>
				{{/if}}
		</h2>
			</div>
			<div class="o-grid-row">
				<div class="js-related" data-taxonomy="organisations" data-o-grid-colspan="12 M6"></div>
				<div class="js-related" data-taxonomy="people" data-o-grid-colspan="12 M6"></div>
			</div>
		</div>
	{{/if}}
	{{#if comments}}
		<div class="article__comments o-comments" id="comments" data-o-grid-colspan="12 L8 XL7 XLoffset1"></div>
	{{/if}}
</div>
