{{#defineBlock 'head'}}
	<meta name="auth" value="{{article.byline}}" />
	<meta name="classification" value="{{{visualCat}}}" />
{{/defineBlock}}

<article id="site-content" role="main" class="article{{#if showTOC}} article--toc{{/if}}{{#if visualCat}} article--{{visualCat}}{{/if}}{{#if @root.flags.serification}} article--serified{{/if}}" data-content-id="{{id}}" data-trackable="article" data-trackable-terminate>
	<div class="article__header{{#if headerOverlap}} article__header--overlap{{/if}}" data-trackable="header">
		<div class="ad-placeholder__leaderboard ad-placeholder__{{__name}}"></div>
		<div class="article__header-inner o-grid-row">
			{{#if barrier}}
			<div data-o-grid-colspan="12 L12 XL12">
			{{else}}
			<div data-o-grid-colspan="12 L8 XL7 XLoffset1">
			{{/if}}
				<header>
					<div class="article__header-primary">
						{{#if primaryTag}}
						<p class="article__primary-theme">
							<a href="/stream/{{primaryTag.taxonomy}}Id/{{primaryTag.id}}" class="article__primary-theme__link" data-trackable="section-link" aria-label="posted in category {{primaryTag.name}}">{{primaryTag.name}}</a>
						</p>
						{{/if}}
						<h1 class="article__title">{{{title}}}</h1>
					</div>
					<div class="article__header-secondary">
					{{! TODO: Update to CAPI v2 when this is available ~end of Q1 }}
					{{! Probably something like article.summaries[0] }}
					{{#if articleV1.editorial.standFirst}}
						<p class="article__stand-first">{{{articleV1.editorial.standFirst}}}</p>
					{{/if}}

					{{#if meta}}
						{{#if article.publishedDate}}
							<time class="article__timestamp o-date" data-o-component="o-date" datetime="{{#dateformat}}{{article.publishedDate}}{{/dateformat}}" data-o-date-js>
								{{#dateformat "dddd, d mmmm, yyyy"}}{{article.publishedDate}}{{/dateformat}}
							</time>
						{{/if}}
						{{#if byline}}
						<p class="article__byline">
							by: {{{byline}}}
						</p>
						{{/if}}
					{{/if}}
					</div>
				</header>
				{{#ifAll meta tableOfContents}}
					<div class="toc">
						<div class="toc__title">Article quick links:</div>
						<ul class="toc__list">
						{{#each crossheads}}
							<li class="toc__item"><a class="toc__link" data-trackable="toc" href="#{{id}}">{{text}}</a></li>
						{{/each}}
						</ul>
					</div>
				{{/ifAll}}
				{{#if save}}
					<div class="article__actions">
						{{>next-myft-ui/templates/save-for-later contentId=id}}
					</div>
				{{/if}}
			</div>
			{{#if tags}}
				<aside class="article__tags" data-o-grid-colspan="{{#if @root.flags.articleMobileTags}}12{{else}}hide{{/if}} L3 Loffset1" role="complementary">
					<h3 class="article__tags__title">Topics mentioned in this article</h3>
					<ul class="article__tags-list" data-trackable="tags">
						{{#each tags}}
							<li class="article__tag">
								<a class="article__tag__link" href="{{url}}" data-trackable="tag">{{name}}</a>
							</li>
						{{/each}}
					</ul>
				</aside>
			{{/if}}
		</div>
	</div>
	{{#if body}}
		<div class="article__main o-grid-row">
			<div data-o-grid-colspan="12 L8 XL7 XLoffset1">

				<div class="article__body">
					{{{body}}}
				</div>

				{{#if firstClickFree}}
					{{> first-click-free}}
				{{/if}}

			</div>
			<div class="article__rail-advert" data-o-grid-colspan="0 L4 XL3 XLoffset1">
			</div>
		</div>
	{{/if}}
</article>

<div class="o-grid-row">
	<div data-o-grid-colspan="12 L12 XL12">
		{{#if trialSimpleBarrier}}
			{{> barriers/trial-simple}}
		{{/if}}

		{{#if trialGridBarrier}}
			{{> barriers/trial-grid}}
		{{/if}}

		{{#if subscriptionGridBarrier}}
			{{> barriers/subscription-grid}}
		{{/if}}

		{{#if premiumSimpleBarrier}}
			{{> barriers/premium-simple}}
		{{/if}}
	</div>
</div>

{{#if @root.flags.articleShareButtons}}
	{{>share}}
{{/if}}

{{#if relatedContent}}
	<div class="o-grid-row">
		<div data-trackable="story-package" data-o-grid-colspan="12 L8 XL7 XLoffset1">
			<div class="js-more-on"></div>
		</div>
	</div>
{{/if}}

{{#if moreOns}}
	{{>more-ons}}
{{/if}}

{{#if comments}}
	<div class="o-grid-row">
			<div data-trackable="comments" class="article__comments o-comments" id="comments" data-o-grid-colspan="12 L8 XL7 XLoffset1"></div>
	</div>
{{/if}}

{{#if barrierOverlay}}
	<div class="barrier-overlay"></div>
{{/if}}
