{{#defineBlock 'head'}}
	{{#if dfp.dfpSite}}
	<meta name="dfp_site" content="{{dfp.dfpSite}}" />
	{{/if}}
	{{#if dfp.dfpZone}}
	<meta name="dfp_zone" content="{{dfp.dfpZone}}" />
	{{/if}}
	{{> rel-canonical}}
{{/defineBlock}}

<article id="site-content" role="main" class="article{{#if designGenre}} article--brand {{#if designGenre.headshot}}article--brand--headshot{{/if}}{{/if}}" data-content-id="{{id}}" data-content-sources="{{#if articleV1}}v1{{/if}} {{#if articleV2}}v2{{/if}}" data-trackable="article" data-trackable-terminate>
	<div class="article-header-ad-placeholder ad-placeholder"></div>
	{{> header/content-header}}
	<div class="article__wrapper {{#if mainImageHtml}}article__wrapper--main-image{{/if}}">
		{{#ifSome bodyHtml media}}
		<div class="o-grid-container">
			<div class="article__main o-grid-row">
				<div data-o-grid-colspan="12 L8 XL7 XLoffset1">
					{{#if mainImageHtml}}
						{{{mainImageHtml}}}
					{{/if}}
					{{> social location='top'}}
					<div class="article__time-byline">
						{{#if publishedDate}}
							<time class="article__timestamp o-date" data-o-component="o-date" datetime="{{#dateformat}}{{publishedDate}}{{/dateformat}}" data-o-date-js>
							{{#dateformat "mmmm d, yyyy"}}{{publishedDate}}{{/dateformat}}
							</time>
						{{/if}}
						{{#if byline}}
							<p class="article__byline">{{#ifEquals contentType 'article'}}by: {{/ifEquals}}{{{byline}}}</p>
						{{/if}}
					</div>
					{{#ifEquals contentType 'article'}}
						{{#if tocHtml}}
							<div class="article__body--toc">
								{{{tocHtml}}}
							</div>
						{{/if}}
						{{> body-article bodyHtml=bodyHtml}}
					{{/ifEquals}}
					{{#ifEquals contentType 'podcast'}}
						{{> podcast-media}}
						{{> body-podcast}}
					{{/ifEquals}}
					{{> social location='bottom'}}
				</div>
				{{> right-hand/right-hand}}
			</div>
		</div>
		{{/ifSome}}
	</div>
</article>

{{> barriers/barriers}}

{{>propensity-messaging-promo-unit}}

{{#ifAll readNextArticle readNextArticle.moreRecent}}
	{{>read-next-bottom article=readNextArticle}}
{{/ifAll}}

<div class="o-grid-container">
	<div class="o-grid-row">
		{{#if isSpecialReport}}
			<div
				class="js-special-report"
				data-trackable="special-report"
				data-o-grid-colspan="12 XL11 XLoffset1"></div>
		{{else}}
			<div data-o-grid-colspan="12 L8 XL8 XLoffset1">
				{{#if @root.flags.articleRelatedContent}}
					<div class="js-story-package" data-trackable="story-package"></div>
					{{#if moreOns}}
						{{#if @root.flags.articleMoreOnTopicCard}}
							{{>more-ons-ab-test-b}}
						{{else}}
							{{>more-ons}}
						{{/if}}
					{{/if}}
					{{#if relatedContent}}
						{{>podcast-related}}
					{{/if}}
				{{/if}}
			</div>
			{{#if tags}}
				<div data-o-grid-colspan="12 L4 XL3">
					{{>more-ons-tags}}
				</div>
			{{/if}}
		{{/if}}
	</div>

	{{#if comments.enabled}}
		{{>comments}}
	{{/if}}

	{{#if barrierOverlay}}
		<div class="barrier-overlay"></div>
	{{/if}}

</div>

{{#if @root.flags.myFTTray}}
	{{>n-myft-tray/templates/tray}}
{{/if}}

<script type="text/json" id="dehydrated-metadata">{{{json dehydratedMetadata}}}</script>
