<div class="article__fragment">
  {{#if mainImageHtml}}
    {{{mainImageHtml}}}
  {{/if}}
  {{> body}}
  {{#if tags}}
    <div
      role="complementary"
      class="tags--inline">
      <p class="tags__title--inline">Latest stories on</p>
      <ul class="tags__list--inline" data-trackable="tags">
        {{#each tags}}
        <li class="tag--inline">
          <a
            href="{{url}}"
            class="n-content-topic n-content-topic--link n-content-topic--list__horizontal"
            data-trackable="tag"
            {{#if id}}data-concept-id="{{id}}"{{/if}}>{{name}}</a>
        </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</div>
