{{#if article.id}}
<article class="article article--default" data-capi-id="{{article.id}}">
	<div class="article__color-brand">
		<div class="o-grid-row">
			<div data-o-grid-colspan="12 XL2">
				<div class="article__type">
					News
				</div>
			</div>
			<div data-o-grid-colspan="12 L8">
				<h3 class="article__title">{{{article.titleHTML}}}</h3>
			</div>
			<div data-o-grid-colspan="0 L2">&nbsp;</div>
		</div>
	</div>
	<div class="article__brand-offset">
		<div class="o-grid-row">
			<div data-o-grid-colspan="12 L8 XL2">
				<div class="o-grid-row">
					<div class="brand-top-offset article__meta">
						<div data-o-grid-colspan="8 S10 L6 XL12">
							<time data-o-component="o-date" class="o-date article__meta__time" datetime="{{#dateformat}}{{article.publishedDate}}{{/dateformat}}" data-o-date-js>
								{{#dateformat "dddd, d mmmm, yyyy"}}{{article.publishedDate}}{{/dateformat}}
							</time>
						</div>
						<div data-o-grid-colspan="4 S2 XL12" class="article__actions">
							<span class="article__actions__action">
								{{#if @root.flags.userPreferences.isSwitchedOn }}
									<button data-capi="{{article.id}}" data-headline="{{headline}}" class="save-for-later save-for-later--large js-save-for-later" data-toggle-text="" aria-label="Save this article for later" title="Save this article for later"></button>
								{{/if}}
							</span>
							<span class="article__actions__action"></span>
						</div>
					</div>
				</div>
			</div>
			<script>
				function noImgHack () {
					document.querySelector('article').className += ' no-img-hack';
				}
			</script>
			<div data-o-grid-colspan="12 L8 XL7" class="no-img-img">
			    <img src="{{#resize 700}}http://ft-next-grumman-v002.herokuapp.com/{{article.id}}/main-image{{/resize}}" alt="Article image" class="article__img-main"
					srcset="{{#resize 1400}}http://ft-next-grumman-v002.herokuapp.com/{{article.id}}/main-image{{/resize}} 2x" onerror="noImgHack()">
			</div>
			<div data-o-grid-colspan="12 L8 XL7" class="no-img-spacer"><!--hack until we can query image presence in CAPI2 -->&nbsp;</div>
			<div data-o-grid-colspan="0 L4 XL3" class="article__mpu" data-ad-mpu="l">
			</div>
		</div>
		<div class="o-grid-row">
			<div data-o-grid-colspan="0 XL2">&nbsp;</div>
			<div data-o-grid-colspan="12 L8 XL7">
				{{#if article.byline}}
					<cite class="article__byline">By {{article.byline}}</cite>
				{{/if}}
			</div>
			<div data-o-grid-colspan="0 XL2">&nbsp;</div>
		</div>
		<div class="o-grid-row">
			<div data-o-grid-colspan="0 XL2">&nbsp;</div>
			<div class="article__body" data-o-grid-colspan="12 L8 XL7">
				{{{article.bodyXML}}}
			</div>
			<div data-o-grid-colspan="0 L2">&nbsp;</div>
		</div>
		<div class='o-grid-row'>
			<div data-o-grid-colspan="0 XL2">&nbsp;</div>
			<div data-o-grid-colspan="12 L8 XL7">
				{{#if @root.flags.userPreferences.isSwitchedOn}}
				<p>
					<span
					class="recommend js-recommend"
					data-capi="{{article.id}}"
					data-headline="{{article.title}}"
					data-toggle-text="You recommended this"
					aria-label="Recommend this article to you colleagues"
					title="Recommend this article to your colleagues">
						Recommend this article to your colleagues
					</span>
				</p>
				{{/if}}
				{{#if @root.flags.articleRelatedContent.isSwitchedOn}}
					<div class='more-on js-more-on' data-article-id='{{article.id}}'></div>
				{{/if}}

			</div>
			<div data-o-grid-colspan="0 L2">&nbsp;</div>
		</div>
	</div>
</article>
{{else}}
	<div class="o-grid-row">
		<p>No article found.</p>
	</div>
{{/if}}
