{{#if article.id}}
<article class="article article--default">
	<div class="article__colour-brand">
		<div class="o-grid-row">
			<div data-o-grid-colspan="12 XL2">
				<div class="article__type">
					News
				</div>
			</div>
			<div data-o-grid-colspan="12 L8">
				<h3 class="article__title">{{article.title}}</h3>

			</div>
			<div data-o-grid-colspan="0 L2">&nbsp;</div>
		</div>
	</div>
	<div class="article__brand-offset">
		<div class="o-grid-row">
			<div data-o-grid-colspan="12 XL2">
				<div class="o-grid-row">
					<div class="brand-top-offset article__meta">
						<div data-o-grid-colspan="8 S10 L6 XL12">
							<time data-o-component="o-date" class="o-date article__meta__time"  data-capi-id="" datetime="{{#dateformat}}{{article.publishedDate}}{{/dateformat}}" data-o-date-js>
								{{#dateformat "dddd, d mmmm, yyyy"}}{{article.publishedDate}}{{/dateformat}}
							</time>
						</div>
						<div data-o-grid-colspan="4 S2 XL12" class="article__actions">
							<span class="article__actions__action"></span>
							<span class="article__actions__action"></span>
						</div>
					</div>
				</div>
			</div>
			<!--<div data-o-grid-colspan="12 L8 XL7" class="article__img-primary">
				<img src="http://www.placehold.it/1000x600" />
			</div>-->
			<div data-o-grid-colspan="0 L4 XL3" class="article__mpu" data-ad-mpu="l">
			</div>
		</div>
		<div class="o-grid-row">
			<div data-o-grid-colspan="0 XL2">&nbsp;</div>
			<div data-o-grid-colspan="12 L8 XL7" class="article__meta">
				{{#if article.byline}}
					<cite class="article__meta__byline">{{article.byline}}</cite>
				{{/if}}
			</div>
			<div data-o-grid-colspan="0 XL2">&nbsp;</div>
		</div>
		<div class="o-grid-row">
			<div data-o-grid-colspan="0 XL2">&nbsp;</div>
			<div class="article__body" data-o-grid-colspan="12 L8 XL7">
				<!-- DUMY CODE FOR DEMO PURPOSES UNTIL WE HAVE INLINE IMAGES -->

				<!-- <p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper commodo augue eu accumsan. Donec nunc lorem, porta ac iaculis et, egestas a orci. Quisque quis mollis odio. Nulla eu cursus libero. Nullam sit amet nulla a libero pulvinar congue. Mauris nec sem a arcu egestas pulvinar. Nunc tempus volutpat eros a fringilla. Nullam eu augue at ex posuere aliquet. Curabitur sollicitudin purus orci, eu auctor risus maximus in. Phasellus egestas, elit sit amet pharetra efficitur, odio magna bibendum tortor, vitae iaculis tellus arcu blandit velit. In hac habitasse platea dictumst. Cras rutrum ipsum diam, nec rhoncus lacus ullamcorper id. Nullam mi leo, suscipit vitae posuere quis, placerat et leo. Quisque aliquam aliquet risus a malesuada. Vivamus in mattis est. Duis interdum ornare pharetra.
				</p>
				<p>
					<img src="http://placekitten.com/g/600/400" alt="A cute kitten" class="article__img-inline-offset" /> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper commodo augue eu accumsan. Donec nunc lorem, porta ac iaculis et, egestas a orci. Quisque quis mollis odio. Nulla eu cursus libero. Nullam sit amet nulla a libero pulvinar congue. Mauris nec sem a arcu egestas pulvinar. Nunc tempus volutpat eros a fringilla. Nullam eu augue at ex posuere aliquet. Curabitur sollicitudin purus orci, eu auctor risus maximus in. Phasellus egestas, elit sit amet pharetra efficitur, odio magna bibendum tortor, vitae iaculis tellus arcu blandit velit. In hac habitasse platea dictumst. Cras rutrum ipsum diam, nec rhoncus lacus ullamcorper id. Nullam mi leo, suscipit vitae posuere quis, placerat et leo. Quisque aliquam aliquet risus a malesuada. Vivamus in mattis est. Duis interdum ornare pharetra.
				</p>
				<div class="article__pullquote dummypullquote">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper commodo augue eu accumsan. Donec nunc lorem
				</div>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper commodo augue eu accumsan. Donec nunc lorem, porta ac iaculis et, egestas a orci. Quisque quis mollis odio. Nulla eu cursus libero. Nullam sit amet nulla a libero pulvinar congue. Mauris nec sem a arcu egestas pulvinar. Nunc tempus volutpat eros a fringilla. Nullam eu augue at ex posuere aliquet. Curabitur sollicitudin purus orci, eu auctor risus maximus in. Phasellus egestas, elit sit amet pharetra efficitur, odio magna bibendum tortor, vitae iaculis tellus arcu blandit velit. In hac habitasse platea dictumst. Cras rutrum ipsum diam, nec rhoncus lacus ullamcorper id. Nullam mi leo, suscipit vitae posuere quis, placerat et leo. Quisque aliquam aliquet risus a malesuada. Vivamus in mattis est. Duis interdum ornare pharetra.
				</p>
				<p>
					<img src="http://placekitten.com/g/600/400" alt="A cute kitten" class="article__img-inline" /> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper commodo augue eu accumsan. Donec nunc lorem, porta ac iaculis et, egestas a orci. Quisque quis mollis odio. Nulla eu cursus libero. Nullam sit amet nulla a libero pulvinar congue. Mauris nec sem a arcu egestas pulvinar. Nunc tempus volutpat eros a fringilla. Nullam eu augue at ex posuere aliquet. Curabitur sollicitudin purus orci, eu auctor risus maximus in. Phasellus egestas, elit sit amet pharetra efficitur, odio magna bibendum tortor, vitae iaculis tellus arcu blandit velit. In hac habitasse platea dictumst. Cras rutrum ipsum diam, nec rhoncus lacus ullamcorper id. Nullam mi leo, suscipit vitae posuere quis, placerat et leo. Quisque aliquam aliquet risus a malesuada. Vivamus in mattis est. Duis interdum ornare pharetra.
				</p> -->
				{{{article.bodyXML}}}
			</div>
			<div data-o-grid-colspan="0 L2">&nbsp;</div>
		</div>
	</div>
</article>
{{else}}
	<div class="o-grid-row">
		<p>No article found.</p>
	</div>
{{/if}}
