{{#if article.id}}
<article class="article article--default">
	<div class="article__colour-brand">
		<div class="o-grid-row">
			<div data-o-grid-colspan="12 XL2">
				<div class="article__type">
					News
				</div>
			</div>
			<div data-o-grid-colspan="12 L8">
				<h3 class="article__title">{{article.title}}</h3>

			</div>
			<div data-o-grid-colspan="0 L2">&nbsp;</div>
		</div>
	</div>
	<div class="article__brand-offset">
		<div class="o-grid-row">
			<div data-o-grid-colspan="12 XL2">
				<div class="o-grid-row">
					<div class="brand-top-offset article__meta">
						<div data-o-grid-colspan="8 S10 L6 XL12">
							<time data-o-component="o-date" class="o-date article__meta__time" datetime="{{#dateformat}}{{article.publishedDate}}{{/dateformat}}" data-o-date-js>
								{{#dateformat "dddd, d mmmm, yyyy"}}{{article.publishedDate}}{{/dateformat}}
							</time>
						</div>
						<div data-o-grid-colspan="4 S2 XL12" class="article__actions">
							<span class="article__actions__action"></span>
							<span class="article__actions__action"></span>
						</div>
					</div>
				</div>
			</div>
			<div data-o-grid-colspan="12 L8 XL7">
				<img src="{{#resize 700}}http://ft-next-grumman.herokuapp.com/{{article.id}}/main-image{{/resize}}" class="article__img-main" onerror="this.parentNode.style.display='none';"/>
			</div>
			<div data-o-grid-colspan="0 L4 XL3" class="article__mpu" data-ad-mpu="l">
			</div>
		</div>
		<div class="o-grid-row">
			<div data-o-grid-colspan="0 XL2">&nbsp;</div>
			<div data-o-grid-colspan="12 L8 XL7">
				{{#if article.byline}}
					<cite class="article__byline">{{article.byline}}</cite>
				{{/if}}
			</div>
			<div data-o-grid-colspan="0 XL2">&nbsp;</div>
		</div>
		<div class="o-grid-row">
			<div data-o-grid-colspan="0 XL2">&nbsp;</div>
			<div class="article__body" data-o-grid-colspan="12 L8 XL7">
				{{{article.bodyXML}}}
			</div>
			<div data-o-grid-colspan="0 L2">&nbsp;</div>
		</div>
	</div>
</article>
{{else}}
	<div class="o-grid-row">
		<p>No article found.</p>
	</div>
{{/if}}
