<div class="article article--default">
	<div class="article__color-brand">
		<div class="o-grid-row">
			<div data-o-grid-colspan="12 XL2">&nbsp;</div>
			<div data-o-grid-colspan="12 L8">
				<h3 class="article__title">Article not available in the new version of FT.com</h3>
			</div>
			<div data-o-grid-colspan="0 L2">&nbsp;</div>
		</div>
	</div>
	<div class="o-grid-row">
		<div data-o-grid-colspan="0 XL2">&nbsp;</div>
		<div class="article__body" data-o-grid-colspan="12 L8 XL7">
			<p>&nbsp;</p>
			Sorry, the article you're trying to read is not yet available on the new version of FT.com.  <a href="{{url}}?site=falcon">Return to the old version to read this content</a>.
		</div>
		<div data-o-grid-colspan="0 L2">&nbsp;</div>
	</div>
</div>
