<div class="more-on more-on--story{{#if isInline}} more-on--inline ng-pull-out ng-inline-element{{/if}}">
	<h3 class="more-on__title">Related {{#ifEquals articles.length 1}}story{{else}}stories{{/ifEquals}}</h3>
	<ul class="more-on__articles ng-list-reset" data-trackable="articles">
		{{#each articles}}
			<li class="more-on__article{{#if image}} more-on__article--with-image{{/if}}">
				<a class="more-on__article__link ng-title-link" href="/{{id}}" data-trackable="title">
					{{{title}}}
					{{#if image}}
						<img class="more-on__article__image" src="{{image}}" />
					{{/if}}
				</a>
				<time
					class="more-on__article__timestamp ng-meta o-date"
					data-o-component="o-date"
					datetime="{{#dateformat}}{{publishedDate}}{{/dateformat}}"
					data-o-date-js>
					{{#dateformat "dddd, d mmmm, yyyy"}}{{publishedDate}}{{/dateformat}}
				</time>
			</li>
		{{/each}}
	</ul>
</div>
