{{#defineBlock 'head'}}
	{{#if dfp.dfpSite}}
	<meta name="dfp_site" content="{{dfp.dfpSite}}" />
	{{/if}}
	{{#if dfp.dfpZone}}
	<meta name="dfp_zone" content="{{dfp.dfpZone}}" />
	{{/if}}
	{{> rel-canonical}}
{{/defineBlock}}

<article id="site-content" role="main" class="article" data-content-id="{{id}}" data-trackable="article" data-trackable-terminate>
	<div class="article-header-ad-placeholder ad-placeholder"></div>
	<div class="article__header" data-trackable="header">
		<div class="o-grid-container">
			<div class="article__header-inner o-grid-row">
				<div data-o-grid-colspan="12 L8 XL7 XLoffset1">
					<header>
						<div class="article__header-primary">
							<p class="article__primary-theme">
								{{#with primaryTag}}
								<a href="/stream/{{taxonomy}}Id/{{id}}" class="n-content-topic n-content-topic--medium n-content-topic--with-follow n-content-topic--link" data-trackable="section-link" aria-label="posted in category {{name}}" data-concept-id="{{id}}">{{name}}</a>
								{{/with}}
							</p>
							<h1 class="article__title">{{title}}</h1>
						</div>
						<div class="article__header-secondary">

							<div class="article__header-time-byline">
								<time class="article__timestamp o-date" data-o-component="o-date" datetime="{{#dateformat}}{{publishedDate}}{{/dateformat}}" data-o-date-js>
									{{#dateformat "dddd, d mmmm, yyyy"}}{{publishedDate}}{{/dateformat}}
								</time>
							</div>
							<div class="article__header-actions">
								{{#if @root.flags.saveForLater}}
								<div class="article__actions">
									{{>next-myft-ui/templates/save-for-later contentId=id}}
								</div>
								{{/if}}
							</div>

						</div>
					</header>
				</div>
				<aside class="article__tags" data-o-grid-colspan="hide L3 Loffset1" role="complementary">
					<h3 class="article__tags__title">Topics mentioned in this podcast</h3>
					<ul class="article__tags-list" data-trackable="tags">
						{{#each tags}}
						<li class="article__tag">
							<a class="n-content-topic n-content-topic--link n-content-topic--list" href="{{url}}" data-trackable="tag" data-concept-id="{{id}}">{{prefLabel}}</a>
						</li>
						{{/each}}
					</ul>
				</aside>
			</div>
		</div>
	</div>
	<div class="o-grid-container">
		<div class="article__main o-grid-row">
			<div data-o-grid-colspan="12 L8 XL7 XLoffset1">
				<div class="article__media">
					{{#with media}}
					<audio controls>
						<source src="{{url}}" type="{{mediaType}}" />
						<p>
							Your browser does not support playing this file but you can still <a href="{{url}}">download the MP3 file</a> to play locally.
						</p>
					</audio>
					{{/with}}
				</div>
				<div class="n-content-body">
					{{{body}}}
					<p>
						{{#if externalLinks}}
							{{>podcast-links}}
						{{/if}}
					</p>
					<hr />
					<p>
						<small>{{{byline}}}</small>
					</p>
				</div>
			</div>
			<div class="article__aside" data-o-grid-colspan="0 L4 XL3 XLoffset1">
				<div class="sidebar-ad-placeholder ad-placeholder"></div>
			</div>
		</div>
	</div>
</article>

{{#if relatedContent}}
	{{>podcast-related}}
{{/if}}

{{#if @root.flags.myFTTray}}
	{{>n-myft-tray/templates/tray}}
{{/if}}
