<div class="o-gallery o-gallery--slideshow" data-o-component="o-gallery" data-o-gallery-syncid="declarative-slideshow-with-thumbnails" data-o-gallery-captionminheight="30" data-o-gallery-captionmaxheight="50">
	<h1 class="o-gallery__title">{{title}}</h1>
	<ol class="o-gallery__items">
		{{#each slides}}
		<li class="o-gallery__item"{{#if @first}} aria-selected="true"{{/if}}>
			<div class="o-gallery__item__content"><img alt="" src="{{#resize 600}}{{url}}{{/resize}}"></div>
			<div class="o-gallery__item__caption">{{caption}}</div>
		</li>
		{{/each}}
	</ol>
</div>
<div class="o-gallery o-gallery--thumbnails" data-o-component="o-gallery" data-o-gallery-syncid="declarative-slideshow-with-thumbnails" data-o-gallery-multipleitemsperpage="true">
	<ol class="o-gallery__items">
		{{#each slides}}
		<li class="o-gallery__item"{{#if @first}} aria-selected="true"{{/if}}>
			<div class="o-gallery__item__content"><img alt="" src="{{#resize 150}}{{url}}{{/resize}}"></div>
		</li>
		{{/each}}
	</ol>
</div>
