
$fontSans: BentonSans, Arial, sans-serif;
$fontSerif: Georgia, Times New Roman, serif; 
$fontBrand: FinancierDisplay, Georgia, serif;

//+++++++++++++++++++
//+ Font icons
//+++++++++++++++++++
@include oFtIconsFontFace();

.icon-arrow-down {
    @include oFtIconsBaseIconStyles();
    @extend %o-ft-icons-icon--arrow-down;
}
.icon-arrow-up {
    @include oFtIconsBaseIconStyles();
    @extend %o-ft-icons-icon--arrow-up;
}
.icon-arrow-right {
    @include oFtIconsBaseIconStyles();
    @extend %o-ft-icons-icon--arrow-right;
}

//+++++++++++++++++++
//+ Stream
//+++++++++++++++++++
.stream {
    padding: 10px 0;

    position: relative;
}

.stream-list__title {
    font-family: $fontSans;
    font-weight: normal;
    text-transform: capitalize;
    font-size: 22px;
    margin: 0;
    line-height: 1.9;
    background: #777;
    padding: 0 10px;
    color: #fff;
    position: relative;

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.stream-list__related {
    ul {
        display: inline;
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
    }
}

.stream-list__heading {
    font-family: BentonSans, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

.stream-list__stream-link {

    border: 1px solid #000;
    background-color: $next-orange;
    margin: 10px 0;
    .icon-arrow-right {
        float: right;
    }
    a {
        display: block;
        padding: 10px;
        font-family: BentonSans, Arial, sans-serif;
        font-weight: bold;
        color: $next-black;
        text-decoration: none; 

    }
    &:hover {
        a {
            text-decoration: underline;
        }
    }
}


//+++++++++++++++++++
//+ Article card
//+++++++++++++++++++

.article-card {
    margin-top: 20px;
    clear: both;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.article-card__body {
    font-family: $fontSerif;

    img {
        clear: left;
        float: left;
        margin: 0 14px 14px 0;
    }

    a {
        text-decoration: underline;
    }

}

.article-card__image {
    display: block;
    width: 100%;
    text-align: center;

    img {
        max-width: 100%;
    }
}

.article-card__ticker-symbols {
    border-bottom: 1px solid #777;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    font-family: $fontSans;
}

.article-card__tone {
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: $fontSans;
}

.article-card__body p {
    line-height: 1.4;
    font-size: 16px;
    color: $next-grey-light;
}

.article-card__link,
.article-card__body a {
    color: $next-grey-dark;
}

.article-card__body .more-on {
    font-family: $fontSans;
}

.article-card__more {
    margin: 0px auto 20px auto;
    border: 1px solid #999;
    width: 50px;
    line-height: 50px;
    border-radius: 100px;
    text-align: center;
    font-size: 12px;

    &:hover{
        color: white;
        background-color: #999;
    }
}

.article-card__more-active {
    background-color: red;
    color: white;
}

.search-filters__container{
  margin-top:66px;
}
 //Hide show moew button on article
 .article-card__expand {
    display: none;
 }

//+++++++++++++++++++++
//+ Primary tag
//+++++++++++++++++++++
.article-card__primary-tag {
    background-color: $next-orange;
    font-family: $fontSans;
    padding: 4px;
    margin-left: 10px;
    display: inline-block;
    a {
        color: $next-black;
        font-size: 12px;
    }

    .article-card__tone--video & {
        color: white;
        a {
            color: white;
        }
        background-color: $next-grey-light;
    }
    .article-card__tone--fastft & {
        background-color: $next-grey-dark;
        color: $next-white;
        font-weight: bolder;
    }
}

//+++++++++++++++++++++
//+ Metadata
//+++++++++++++++++++++
.article-card__metadata {
    margin-bottom: 10px;
}

.article-card__metadata-list {
    font-family: $fontSans;
    padding: 10px 0;
    font-size: 12px;
    line-height: 1.4;
    clear: both;

    ul {
        display: inline;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;

        &:before {
            content: '•';
            display: inline-block;
            padding: 0 3px 0 1px;
        }

        &:first-child:before {
            content: none;
        }
    }

    a {
        color: #9e2f50;

        &:hover {
            color: #9e2f50;
        }
    }
}

.article-card__publication-date {
    margin-bottom: 10px;
    font-size: 12px;
    font-family:  $fontSans;
    color: $next-grey-light;
    padding-left:16px;
    background:transparent url(assets/img/time.svg) no-repeat left top;
    
}

.article-card__length,
.article-card__byline {
    font-family: $fontSans;
    font-size: 12px;
    padding: 10px 0;
}

.article-card__length {
    float: right;
    width: 60%;
    text-align:right;
}

.article-card__byline {
    float: left;
    width: 40%;
}

//+++++++++++++++++++++
//+ Headlines
//+++++++++++++++++++++

.article-card__headline {
    margin: 10px 0 20px;
    font-family: $fontSans;
    font-weight: 100;
    text-decoration: none;
    line-height: 1.1;

    &.article-card--compact {
        background-color: $next-pink;
    }

    .article-card__tone--news &,
    .article-card__tone--vanilla & {
        font-size: 20px;
    }
    
    .article-card__tone--comment &,
    .article-card__tone--analysis & {
        font-style: italic;
        font-size: 24px;
        font-family: $fontBrand;

        > a:before {
            content: url(assets/img/pullquote.svg);
            display: inline;
        }
    }

    .article-card__tone--fastft & {
        font-size: 24px;
        font-weight: 200;
    }

    .article-card__tone--video & {
        a {
            color: white; 
        }
    }
}

//+++++++++++++++++++++
//+ Authors
//+++++++++++++++++++++

.article-card__authors {
    font-style: normal;

    a {
        color: #9e2f50;

        .article-card__tone--video & {
            color: white;
            &:hover{
                color: white;
            }
        }

        &:hover {
            color: #9e2f50;
            text-decoration: underline;
        }
    }

    ul {
        display: inline;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;

        &:before {
            content: ',\00a0';
            display: inline;
        }
        &:first-child:before {
            content: '';
        }
        &:last-child:before {
            content: 'and\00a0';
        }
    }
}

//+++++++++++++++++++++
//+ Compact card
//+++++++++++++++++++++
.article-card--compact {
    border: 1px solid #ccc;
    padding: 0 10px;
    margin-bottom: 0;

    .article-card__body {

        margin-bottom: 20px;

        p:nth-child(1) {
            margin-top: 0;
        }

        a {
            text-decoration: underline;
        }
    }

    .article-card__image {
        width: 33%;
        float: left;
        margin: 0 14px 14px 0;

        + .article-card__body {
            margin-left: 33%;
            padding-left: 14px;
        }
    }

    .article-card__expand {
        float: right;
        color: $next-grey-light;
        display: block;
        padding: 0 1px 8px;
        
        &:hover {
            text-decoration: none;
        }
    }        

    .article-card__expandable-content {
        display: none;

        &.js-show {
            display: block;        
        }
    }
}

//+++++++++++++++++++++
//+ Compact tones
//+++++++++++++++++++++

.article-card--compact {
    &.article-card__tone--comment,
    &.article-card__tone--analysis {
        background-color: $next-pink;
    }
    
    &.article-card__tone--fastft {
        background-color: $next-red;
        color: $next-white;  
    }

    &.article-card__tone--video {
        background-color: black;
        color: white;  
    }
}

.article-card__tone--fastft {
    &.article-card--compact {

        .article-card__link,
        .article-card__expand {
            color: $next-white;
        }

        .article-card__body p {
            color: $next-white;
            font-family: $fontSans;
            font-weight: 200;
        }
    }
}

//++++++++++++++++++
//+ Video
//++++++++++++++++++

video {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

//++++++++++++++++++
//+ Ads
//++++++++++++++++++
.article-card__advert {
    img {
        float: none;
    }
    text-align: center;
}

//++++++++++++++++++
//+ Utils
//++++++++++++++++++
.js-hide {
    display: none;
}

.js-show {
    display: block;
}

.border-b {
    border-bottom: 1px solid #777;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.article-card__tone--fastft {
    &.article-card--compact {
        .article-card__link,
        .article-card__expand {
            color: $next-white;
        }

        .article-card__body p {
            color: $next-white;
            font-family: $fontSans;
            font-weight: 200;
        }
    }
}

<<<<<<< HEAD
}
=======
>>>>>>> 6ff0dd3466a626c90eb720f4e434501ba17455c4
