
<section class="search-filters">
    <h1>Filter Search</h1>
    <div class="filter">
        <h2>Date</h2>
        <div>
            <ul>
                {% for filter in filters.date %}
                    <li><a href="{{filter.url}}">{{filter.text}}</a></li>
                {% endfor %}
            </ul>

        </div>
    </div>
    <!--<div class="filter">-->
        <!--<h2>Organisation</h2>-->
        <!--<div>-->
            <!--<ul>-->
                <!--<li><a href="#">Suggestion 1</a></li>-->
                <!--<li><a href="#">Suggestion 2</a></li>-->
                <!--<li><a href="#">Suggestion 3</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="filter">-->
        <!--<h2>Regions</h2>-->
        <!--<div>-->
            <!--<ul>-->
                <!--<li><a href="#">Region 1</a></li>-->
                <!--<li><a href="#">Region 2</a></li>-->
                <!--<li><a href="#">Region 3</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="filter">-->
        <!--<h2>Sections</h2>-->
        <!--<div>-->
            <!--<ul>-->
                <!--<li><a href="#">Section 1</a></li>-->
                <!--<li><a href="#">Section 2</a></li>-->
                <!--<li><a href="#">Section 3</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="filter">-->
        <!--<h2>Topics</h2>-->
        <!--<div>-->
            <!--<ul>-->
                <!--<li><a href="#">Topic 1</a></li>-->
                <!--<li><a href="#">Topic 2</a></li>-->
                <!--<li><a href="#">Topic 3</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="filter">-->
        <!--<h2>Columns</h2>-->
        <!--<div>-->
            <!--<ul>-->
                <!--<li><a href="#">Brand 1</a></li>-->
                <!--<li><a href="#">Brand 2</a></li>-->
                <!--<li><a href="#">Brand 3</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="filter">-->
        <!--<h2>People</h2>-->
        <!--<div>-->
            <!--<ul>-->
                <!--<li><a href="#">Person 1</a></li>-->
                <!--<li><a href="#">Person 2</a></li>-->
                <!--<li><a href="#">Person 3</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
</section>

        <script src="dobi/components/search-filters/main.js"></script>