
<div class="index__container">

    <h2 data-toggle=".popular__container" class="js-toggle js-active" data-stream="popular">
        Most popular
    </h2>

    <ul class="popular__container u-hidden js-show">
        {% for article in popular %}
            <li data-capi-id="{{ article.id }}">
                {{ article.raw.item.title.title }}
            </li>
        {% endfor %}
    </ul>

    <h2 data-toggle=".latest__container" class="js-toggle" data-stream="latest">
        Latest
    </h2>

    <ul class="latest__container u-hidden">
        {% for article in latest %}
        <li data-capi-id="{{ article.id }}">
            {{ article.raw.item.title.title }}
        </li>
        {% endfor %}
    </ul>

    <h2 data-toggle=".bertha__container" class="js-toggle" data-stream="picks">
        Editor's picks
    </h2>

    <ul class="bertha__container u-hidden">
        {% for article in bertha %}
        <li data-capi-id="{{ article.id }}">
            {{ article.raw.item.title.title }}
        </li>
        {% endfor %}
    </ul>

    <hr/>
    <h2 data-toggle=".foryou__container" class="s-toggle">Oil</h2>
    <h2 data-toggle=".foryou__container" class="s-toggle">Scottish Referendum</h2>
    <hr/>

    <h2 data-toggle=".foryou__container" class="s-toggle">For you</h2>
    <h2 data-toggle=".history__container" class="s-toggle">Your history</h2>
    <h2 data-toggle=".later__container" class="s-toggle">Read later</h2>
    <h2 data-toggle=".foryou__container" class="s-toggle">Following</h2>
    <h2 data-toggle=".foryou__container" class="s-toggle">Shared</h2>

</div>

<script>

    var emit = function(name, data) {
        console.log('emitting', name)
        var event = document.createEvent('Event');
        event.initEvent(name, true, true);
        if (data) {
            event.detail = data;
        }
        top.document.dispatchEvent(event);
    }

    var $ = function (selector) {
        return [].slice.call(document.querySelectorAll(selector));
    }

    function hasClass(el, name) {
        return new RegExp('(\\s|^)'+name+'(\\s|$)').test(el.className);
    }

    function addClass(el, name) {
        if (!hasClass(el, name)) { el.className += (el.className ? ' ' : '') +name; }
    }

    function removeClass(el, name) {
        if (hasClass(el, name)) {
            el.className=el.className.replace(new RegExp('(\\s|^)'+name+'(\\s|$)'),' ').replace(/^\s+|\s+$/g, '');
        }
    }
    
    function toggleClass(el, name) {
        (hasClass(el, name)) ? removeClass(el, name) : addClass(el, name);
    }
    
    $('.js-toggle').map(function (el) {
        el.addEventListener('click', function (e) {
            emit('stream:open', { stream: e.target.getAttribute('data-stream') });
        })
    });

    $('.js-toggle').map(function (el) {

        el.addEventListener('click', function (evt) {

            toggleClass(el, 'js-active');

            var target = this.getAttribute('data-toggle');

            $(target).map(function (elm) {
                toggleClass(elm, 'js-show');
            })
        });        
    })

    // 
    $('.index__container').map(function (el) {
   
        // listen for clicks to CAPI resources 
        el.addEventListener('click', function (item) {

            // 
            var hasId = !!item.target.getAttribute('data-capi-id');

            if (hasId) {
                emit('index:capi', { capi: item.target.getAttribute('data-capi-id') });
            }

        })


    });

</script>

<style>

.u-hidden {
    display: none;
}

.js-active {
    background-color: #ddd;
}

.js-show {
    display: block;
}

* {
    font-family: arial, sans-serif;
}

h2 {
    padding: 5px 5px;
    margin: 0;
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: block;
    padding: 10px 5px;
}

li:hover, h2:hover {
    background-color: #eee;
    cursor: pointer;
}


/style>
