
.message__container {
    border: 1px solid #000;
    background-color: #ffc;
    box-sizing: border-box;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    min-height: 30px;
    padding: 10px;

    &:hover {
        background-color: #ff9;
        cursor: hand;
    }

}
