<div class="next-card--article next-card--article--{{type}} next-card--article--full" data-capi-id="{{ id }}">
	<time data-o-component="o-date" class="o-date next-card--article__time" data-recent="{{isRecent}}" datetime="{{#dateformat}}{{lastUpdated}}{{/dateformat}}">
		{{#dateformat "dddd, d mmmm, yyyy"}}{{lastUpdated}}{{/dateformat}}
	</time>
	<h3 class="next-card--article__headline next-card--article__headline--large" data-track-comp-name="headline">
		<a href="/{{id}}" class="next-card--article__link">{{headline}}</a>
	</h3>

	{{#if @root.flags.userPreferences.isSwitchedOn }}
		<button data-capi="{{id}}" data-headline="{{headline}}" class="save-for-later js-save-for-later" data-toggle-text="Saved for later" aria-label="Save this article for later" title="Save this article for later" >Save</button>
	{{/if}}

	<div class="next-card--article__summary">{{{standFirst}}}</div>

	{{#if authors}}
		<div class="next-card--article__byline">
		{{#ifEquals authors.length 1}}
			<a href="/stream/{{authors.0.taxonomy}}/{{encode authors.0.name}}">{{authors.0.name}}</a>
		{{else}}
			<cite class="next-card--article__authors" data-track-comp-name="authors">
				<ul>
				{{#each authors}}
					<li><a href="/stream/{{taxonomy}}/{{encode name}}">{{name}}</a></li>
				{{/each}}
				</ul>
			</cite>
		{{/ifEquals}}
		</div>
	{{/if}}

	<div class="next-card--article__metadata">
        {{#if relatedTopics}}
        <div class="next-card--article__metadata-list" data-track-comp-name="mentions">
            Related Topics:
            <ul class="next-card--article__mentions__items">
            {{#each relatedTopics}}
                <li><a class="next-card--article__tag" href="/stream/{{taxonomy}}/{{encode name}}">{{name}}</a></li>
            {{/each}}
            </ul>
        </div>
        {{/if}}

		<div class="next-card--article__length">
			{{wordCount}} words -
			{{#ifEquals readingTime 0 }}
			less than a minute
			{{else}}
				{{#ifEquals readingTime 1 }}
					{{readingTime}} minute
				{{else}}
					{{readingTime}} minutes
				{{/ifEquals}}
			{{/ifEquals}}
			to read
			{{#has_video}}
				<span>video</span>
			{{/has_video}}
		</div>
	</div>

			{{#if raw.item.assets}}
				{{#ifEquals raw.item.assets.[0].type 'slideshow'}}
					{{#if @root.flags.galleries.isSwitchedOn }}

	 				<div class="o-gallery o-gallery--slideshow" data-o-component="o-gallery" data-o-gallery-captionminheight="30" data-o-gallery-captionmaxheight="300" data-o-gallery-touch>

					<ol class="o-gallery__items">
					{{#each galleries.[0].fields.slides }}
						<li class="o-gallery__item" aria-selected="{{@first}}">
							<div class="o-gallery__item__content"><img alt="{{alt}}" src="{{url}}"></img></div>
								<div class="o-gallery__item__caption">{{caption}}</div>
						</li>
					{{/each}}
					</ol>
				</div>
				{{/if}}
				{{/ifEquals}}

				{{#ifEquals raw.item.assets.[0].type 'video'}}
					<div class="next-card--article__media next-card--article__media--full-width next-card--article__media--video">
						<video data-brightcove-ref="{{videos.0.fields.sourceReference}}" width="100%" controls poster="{{ largestImage.url }}">
							<source type="video/mp4">Your browser does not support the video tag.</source>
						</video>
					</div>
				{{/ifEquals}}
			{{/if}}


			{{#unless assets}}
			{{#unless has_gallery}}
			{{#unless has_video}}
			{{#if largestImage}}
			<div class="next-card--article__media next-card--article__media--full-width next-card--article__media--image">
				<img alt="{{largestImage.alt}}" src="{{#resize 700}}{{largestImage.url}}{{/resize}}" class="next-card--article__image-{{ id }}"/>
			</div>
			{{/if}}
			{{/unless}}
			{{/unless}}
			{{/unless}}


    <div class="next-card--article__body">
        {{{paragraphs body start=0 end=3}}}
        {{#if @root.flags.ads.isSwitchedOn}}
        <div class="advertising article-body-ad" data-ft-ad-type="article"></div>
        {{/if}}
        {{{paragraphs body start=4}}}
    </div>

    {{#if @root.flags.userPreferences.isSwitchedOn }}
    <p>
        <span
            class="recommend js-recommend"
            data-capi="{{id}}"
            data-headline="{{headline}}"
            data-toggle-text="You recommended this"
            aria-label="Recommend this article to you colleagues"
            title="Recommend this article to your colleagues">
        Recommend this article to your colleagues
        </span>
    </p>
    {{/if}}

    {{#if @root.flags.b2bGroups.isSwitchedOn }}
    <p class="js-recommend-groups recommend-groups"></p>
    {{/if}}

</div>
