.article-big-number {
	color: getColor('cold-1');

	&__title {
		@include oTypographySerifDisplayBold(xl);
		font-size: 3em;
		line-height: 1em;
	}

	&__content {
		@include oTypographySansData(m);
		font-size: 16px;
	}

}
