.article__combo {
	position: relative;

	.article__image-wrapper {
		float: none;
		margin: 0;
		max-width: none;
		width: 100%;
	}
	.article__image {
		width: 100%;
		margin: 0;
	}
	.article__image-caption {
		display: none;
	}
}
.article__combo__pull-quote {
	position: absolute;
	margin: 0 10% 0 0;
	padding: 0 20px 10px 0;
	color: #ffffff;
	left: 0;
	bottom: 5%;
	box-sizing: border-box;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.5);

	p {
		@include nTypeDelta(3);
		margin: 10px 0 0 20px;

		@include oGridRespondTo(S) {
			@include nTypeDelta(2);
			margin-left: 50px;
			margin-right: 100px;
		}
		@include oGridRespondTo(M) {
			@include nTypeDelta(1);
		}
		&:first-child:before {
			content: '“';
			margin-right: 5px;
		}
		&:last-of-type:after {
			content: '”';
			margin-left: 5px;
		}
	}
	cite {
		@include nTypeAlpha(4);
		text-transform: uppercase;
		float: right;
		font-style: normal;
		margin-top: 10px;

		@include oGridRespondTo(M) {
			@include nTypeAlpha(3);
		}
	}
}
.article__combo__big-number {
	position: absolute;
	margin: 0 10% 0 0;
	padding: 10px 20px;
	color: #ffffff;
	left: 0;
	bottom: 5%;
	box-sizing: border-box;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.5);

	p {
		margin: 0;
	}
	.o-big-number__title {
		p {
			float: left;
			margin-right: 20px;
		}
	}
}
.article__combo--multiple-big-number {
	overflow: hidden;
	background-color: #000000;
	padding: 10px 0;

	.article__big-number {
		border-left-color: #ffffff;
		color: #ffffff;
		margin: 0;
		padding-right: 10px;
		clear: none;
		max-width: 50%;

		&:first-child {
			border-left: 0;
		}
	}
	.o-big-number__content {
		text-transform: uppercase;
	}
	.article__pull-quote {
		color: #ffffff;
		margin: 0;
		padding-right: 10px;
		width: 50%;
		clear: none;
		float: left;
		box-sizing: border-box;
		border-left-color: #ffffff;

		p {
			@include nTypeDelta(1);
			margin: 0;
		}
	}
	cite {
		display: none;
	}
}
.article__combo--double-image {
	overflow: hidden;

	.article__image-wrapper {
		width: 50%;
		float: left;
		clear: none;

		&:first-child {
			padding-right: 10px;
		}
		&:last-child {
			padding-left: 10px;
		}
	}
}
.article__combo--image-with-subheader {
	.article__subhead {
		color: #ffffff;
		background-color: #000000;
		margin-left: 0;
		margin-bottom: 0;
		padding: 10px 30px;
		border-bottom: 0;
		font-weight: 600;
	}
}
.article__combo--image-with-subheader--news {
	.article__subhead {
	}
}
.article__combo--image-with-subheader--lifestyle {
	.article__subhead {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.5);
		margin-top: 0;
		top: 20px;
		left: 20px;
	}
}

/**
 * NEWER VERSIONS
 */
.article__image-combo {
	float: left;
	margin: 0 0 20px;
	border-bottom: 1px solid oColorsGetPaletteColor('warm-3');
	max-width: 360px;
	padding-bottom: 20px;

	@include oGridRespondTo(S) {
		margin-right: 20px;
	}

	.article__image-wrapper {
		width: 100%;
		margin-bottom: 0;
	}
	.article__image-caption {
		display: none;
	}
}
.article__image-combo--big-number {
	.article__big-number {
		margin: -37px 0 0;
		padding-left: 0;
		border-left: 0;
	}
	.o-big-number__title {
		display: inline-block;
		background-color: #f57323;
		color: #ffffff;
		padding: 5px 10px;
		font-size: 2.5em;

		@include oGridRespondTo(M) {
			font-size: 3.2em;
		}

	}
	.o-big-number__content {
		font-size: 0.9em;
		margin-top: 10px;
		color: #000000;
		display: block;
	}
}
.article__image-combo--pull-quote {
	.article__pull-quote {
		border-left: 0;
		margin: -15px 0 0;
		padding: 0 20px 0 0;
		box-sizing: border-box;

		&:before {
			content: '';
		}
		p {
			@include nTypeDelta(2);
			color: #000000;
			margin: 10px 0 0;
			padding-left: 0.25em;
			text-indent: -0.25em;

			&:before,
			&:after {
				@include nTypeDelta(2);
				margin-top: 0;
			}
			&:first-of-type:before {
				content: '“';
				margin-right: 0.05em;
			}
		}
		.n-quote__cite {
			display: inline-block;
			padding: 5px 10px;
			font-size: 20px;
			line-height: 1em;
			background-color: #f57323;
			color: #ffffff;
		}
	}
}
