.featured-items {
	margin: 0 0 20px;
	overflow: hidden;
}

.featured-items__heading {
	@include nTypeCharlie(3);
	margin: 20px 0 10px;
	padding: 0 0 10px;
	border-bottom: 1px solid oColorsGetPaletteColor('warm-3');
}

.featured-items__description {
	margin: 0 0 10px;
}

.featured-items__media {
	display: block;
	width: 100%;
	margin-bottom: 10px;

	@include oGridRespondTo(M) {
		float: left;
		margin-right: 10px;
		width: auto;
	}
}

.featured-items__list {
	list-style: none;
	overflow: hidden;
	margin: 0;
	padding-left: 0;
}

.featured-items__item {
	box-sizing: border-box;
	float: left;
	margin-bottom: 10px;
	width: 50%;
	padding: 0 5px;

	&:nth-child(2n+1) {
		clear: left;
	}
}

.featured-items__item-media {
	display: block;
	margin: 0 0 10px;
	width: 100%;
}

.featured-items__item-heading {
	@include nTypeBeta(4);
	margin: 0;
}

.featured-items__item-description {
	margin: 0;
}

.featured-items__item-price {
	font-weight: bold;
}
