$brand-and-columnist-color: getColor('warm-1');

.article--columnist, .article--brand {

	.article__header, .next-up__intro__header {
		background: $brand-and-columnist-color;
	}

	.article__wrapper--main-image {
		background: linear-gradient($brand-and-columnist-color, $brand-and-columnist-color 50px, transparent 50px, transparent 100%);
	}

}

.article--columnist {

	.article__header-wrapper {
		padding-right: 150px;
	}

}
