$brand-color: getColor('warm-1');

.article--brand {

	.article__header,
 	.next-up__intro__header {
		background: $brand-color;
	}

	.article__wrapper--main-image {
		background-color: getColor('pink');
		background: linear-gradient($brand-color, $brand-color 50px, getColor('pink') 50px, getColor('pink') 100%);
	}

	.article__header--wrapper--main-image {
		border-bottom: 1px solid getColor('warm-3');
	}

	&--headshot {

		.article__header-secondary {
			padding-right: 100px;
			@include oGridRespondTo(M) {
				padding-right: 150px;
			}
		}

		.article__header-primary {
			 @include oGridRespondTo(M) {
				 padding-right: 150px;
			 }
		}
	}

}

.article__brand--wrapper {
	margin-top: 8px;
}

.article__header-headshot {
	position: absolute;
	bottom: -2px;
	right: 0;
	width: 100px;
	@include oGridRespondTo(M) {
		width: 150px;
	}
}

.article__header-headshot--image {
	max-width: 100%;
}
