.article-image {
	margin: 0 auto 1em;
	max-width: 100%;

	img {
		display: block;
		margin: 0 auto;
	}
}

.article-image--inline {

	@include oGridRespondTo(M) {
		float: left;
		clear: left;
		max-width: 100%;
		margin-right: 1em;
	}

}

.article-image__placeholder {
	// Padding hack ratio applied by XSLT
	position: relative;

	img {
		position: absolute;
		top: 0;
		left: 0;
		max-width: 100%;
	}

}

.article-image__caption {
	@include nTypeEcho(4);
	color: getColor('cold-1');
	margin-top: 0.5em;
}
