.listicle {}

.listicle__item {}

.listicle__item-image {
	width: 100%;
}

.listicle__item-feature {
	@include nTypeBeta(1);
	position: relative;
	display: inline-block;
	margin: -30px 0 10px;
	background: #f57323;
	padding: 5px;
	color: white;
}

.listicle__item-headline {
	@include nTypeBeta(3);
	margin: 0 0 5px;
}

.listicle__item-description {
	@include nTypeAlpha(4);
	margin: 0 0 10px;
}
