//VARIABLES
$header-offset: 30px;

.article {
	font-family: $fontSans;
}

//ARTICLE HEADER
.article__header {
	background: $next-blue;
	position: relative;
	padding-bottom: 20px;
	font-weight: 100;
	color: #ffffff;
}
.article__header-inner {
	@include oGridRespondTo(L) {
		display: flex;
	}
}
.article__header--overlap {
	padding-bottom: $header-offset + 20;
}

//ARTICLE META ELEMENTS
.article__theme {
	margin: 10px 0 0;
}
.article__theme__link {
	color: inherit;
	font-size: 18px;

	@include oGridRespondTo(L) {
		font-size: 22px;
	}
}
.article__title {
	margin: 0;
	font-size: 36px;
	font-weight: inherit;
	line-height: 1em;

	@include oGridRespondTo(S) {
		font-size: 45px;
	}
	@include oGridRespondTo(M) {
		font-size: 50px;
	}
}
.article__stand-first {
	margin: 20px 0 0;
	padding-left: 10px;
	border-left: 1px solid #ffffff;
	font-size: 21px;
	font-weight: inherit;

	@include oGridRespondTo(M) {
		font-size: 24px;
	}
}
.article__meta {
	margin: 20px 0 0;
}
.article__byline {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 16px;

	@include oGridRespondTo(L) {
		font-size: 18px;
	}
}
.article__author {
	color: inherit;
}
.article__timestamp,
.article__actions {
	margin-top: 5px;
}
.article__actions {
	@include oGridRespondTo(S) {
		text-align: right;
	}
}
.article__actions__action {
	display: inline-block;
	color: inherit;

	&:nth-child(n+2) {
		border-left: 1px solid rgba(255, 255, 255, 0.7);
		margin-left: 4px;
		padding-left: 10px;
	}
}
.article__actions__action--save {
	padding: 0;
	// for now, needed to override next-buttons
	font-size: 15px !important;
	line-height: 1em !important;
}
.next-buttons--save:before {
	top: 2px !important;
}
.article__actions__action--comments:before {
	@include nextIcon(comment, #ffffff, 12);
	position: relative;
	content: '';
	margin-right: 4px;
	top: 2px;
}
.article__tags {
	margin-top: 10px;
	font-size: 15px;
	font-weight: normal;

	@include oGridRespondTo(L) {
		font-size: 18px;
		align-self: flex-end;
	}
}
.article__tags__title {
	margin: 0;
	opacity: 0.7;
	font-weight: inherit;
	font-size: inherit;

	@include oGridRespondTo(L) {
		float: right;
	}
}
.article__tag {
	margin-top: 5px;

	@include oGridRespondTo(L) {
		margin-top: 0;
		float: right;
		clear: right;
	}
}
.article__tag__link {
	color: #ffffff;

	&:after {
		@include nextIcon(arrow-right, #ffffff, 10);
		content: '';
		position: relative;
		padding-left: 0;
		top: 1px;
		left: 3px;
	}
}
.article__main {
	padding-top: 15px;
	margin-bottom: 15px;
}

//ARTICLE BODY ELEMENTS
.article__body {
	font-weight: normal;
	font-size: 18px;
	color: $next-grey-dark;

	@include oGridRespondTo(S) {
		font-size: 20px;
		font-weight: 200;
	}
	> p {
		margin: 0.3em 0 0.8em;
		line-height: 24px;
		display: block;

		@include oGridRespondTo(S) {
			line-height: 26px;
		}
	}
	> *:first-child {
		margin-top: 0;
	}
	a {
		color: $next-grey-dark;
	}
	.o-quote--standard a {
		color: inherit;
	}
	> {
		.article__main-image,
		.article__video-wrapper:first-child,
		.article__gallery:first-child {
			margin-top: -$header-offset - 15;
		}
	}
}


.article__video {
	width: 100%;
}
.article__gallery {
	line-height: initial;
}
// Use next's icons
.o-gallery__control {
	line-height: 0;
}
.o-gallery__control:before {
	position: relative;
	top: 50%;
	margin-top: -30px;
}
.o-gallery__control--prev:before {
	@include nextIcon(arrow-left, #ffffff, 60);
	left: -5px;
	content: '';
}
.o-gallery__control--prev:hover:before {
	@include nextIcon(arrow-left, #b0b0b0, 60);
}
.o-gallery__control--next:before {
	@include nextIcon(arrow-right, #ffffff, 60);
	left: -3px;
	content: '';
}
.o-gallery__control--next:hover:before {
	@include nextIcon(arrow-right, #b0b0b0, 60);
}
.article__image-wrapper {
	// So that captions aren't wider than inline images (which can be very narrow) limit the width of the caption to be the same as the image.
	&.article__inline-image {
		display: table;
		table-layout: fixed;
		@include oGridRespondTo(S) {
			width: auto;
		}
	}
}
.article__inline-image {
	max-width: 600px;

	@include oGridRespondTo($until: S) {
		margin: 0 auto;
	}
}
.article__image {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.article__image-caption {
	margin-top: 5px;

	// So that captions aren't wider than inline images (which can be very narrow) limit the width of the caption to be the same as the image.
	.article__inline-image & {
		display: table-caption;
		caption-side: bottom;
	}
}
.article__subhead {
	padding-right: 40px;
	position: relative;
	border-bottom: 1px solid black;
	clear: left;

	.back-top-top {
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -10px;
	}
	.back-top-top__text {
		position: absolute;
		left: -9999px;
	}
	.back-top-top__icon {
		@include nextIcon(back-to-top, $next-blue, 20);
	}
}
.article__pull-quote,
.article__block-quote,
.article__big-number {
	color: $next-blue;
	border-left-color: $next-blue;
}
.article__pull-quote,
.article__big-number {
	width: 100%;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	clear: left;
}
.article__pull-quote {
	@include oGridRespondTo(L) {
		@include oQuoteStandardBig;
	}
}
.article__big-number p {
	margin: 0;
}
.article__promo-box {
	background-color: $box-colour;
	padding: 10px;

	> * {
		margin: 10px 0 0;
	}
	> *:first-child {
		margin-top: 0;
	}
}
.article__promo-box__title {
	font-size: 16px;
	line-height: 1em;
	text-transform: uppercase;
}
.article__promo-box__headline {
	font-size: 25px;
	line-height: 1em;
	font-weight: 100;
	color: #000000;

	@include oGridRespondTo(S) {
		font-size: 32px;
	}
	p {
		margin: 0;
	}
	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
.article__promo-box__image {
	width: 100%;
}
.article__promo-box__content p {
	margin: 5px 0 0;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
}

.article__more-on {
	margin-bottom: 15px;
}

.data-table {
	margin-top: 20px;
	border-spacing: 0;

	caption,
	thead {
		text-align: left;
	}
	caption {
		font-weight: 500;
		text-transform: uppercase;
	}
	thead,
	tbody {
		&:before {
			content: "";
			display: block;
			height: 10px;
		}
	}
	thead th {
		font-weight: 500;
	}
	tbody tr:nth-child(2n+1) {
		background-color: $box-colour;
	}
	td {
		padding: 5px 10px;
	}
}
// comments styling
.fyre .fyre-comment p {
	word-break: normal;
}
