//ARTICLE HEADER
.article__header {
	position: relative;
	background: getColor('pink');
	font-weight: 100;
}

.article__header--wrapper {
	position: relative;
	padding-bottom: 8px;
}

.article__header-inner {
	padding-top: 12px;

	@include oGridRespondTo(L) {
		display: flex;
	}
}

.article__header-secondary {
	margin-top: $spacing-unit / 2;
}

.article__header-time-byline {
	@include oGridRespondTo(M) {
		margin-right: 10px;
		display: inline-block;
	}
}

.article__header-actions {
	@include oGridRespondTo(M) {
		max-width: 25%;
		display: inline-block;
	}
}

//ARTICLE META ELEMENTS
.article__title {
	@include nTypeFoxtrot(2);
	margin: 0;
	@include oGridRespondTo(L) {
		@include nTypeFoxtrotSize(1);
	}
}
.article__stand-first {
	@include nTypeAlpha(3);
	margin: 0 0 $spacing-unit / 4;
	@include oGridRespondTo(L) {
		@include nTypeDeltaSize(2);
	}
}

.article__wrapper {
	background-color: getColor('pink');
}

.article__meta {
	margin: 20px 0 0;
}
.article__time-byline {
	margin: 15px 0;
}
.article__byline {
	@include nTypeEcho(4);
	display: inline-block;
	margin: 0;
}
.article__author {
	@include nLinksTopic();
	@include nTypeBravo(4);
	font-style: normal;
}
.article__timestamp {
	@include nTypeAlpha(5);
	color: oColorsGetColorFor(timestamp, text);
	text-transform: uppercase;
	@media print {
		text-indent: -9999px;
		display: block;
		&:after {
			content: attr(title);
			position: absolute;
			left: 20px;
			text-indent: 0;
		}
	}
}
.article__primary-theme {
	position: relative;
	margin: 0 0 5px;
}
.article__primary-theme .n-myft-ui--follow {
	position: absolute;
	top: 0;
}
.article__primary-theme__link {
	@include nLinksTopic();
	@include oTypographySansDataBold(l);
	margin-right: 10px;
}

.article__actions {
	margin-top: 10px;
	text-align: left;
	@include oGridRespondTo(M) {
		margin-top: 0;
		text-align: right;
	}
}

.article__tags {
	margin-top: 10px;
	padding: 0 0 8px;
	@include oGridRespondTo(L) {
		align-self: flex-end;
	}
	&--main-image {
		padding: 0;
	}
}
.article__tags__title {
	@include nTypeAlpha(5);
	margin: 0;
	text-transform: uppercase;
}
.article__tags-list {
	@include nLists();
	margin: ($spacing-unit/2) 0 0;
	@include oGridRespondTo($until: S) {
		width: 100%;
	}
}
.article__tag {
	@include nListsItem($use-case: n-lists);
	&:first-child {
		border-top: 1px solid rgba(0, 0, 0, 0.25);
	}
}

.article__main {
	padding-top: 15px;
}
.article__media {
	margin-bottom: 20px;

	audio,
	video {
		width: 100%;
	}
}

//ARTICLE BODY ELEMENTS
.article__body {
	@include nTypeAlpha(3);
	margin-bottom: 40px;

	&--serif {
		@include oTypographySerif(m);
	}

	> p {
		margin: 0.3em 0 0.8em;
	}

	> *:first-child {
		margin-top: 0;
	}

	a {
		@media print {
			&:after {
				text-decoration: none;
				word-break: break-all;
			}
			&[href^='/']:after {
				content: ' (http://next.ft.com' attr(href) ')';
			}
			&:not([href^='/']):after {
				content: ' (' attr(href) ')';
			}
		}
	}

	strong {
		font-weight: 600;
	}

	@media print {
		&:after {
			content: 'Print a single copy of this article for personal use. Contact us if you wish to print more to distribute to others. © The Financial Times Ltd.';
			display: block;
			border-top: 1px solid #000000;
			padding-top: 5px;
		}
	}
}

.article__video-wrapper {
	clear: left;

	@media print {
		display: none;
	}
}
.article__video {
	width: 100%;
}
.article__gallery {
	line-height: initial;
}
// Use next's icons
.o-gallery__control {
	line-height: 0;
}
.o-gallery__control:before {
	position: relative;
	top: 50%;
	margin-top: -30px;
}
.o-gallery__control--prev:before {
	@include nextIcon(arrow-left, #ffffff, 60);
	left: -5px;
	content: '';
}
.o-gallery__control--prev:hover:before {
	@include nextIcon(arrow-left, #b0b0b0, 60);
}
.o-gallery__control--next:before {
	@include nextIcon(arrow-right, #ffffff, 60);
	left: -3px;
	content: '';
}
.o-gallery__control--next:hover:before {
	@include nextIcon(arrow-right, #b0b0b0, 60);
}

.article__subhead {
	@include nTypeBravo(2);
	margin-top: 50px;
	margin-bottom: 20px;
}
.article__subhead--crosshead {
	border-bottom: 1px solid black;
}
.article__subhead--standard {
	@include nTypeBravo(3);
}

.article__aside {
	@include oGridRespondTo($from: L, $until: XL) {
		width: 310px;
	}
	@include oGridRespondTo($from: XL) {
		padding-left: 0;
	}
}

.article__warning {
	background-color: oColorsGetPaletteColor('warm-2');
	padding: 14px;
	display: block;
	margin: 0.3em 0 0.8em;
	> p {
		@include nTypeAlpha(3);
		margin: 0;
	}
	&__link {
		@include nTypeBravo(3);
	}
}

.article__interactive {
	border: 0;
}

.o-ads {
	@include oGridRespondTo($from: S, $until: L) {
		clear: left;
	}
}

@import 'combo-components';
@import 'images';
@import 'table';
@import 'promo-box';
@import 'quotes';
@import 'genre-styles';
@import 'big-number';
@import 'related-box';
