.promo-box {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.promo-box--long {
	float: none;
	max-width: 100%;

	.promo-box__image {
		@include oGridRespondTo(S) {
			float: left;
			margin-right: 10px;
			width: 300px;
		}
	}
}

.promo-box__title {
	margin-top: -48px;
}

.promo-box__title__name {
	@include oTypographySerifDisplay(m);
	display: inline-block;
	padding: 10px;
	color: getColor('cold-1');
	background-color: getColor('pink');
	font-weight: 900;
	a {
		color: getColor('cold-1');
		border-bottom: 0;
		text-decoration: none;
	}
}

.promo-box__wrapper {
	position: relative;
	float: left;
	margin-top: 13px;
	padding: 15px;
	padding-top: 24px;
	border: 1px solid getColor('warm-3');
	> .o-expander__toggle {
		@include nTypeAlpha(3);
		i {
			@include nextIcon(arrow-down, getColor('teal-1'), 12);
			@include oFtIconsBaseIconStyles();
			display: inline-block;
			padding: 0 12px;
			box-sizing: border-box;
			&:hover {
				@include nextIcon(arrow-down, getColor('cold-2'), 12);
			}
		}
		&:hover {
			color: getColor('cold-2');
			text-decoration: none;
		}
		&[aria-pressed] i {
			@include nextIcon(arrow-up, getColor('teal-1'), 12);
		}
	}
}

.promo-box__headline {
	@include oTypographySansDataBold(l);
	font-size: 26px;
	line-height: 27px;
	margin-top: 10px;
	color: getColor('cold-3');
	p {
		margin: 0;
	}
}

.promo-box__content {
	display: inline;
	p {
		margin: 5px 0 0;
	}
}

.promo-box__image {
	margin: 12px 0;

	img {
		display: block;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

}

.promo-box__list {
	padding-left: 20px;
	margin: 10px 0;
}
