.promo-box {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.promo-box .next-article-placeholder {
	margin: 10px 0;
}

.promo-box--long {
	float: none;
	max-width: 100%;
}

.promo-box--long .next-article-placeholder {
	@include oGridRespondTo(S) {
		float: left;
		margin-right: 10px;
		max-width: 280px;
	}
}

.promo-box__title {
	position: absolute;
	top: -20px;
	left: 10px;
	padding: 0;
	overflow: hidden;
	background-color: getColor('warm-5');
}

.promo-box__title__name {
	@include nTypeFoxtrot(3);
	display: inline-block;
	padding: 10px;
	color: getColor('cold-3');
	font-weight: 900;
	a {
		color: getColor('cold-3');
		border-bottom: 0;
		text-decoration: none;
	}
}

.promo-box__wrapper {
	position: relative;
	float: left;
	margin-top: 20px;
	padding: 15px;
	border: 1px solid getColor('warm-3');
	> .o-expander__toggle {
		@include nTypeAlpha(3);
		i {
			@include nextIcon(arrow-down, getColor('teal-1'), 12);
			@include oFtIconsBaseIconStyles();
			display: inline-block;
			padding: 0 12px;
			box-sizing: border-box;
			&:hover {
				@include nextIcon(arrow-down, getColor('cold-2'), 12);
			}
		}
		&:hover {
			color: getColor('cold-2');
			text-decoration: none;
		}
		&[aria-pressed] i {
			@include nextIcon(arrow-up, getColor('teal-1'), 12);
		}
	}
}

.promo-box__headline {
	@include nTypeBravo(2);
	margin-top: 10px;
	color: getColor('cold-3');
	p {
		margin: 0;
	}
}

.promo-box__content {
	display: inline;
	p {
		margin: 5px 0 0;
	}
}

.promo-box__list {
	padding-left: 20px;
	margin: 10px 0;
}
