.promo-box {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.promo-box img {
	margin: 10px 10px 10px 0;
}

.promo-box--long {
	float: none;
	max-width: 100%;
	@include oGridRespondTo(XL) {
		margin-right: 100px;
	}
}

.promo-box--long img {
	@include oGridRespondTo(S) {
		float: left;
		margin-right: 10px;
		max-width: 280px;
	}
}

.promo-box__title {
	padding: 0;
	border-bottom: 1px solid getColor('warm-3');
	overflow: hidden;
}
.promo-box__title__name {
	@include nTypeAlpha(2);
	display: inline-block;
	margin: 0 10px 0 0;
	padding: 10px 0;
	color: getColor('cold-3');
	a {
		color: getColor('cold-3');
		border-bottom: 0;
		text-decoration: none;
	}
}

.promo-box__wrapper {
	float: left;
	padding: 10px;
	margin-top: 10px;
	background-color: getColor('pink');
	border-bottom: 1px solid getColor('warm-3');
	> .o-expander__toggle {
		@include nTypeAlpha(3);
		i {
			@include nextIcon(arrow-down, getColor('teal-1'), 12);
			@include oFtIconsBaseIconStyles();
			display: inline-block;
			padding: 0 12px;
			box-sizing: border-box;
			&:hover {
				@include nextIcon(arrow-down, getColor('cold-2'), 12);
			}
		}
		&:hover {
			color: getColor('cold-2');
			text-decoration: none;
		}
		&[aria-pressed] i {
			@include nextIcon(arrow-up, getColor('teal-1'), 12);
		}
	}
}

.promo-box__headline {
	@include nTypeFoxtrot(2);
	margin: 0;
	color: getColor('cold-3');

	p {
		margin: 0;
	}
	a {
		@include nLinksHeadline();
		border-bottom: 0;
	}
}

.promo-box__content {
	display: inline;
	p {
		margin: 5px 0 0;
	}
}
