.quote--pull {

	.quote__quote-marks {
		position: absolute;
		top: -14px;
		left: 10px;
		padding: 0 10px;
		background-color: getColor('pink');
		&:before {
			@include nextIcon(pullquote, getColor('cold-1'), 26);
			content: "";
		}
	}

	.quote__footer {
		@include oTypographySansDataBold(m);
		font-style: normal;
	}
}
