$quote-spacing-unit: 16px;

.article__quote {
	position: relative;
	padding: ($quote-spacing-unit * 3) ($quote-spacing-unit) ($quote-spacing-unit / 2);
	border-left: 1px solid getColor('warm-3');
	color: getColor('cold-1');
	margin: 0 0 $quote-spacing-unit;

	@include oGridRespondTo($from: M) {
		clear: left;
		margin: 0 $quote-spacing-unit ($quote-spacing-unit * 2) 0;

		&--pull-quote {
			float: left;
			max-width: 250px;
		}
	}

	/// Single quote mark
	&:before {
		@include oTypographySerifDisplayItalic(xl);
		content: "“";
		position: absolute;
		top: -20px;
		left: 0;
		font-size: 180px;
		line-height: 1;
	}

	p {
		@include oTypographySerifDisplayItalic(m);
		@include oGridRespondTo(S) {
			@include oTypographySerifDisplayItalic(l);
		}
		margin: 0;
		padding-bottom: $quote-spacing-unit / 2;
	}
}

.article__quote-citation {
	@include oTypographySerifItalic(s);
	@include oGridRespondTo(S) {
		@include oTypographySerifItalic(m);
	}
}
