$quote-spacing-unit: 16px;

.article__quote {
	position: relative;
	clear: left;
	border-left: 1px solid getColor('warm-3');
	color: getColor('cold-1');
	margin: (3 * $quote-spacing-unit / 2) 0;

	&--pull-quote {
		clear: left;
		margin-right: $quote-spacing-unit;
		padding: ($quote-spacing-unit) ($quote-spacing-unit) ($quote-spacing-unit / 2);
		border: 1px solid getColor('warm-3');
		.pull-quote__quote-marks {
			position: absolute;
			top: -14px;
			left: 10px;
			padding: 0 10px;
			background-color: getColor('pink');
			&:before {
				@include nextIcon(pullquote, getColor('cold-1'), 26);
				content: "";
			}
		}
	}

	&--full-quote {
		padding: (2 * $quote-spacing-unit) $quote-spacing-unit 0;
		p {
			padding-bottom: 0;
			&:before {
				@include nextIcon(pullquote, getColor('cold-1'), 26);
				position: absolute;
				top: 0;
				left: $quote-spacing-unit;
				content: "";
			}
		}
	}

	p {
		@include oTypographySerifDisplay(m);
		margin: 0;
	}
}

.article__quote-citation {
	@include oTypographySansDataBold(m);
	font-style: normal;
}
