//VARIABLES
$header-offset: 30px;

//ARTICLE HEADER
.article__header {
	@include oColorsFor(ng-brand, background);
	position: relative;
	padding-bottom: $header-offset + 20;
	font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);
	font-weight: 100;
	color: #ffffff;
}

//ARTICLE META ELEMENTS
.article__theme {
	margin: 10px 0 0;
}
.article__theme__link {
	color: inherit;
	font-size: 18px;

	@include oGridRespondTo(L) {
		font-size: 22px;
	}
}
.article__title {
	margin: 20px 0 0;
	font-size: 36px;
	font-weight: inherit;
	line-height: 1em;
}
.article__stand-first {
	margin: 20px 0 0;
	padding-left: 10px;
	border-left: 1px solid #ffffff;
	font-size: 21px;
	font-weight: inherit;
}
.article__meta {
	margin: 20px 0 0;
}
.article__byline {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 16px;

	@include oGridRespondTo(L) {
		font-size: 18px;
	}
}
.article__author,
.article__section {
	color: inherit;
}
.article__actions {
	text-align: right;
}
.article__timestamp,
.article__actions__action {
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
}
.article__actions__action {
	color: inherit;

	&:before {
		content: '|';
		margin-right: 5px;
	}
	&:first-child:before {
		display: none;
	}
}
.article__actions__action--save {
	background-color: transparent;
	border: 0;
	padding: 0;
	font-weight: inherit;
	font-size: 12px;
	font-family: inherit;

	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}
.article__toc {
	max-width: 305px;
	margin: 20px 0 0;
	padding: 0;
	display: none;

	.js & {
		display: block;
	}
}
.article__toc__items {
	font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);
}


//ARTICLE BODY ELEMENTS
.article__body {
	font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);
	font-weight: 400;
	font-size: 18px;
	color: $next-grey-dark;
	> ft-paragraph {
		margin: 0.3em 0 0.4em;
		line-height: 24px;
		display: block;
	}

	a {
		color: $next-grey-dark;
	}

	video {
		width: 100%;
	}
	> {
		.article__video:first-child,
		.article__gallery:first-child {
			margin-top: -$header-offset;
		}
	}
}

.article__main-image {
	width: 100%;
	margin-top: 10px;
}
.article__mpu {
	text-align: center;
	padding: 10px 0;
}
.article__gallery {
	line-height: initial;
}
.article__subhead {
	padding-right: 40px;
	position: relative;
	border-bottom: 1px solid black;
	clear: left;

	.back-top-top {
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -10px;
	}
	.back-top-top__text {
		position: absolute;
		left: -9999px;
	}
	.back-top-top__icon {
		display: block;
		background: url('/grumman/assets/img/back-to-top.svg') no-repeat;
		background-size: contain;
		width: 24px;
		height: 20px;
	}
}
.article__big-number,
.article__pull-quote {
	width: 100%;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
.article__pull-quote {
	@include oGridRespondTo(L) {
		@include oQuoteStandardBig;
	}
}
.article__related--inline {
	@include oColorsFor(ng-brand, background);
	color: #ffffff;
	position: relative;
	padding: 10px 20px;
}
.article__related__title,
.article__related__article {
	position: relative;
	margin: 0;
}
.article__related__title {
	font-size: 16px;
	line-height: 1em;
	text-transform: uppercase;
}
.article__related__article {
	margin-top: 5px;
	font-size: 25px;
	line-height: 1em;

	@include oGridRespondTo(M) {
		font-size: 32px;
	}
	.article__related__link {
		color: inherit;
	}
}
.article__related__timestamp {
	display: block;
	margin-top: 10px;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 1em;
}


.article__rail-advert {
	margin-top: 17px;
}

//++++++++++++++++++++++++++
//+ Breakpoints
//++++++++++++++++++++++++++
@include oGridRespondTo(S) {
	.article__title {
		font-size: 45px;
	}
	.article__body {
		font-size: 21px;
		> ft-paragraph {
			line-height: 28px;
		}
	}
}
@include oGridRespondTo(M) {
	.article__title {
		font-size: 50px;
	}
	.article__stand-first {
		font-size: 24px;
	}
	.article__body {
		font-size: 24px;
		font-weight: 100;
		> ft-paragraph {
			line-height: 35px;
		}
	}
}
@include oGridRespondTo(L) {
	.article__title {
		margin-top: 20px;
	}
	.article__mpu {
		padding-top: 0;
	}
}
