@import "next-wrapper/main";

$fontSans: BentonSans, Arial, sans-serif;
$fontSerif: Georgia, Times New Roman, serif; 
$fontBrand: FinancierDisplay, Georgia, serif;

.stream {
    padding: 10px 0;

    position: relative;
}

.stream-list__title {
    font-family: $fontSans;
    font-weight: normal;
    text-transform: capitalize;
    font-size: 22px;
    margin: 0;
    line-height: 1.9;
    background: #777;
    padding: 0 10px;
    color: #fff;
    position: relative;

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.stream-list__related {
    ul {
        display: inline;
        margin: 0;
        padding: 0;

        > li {
            list-style: none;
        }
    }
}

.stream-list__heading {
    font-family: $fontSans;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

.stream-list__stream-link {

    border: 1px solid #000;
    margin: 10px 0;
    .icon-arrow-right {
        float: right;
    }
    a {
        display: block;
        padding: 10px;
        font-family: $fontSans;
        color: $next-black;
        text-decoration: none; 

    }
    &:hover {
        a {
            text-decoration: underline;
        }
    }
}
