//VARIABLES
$header-offset: 30px;

//ARTICLE HEADER
.article__header {
	@include oColorsFor(ng-brand, background);
	position: relative;
	padding-bottom: 20px;
	font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);
	font-weight: 100;
	color: #ffffff;
}
.article__header--overlap {
	padding-bottom: $header-offset + 20;
}

//ARTICLE META ELEMENTS
.article__theme {
	margin: 10px 0 0;
}
.article__theme__link {
	color: inherit;
	font-size: 18px;

	@include oGridRespondTo(L) {
		font-size: 22px;
	}
}
.article__title {
	margin: 20px 0 0;
	font-size: 36px;
	font-weight: inherit;
	line-height: 1em;
}
.article__stand-first {
	margin: 20px 0 0;
	padding-left: 10px;
	border-left: 1px solid #ffffff;
	font-size: 21px;
	font-weight: inherit;
}
.article__meta {
	margin: 20px 0 0;
}
.article__byline {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 16px;

	@include oGridRespondTo(L) {
		font-size: 18px;
	}
}
.article__author,
.article__section {
	color: inherit;
}
.article__timestamp,
.article__actions,
.article__image-caption {
	display: block;
	font-weight: 400;
	font-size: 15px;
	line-height: 1em;
}
.article__timestamp,
.article__actions {
	margin-top: 5px;
}
.article__actions {
	text-align: right;
}
.article__actions__action {
	color: inherit;

	&:before {
		content: '|';
		margin-right: 5px;
	}
	&:first-child:before {
		display: none;
	}
}
.article__actions__action--save {
	background-color: transparent;
	border: 0;
	padding: 0;
	font-weight: inherit;
	font-size: 1em;
	font-family: inherit;
	text-transform: inherit;

	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}
.article__toc {
	max-width: 305px;
	margin: 20px 0 0;
	padding: 0;
	display: none;

	.js & {
		display: block;
	}
}
.article__toc__items {
	font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);
}

.article__main {
	padding-top: 15px;
}

//ARTICLE BODY ELEMENTS
.article__body {
	font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);
	font-weight: 400;
	font-size: 18px;
	color: $next-grey-dark;

	> ft-paragraph {
		margin: 0.3em 0 0.8em;
		line-height: 24px;
		display: block;
	}
	> {
		*:first-child,
		.article__main-image:first-child + ft-paragraph {
			margin-top: 0;
		}
	}
	a {
		color: $next-grey-dark;
	}
	.o-quote--standard a {
		color: inherit;
	}
	video {
		width: 100%;
	}
	> {
		.article__video:first-child,
		ft-paragraph:first-child .article__gallery:first-child {
			margin-top: -$header-offset - 15;
		}
	}
}

.article__main-image {
	margin-top: 0;
}
.article__gallery {
	line-height: initial;
}
// Use next's icons
.o-gallery__control {
	line-height: 0;
}
.o-gallery__control:before {
	position: relative;
	top: 50%;
	margin-top: -30px;
}
.o-gallery__control--prev:before {
	left: -5px;
	content: '';
	@include nextIcon(arrow-left, #ffffff, 60);
}
.o-gallery__control--prev:hover:before {
	@include nextIcon(arrow-left, #b0b0b0, 60);
}
.o-gallery__control--next:before {
	left: -3px;
	content: '';
	@include nextIcon(arrow-right, #ffffff, 60);
}
.o-gallery__control--next:hover:before {
	@include nextIcon(arrow-right, #b0b0b0, 60);
}
.article__image {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.article__image-caption {
	margin-top: 5px;
}
.article__subhead {
	padding-right: 40px;
	position: relative;
	border-bottom: 1px solid black;
	clear: left;

	.back-top-top {
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -10px;
	}
	.back-top-top__text {
		position: absolute;
		left: -9999px;
	}
	.back-top-top__icon {
		display: block;
		background: url('/grumman/assets/img/back-to-top.svg') no-repeat;
		background-size: contain;
		width: 24px;
		height: 20px;
	}
}
.article__big-number,
.article__pull-quote {
	width: 100%;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
.article__pull-quote {
	@include oGridRespondTo(L) {
		@include oQuoteStandardBig;
	}
}

//++++++++++++++++++++++++++
//+ Breakpoints
//++++++++++++++++++++++++++
@include oGridRespondTo(S) {
	.article__title {
		font-size: 45px;
	}
	.article__body {
		font-size: 20px;
		font-weight: 100;

		> ft-paragraph {
			line-height: 26px;
		}
	}
}
@include oGridRespondTo(M) {
	.article__title {
		font-size: 50px;
	}
	.article__stand-first {
		font-size: 24px;
	}
}
@include oGridRespondTo(L) {
	.article__title {
		margin-top: 20px;
	}
}
