<div class="article__byline">
    {% if item.authors.length > 0 %}
    <cite class="article__authors">By
        {% if item.authors.length > 1 %}
        <ul>
            {% for author in item.authors %}
            <li><a href="/search?q={{ author.searchString }}">{{ author.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <a href="/search?q={{ item.authors[0].searchString }}">{{ item.authors[0].name }}</a>
        {% endif %}
    </cite>
    {% endif %}
</div>
