.barrier-grid {
	position: relative;
	z-index: 18;
	top: -65px;

	@include oGridRespondTo(S) {
		top: -35px;
	}

	@include oGridRespondTo(M) {
		top: -40px;
	}

}

.barrier-grid h2,
.barrier-grid h3,
.barrier-grid p {
	margin: 0;
}

.barrier-grid__header {
	background-color: oColorsGetPaletteColor('warm-2');
	h2 {
		@include oTypographySansBold(m);
		@include oGridColumn((default: full-width, L: three-quarters));
	}

	h2 {
		padding-left: 25px;
	}

	h2 .barrier-grid__heading-pretext {
		display: block;
		padding-top: 20px;
	}

	h2 .barrier-grid__article-title {
		font-weight: normal;
		display: block;
		margin-bottom: 20px;
	}

	.barrier-grid__sign-in {
		@include oTypographySansBold(s);
		@include oGridColumn((default: full-width, L: one-quarter));

		background-color: oColorsGetPaletteColor('warm-3');
		padding: 10px 25px;

		@include oGridRespondTo(L) {
			background-color: oColorsGetPaletteColor('warm-2');
			text-align: right;
			padding-top: 20px;
			padding-bottom: 20px;
		}

	}

	.barrier-grid__pretext {
		@include oGridRespondTo(L) {
			display: block;
		}
	}
}

.barrier-grid__sub-header {
	background-color: oColorsGetPaletteColor('white');
	padding: 18px 25px !important;
	border-bottom: 1px solid oColorsGetPaletteColor('warm-2');

	.barrier-grid__sub-header-title {
		@include oTypographySansBold(m);
	}
}

.barrier-grid__section {
	padding: 18px 25px !important;
	background-color: oColorsGetPaletteColor('white');
	border-bottom: 1px solid oColorsGetPaletteColor('warm-2');
	text-align: left !important;

	p {
		margin-bottom: 20px;
	}
}

.barrier-grid__section--style2 {
	border-bottom-style: none;
	padding-bottom: 0 !important;
}

.barrier-grid__section-heading {
	margin-bottom: 20px !important;
}

.barrier-grid__section-logo-column {
	text-align: right;
}
.barrier-grid__section-logo {
	height: 50px;
}

.barrier-grid__bigger-text {
	font-size: 20px;
	margin-bottom: 0;
}

.barrier-grid__cta-btn {
	@include nButtons();
	@include nButtonsSize(big);
	@include nButtonsTheme(standout);
	text-transform: none;
}

.barrier-grid__cta-text {
	font-weight: 600;
	color: #27757b;
	font-size: 20px;
}

.barrier-grid__cto-btn--style2 {
	text-transform: none;
	width: 160px;
}

.barrier-grid__para-heading {
	font-weight: bold;
}

/*****************************************
* Main options
*****************************************/

.barrier-grid {
	.barrier-grid__options {
		background-color: white;

		h3 {
			@include oTypographySans(s);
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 10px;
			font-weight: bold;
		}
	}

	.barrier-grid__image {
		margin-bottom: 10px;
		img {
			width: 80%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.barrier-grid__primary {
		text-align: center;
		margin-bottom: 20px;
	}

	.barrier-grid__price,
	.barrier-grid__select {
		display: inline-block;
	}

	.barrier-grid__price {
		margin-right: 4px;
		font-weight: bold;
		font-size: 20px;
		@include oGridRespondTo(L) {
			display: block;
			margin-right: 0;
			margin-bottom: 10px;
		}

		span {
			font-weight: normal;
			font-size: 18px;
		}
	}

	.barrier-grid__select {
		@include nButtons();
		@include nButtonsSize(big);
		@include nButtonsTheme(standout);
	}

	.barrier-grid__secondary {

		padding-left: 23px;
		padding-right: 23px;

		h4 {
			@include oTypographySansBold(s);
			margin-bottom: 3px;
			margin-top: 0;
		}

		ul {
			@include oTypographySansBold(s);
			list-style: none;
			font-weight: normal;
			margin: 0 0 20px;
			padding: 0;
		}

	}

	.barrier-grid__option--option1 li,
	.barrier-grid__option--option2 li,
	.barrier-grid__option--option3 li {
		position: relative;
		margin-left: 20px;

		&:before {
			@include nextIcon(tick, #35bd14, 14);
			content: '';
			margin-right: 4px;
			position: absolute;
			top: 2px;
			left: -20px;
		}
	}

	.barrier-grid__option-inner {
		background-color: oColorsGetPaletteColor('white');
		padding-top: 20px;
	}

	.barrier-grid__option--option1,
	.barrier-grid__option--option3 {
		@include oGridRespondTo(S) {
			border-right: 1px solid oColorsGetPaletteColor('warm-2');
		}
	}

	.barrier-grid__option--option1,
	.barrier-grid__option--option2,
	.barrier-grid__option--option3 {
		@include oGridRespondTo(L) {
			border-right: 1px solid oColorsGetPaletteColor('warm-2');
		}
	}


	.barrier-grid__option {
		@include oGridColumn((default: full-width, S: one-half, L: one-quarter));
		@include oGridRemoveGutters();
		border-bottom: 1px solid oColorsGetPaletteColor('warm-2');
		padding-bottom: 20px;
	}

	.barrier-grid__learn-more {
		@include oTypographySansBold(s);
	}

}

.barrier-grid--missing-newspaper {
	.barrier-grid__option {
		@include oGridColumn((default: full-width, M: one-third));
		@include oGridRemoveGutters();
	}

	.barrier-grid__option--option2 .barrier-grid__option-inner,
	.barrier-grid__option--option3 .barrier-grid__option-inner {
		@include oGridRespondTo(M) {
			border-right: 1px solid oColorsGetPaletteColor('warm-2');
		}
	}

	.barrier-grid__option--option4 .barrier-grid__option-inner {
		border-right: 0;
	}

	.barrier-grid__price {
		margin-right: 4px;
		@include oGridRespondTo(M) {
			display: block;
			margin-right: 0;
			margin-bottom: 10px;
		}
	}
}

/*****************************************
* Other options
*****************************************/

.barrier-grid__other-options {
	padding-top: 10px;
	background-color: oColorsGetPaletteColor('white');
}

.barrier-grid__other-options h3 {
	@include oTypographySansBold(s);
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid oColorsGetPaletteColor('warm-2');
}

.barrier-grid__other-option {
	.barrier-grid__other-option-inner {
		text-align: center;
		padding-bottom: 18px;
		padding-top: 18px;
	}

	a {
		@include oTypographySansBold(s);
		border: 0;
		overflow: hidden;
		.barrier-grid__option-options-text {
			display: block;
		}

		&:before {
			content: '';
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.barrier-grid__other-option--digital a {
	&:before {
		display: inline-block;
		width: 40px;
		height: 25px;
		background-image: url(http://next-geebee.ft.com/assets/desktop_laptop_tablet.png);
		background: rgba(0, 0, 0, 0.0001) url(http://next-geebee.ft.com/assets/desktop_laptop_tablet.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-color: transparent;
	}
}

.barrier-grid__other-option--corporate a {
	&:before {
		@include nextIcon(section-business-life, oColorsGetPaletteColor(link-1), 35);
	}
}

.barrier-grid__other-option--newspaper a {
	&:before {
		@include nextIcon(newspaper, oColorsGetPaletteColor(link-1), 35);
	}
}

.barrier-grid__other-option--weekend a {
	&:before {
		@include nextIcon(ipad-portrait, oColorsGetPaletteColor(link-1), 35);
	}
}
