.subscription-barrier-grid {
	position: relative;
	z-index: 18;
	top: -65px;

	@include oGridRespondTo(S) {
		top: -35px;
	}

	@include oGridRespondTo(M) {
		top: -40px;
	}
}

.subscription-barrier-grid h2,
.subscription-barrier-grid h3,
.subscription-barrier-grid p {
	margin: 0;
}

.subscription-barrier-grid__header {
	background-color: oColorsGetPaletteColor('warm-2');
	h2 {
		@include nTypeBravo(3);
		@include oGridColumn((default: full-width, L: three-quarters));
	}

	h2 {
		padding-left: 10px;
	}

	h2 .subscription-barrier-grid__heading-pretext {
		display: block;
		padding-top: 10px;
	}

	h2 .subscription-barrier-grid__article-title {
		font-weight: normal;
		display: block;
		margin-bottom: 10px;
	}
}

/*****************************************
* Main options
*****************************************/

.subscription-barrier-grid {
	.subscription-barrier-grid__options {
		h3 {
			@include nTypeAlpha(4);
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 10px;
			font-weight: bold;
		}
	}

	.subscription-barrier-grid__image {
		margin-bottom: 10px;
		img {
			width: 80%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.subscription-barrier-grid__primary {
		text-align: center;
		margin-bottom: 20px;
	}

	.subscription-barrier-grid__price,
	.subscription-barrier-grid__select {
		display: inline-block;
	}

	.subscription-barrier-grid__price {
		margin-right: 4px;
		font-weight: bold;
		font-size: 20px;
		@include oGridRespondTo(L) {
			display: block;
			margin-right: 0;
			margin-bottom: 10px;
		}

		span {
			font-weight: normal;
			font-size: 18px;
		}
	}

	.subscription-barrier-grid__select {
		@include nButtons();
		@include nButtonsSize(big);
		@include nButtonsTheme(standout);
	}

	.subscription-barrier-grid__secondary {

		padding-left: 30px;
		padding-right: 30px;

		h4 {
			@include nTypeBravo(4);
			margin-bottom: 3px;
			margin-top: 0;
		}

		ul {
			@include nTypeBravo(4);
			list-style: none;
			font-weight: normal;
			margin: 0 0 20px;
			padding: 0;
		}

	}

	.subscription-barrier-grid__option--option1 li,
	.subscription-barrier-grid__option--option2 li,
	.subscription-barrier-grid__option--option3 li {
		position: relative;
		margin-left: 20px;

		&:before {
			@include nextIcon(tick, #35bd14, 14);
			content: '';
			margin-right: 4px;
			position: absolute;
			top: 2px;
			left: -20px;
		}
	}

	.subscription-barrier-grid__option-inner {
		background-color: oColorsGetPaletteColor('white');
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid oColorsGetPaletteColor('warm-2');
		@include oGridRespondTo(S) {
			min-height: 490px;
		}
	}

	.subscription-barrier-grid__option--option1 .subscription-barrier-grid__option-inner,
	.subscription-barrier-grid__option--option3 .subscription-barrier-grid__option-inner {
		@include oGridRespondTo(S) {
			border-right: 1px solid oColorsGetPaletteColor('warm-2');
		}
	}

	.subscription-barrier-grid__option--option1 .subscription-barrier-grid__option-inner,
	.subscription-barrier-grid__option--option2 .subscription-barrier-grid__option-inner,
	.subscription-barrier-grid__option--option3 .subscription-barrier-grid__option-inner {
		@include oGridRespondTo(L) {
			border-right: 1px solid oColorsGetPaletteColor('warm-2');
		}
	}


	.subscription-barrier-grid__option {
		@include oGridColumn((default: full-width, S: one-half, L: one-quarter));
			@include oGridRemoveGutters();
	}

	.subscription-barrier-grid__learn-more {
		@include nTypeBravo(4);

		a {
			text-decoration: none;
			color: oColorsGetPaletteColor(link-1);
		}
	}

}


/*****************************************
* Other options
*****************************************/

.subscription-barrier-grid__other-options {
	padding-top: 10px;
	background-color: oColorsGetPaletteColor('white');
}

.subscription-barrier-grid__other-options h3 {
	@include nTypeAlpha(4);
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid oColorsGetPaletteColor('warm-2');
}

.subscription-barrier-grid__other-option {
	@include oGridColumn((default: one-third));

	.subscription-barrier-grid__other-option-inner {
		text-align: center;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	a {
		@include nTypeBravo(4);
		text-decoration: none;
		color: oColorsGetPaletteColor(link-1);
		overflow: hidden;

		.subscription-barrier-grid__option-options-text {
			display: block;
		}

		&:before {
			content: '';
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.subscription-barrier-grid__other-option--corporate a {
	&:before {
		@include nextIcon(section-business-life, oColorsGetPaletteColor(link-1), 35);
	}
}

.subscription-barrier-grid__other-option--newspaper a {
	&:before {
		@include nextIcon(newspaper, oColorsGetPaletteColor(link-1), 35);
	}
}

.subscription-barrier-grid__other-option--weekend a {
	&:before {
		@include nextIcon(ipad-portrait, oColorsGetPaletteColor(link-1), 35);
	}
}
