.trial-barrier-simple {
	margin-bottom: 35px;

	h2 {
		@include nTypeBeta(1);
	}
}

.trial-barrier-simple__already-registered {
	@include nTypeAlpha(3);
}

.trial-barrier-simple__already-registered a {
	color: oColorsGetPaletteColor('link-1');
	&:hover {
		text-decoration: none;
	}
}

.trial-barrier-simple__description {
	@include nTypeAlpha(3);
}

.trial-barrier-simple__price {
	@include nTypeBeta(2);
}

.trial-barrier-simple__subscribe-now a {
	@include nextLinkButton(
		$background: oColorsGetPaletteColor('link-1')
	);
}
