.article__standfirst {
	@include nTypeBravo(2);
}

.next-up {
	position: relative;
	padding: 15px;
	padding-right: 25px;
}

.next-up__header {
	margin-top: 10px;
	padding-top: 15px;
	border: 1px solid #ddccb6;
	border-width: 1px 0 0 1px;
}

.next-up__intro {
	@include nTypeFoxtrot(4);
	position: absolute;
	background-color: getColor('warm-5');
	color: getColor('cold-2');
	font-weight: 900;
	display: block;
	margin: 0;

	.next-up__header & {
		font-size: 18px; // FIXME: revist upon type scale revisions
		left: 10px;
		top: -10px;
		padding: 0 5px;
	}

	.next-up__bottom & {
		font-size: 30px;  // FIXME: revist upon type scale revisions
		top: -12px;
		left: -10px;
		padding: 0 15px;
	}
}

.next-up__bottom__wrapper {
	margin-top: 45px;
	border-top: 1px solid getColor('warm-3');

	// Clearfix
	&::after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

.next_up__bottom__article_list {
	margin: 45px 0 0;
	padding-left: 20px;
}

.next_up__bottom__article {
	list-style: none;
}

.next-up__intro__header {
	background-color: getColor('pink');
}

.next-up__headline {
	@include nLinksHeadline;
	@include nTypeFoxtrot(2);
	position: relative;
	color: getColor('cold-2');
	text-decoration: none;
	border-bottom: 0;
	display: inline-block;

	.next-up__header & {
		font-size: 24px; // FIXME: revist upon type scale revisions
		&::after {
			@include nextIcon(arrow-right, getColor('cold-2'), 17);
			content: '';
			speak: none;
			position: absolute;
			bottom: 6px;
			padding-left: 10px;
		}

	}

	.next-up__bottom & {
		&::before {
			@include nextIcon(arrow-right, getColor('cold-2'), 17);
			content: '';
			speak: none;
			position: absolute;
			top: 8px;
			left: -22px;
		}

		@include oGridRespondTo(M) {
			font-size: 30px;
		}

	}
}

.next-up__timestamp {
	display: none;
}

.next-up__timestamp__more-recent {
	color: getColor('claret-inverse');
}

.next-up__topic-link {
	@include nLinksTopic;
}

.read-next__container {
	margin-top: 40px;
	border: 0;
}

.next-up__bottom {
	padding-left: 0;
}
