.article__standfirst {
	@include nTypeBravo(2);
}

.next-up {
	position: relative;
	padding: 15px;
	padding-right: 25px;

	h4 {
		margin: 0;
	}
}

.next-up__header {
	margin-top: 10px;
	padding-left: 20px;
	border: 1px solid getColor('warm-3');
}

.next-up__intro {
	@include nTypeFoxtrot(4);
	position: absolute;
	background-color: getColor('warm-5');
	color: getColor('cold-2');
	font-weight: 900;
	display: block;
	margin: 0;
	padding: 0 10px;

	.next-up__header & {
		font-size: 18px; // FIXME: revist upon type scale revisions
		left: 10px;
		top: -10px;
	}

	.next-up__bottom & {
		@include nTypeFoxtrotSize(3);
		top: -11px;
		left: -10px;
	}
}

.next-up__bottom__wrapper {
	margin-top: 45px;
	border-top: 1px solid getColor('warm-3');

	// Clearfix
	&::after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

.next-up__intro__header {
	background-color: getColor('pink');
}

.next-up__headline {
	@include nLinksHeadline;
	@include nTypeFoxtrot(2);

	.next-up__header & {
		line-height: 29px; // FIXME: revist upon type scale revisions
	}

}

.next-up__timestamp {
	@include nTypeAlpha(5);
	text-transform: uppercase;
	color: oColorsGetColorFor(timestamp, text);
}

.next-up__timestamp__more-recent {
	color: getColor('claret-inverse');
}

.next-up__bottom {
	padding-left: 0;
}
