body {
    margin: 0;
    padding: 0;
}

.header__container  {
	position: fixed;
	left:0;
	top:0;
	width: 100%;
	z-index: 1000;
}

$dobi-header-height: 36px;

.context__container, 
.stream__container {
    z-index: 2;
    float: left;
    min-height: 150vh;
}

@media (min-width: 601px) {
    .context__container {
        margin-top: $dobi-header-height;
    }
}

.stream__container {
    margin-top: $dobi-header-height;
}

.has-context {
    // .context__container {
    // }
    // .stream__container {
    //     box-sizing:border-box;
    // }
}

.stream {
    height: 100vh;
}

.controls__container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: blue;
    width: 20%;
}

.show {
    xbackground-color: #eee;
    display: block;
}


@media (max-width: 600px) {

    .context__container, .has-context .context__container {
        width: 100%;
        display: none;
        position: absolute;
        background-color: white;
        &.show {
            display: block;
        }
    }

    .show {
        display: block;
    }

}
