<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

        <div class="splash__container">
            {% include "../splash/base.html" %}
        </div>
        
        <div class="header__container">
            {% include "../header/base.html" %}
        </div>

        <div class="icon__trigram">☰</div> <!-- FIXME - move to PNG/SVG icons -->

        <div class="context__container">
            
        </div>

        <div class="stream__container">
            <div class="stream">
                {% include "../stream/base.html" %}
            </div>
        </div>

        <script src="/components/layout/main.js"></script>
        <link rel="StyleSheet" href="/components/layout/style.css"/>
        <link rel="StyleSheet" href="/utils.css"/>

    </body>
</html>
