<html>
    <head>
        <link rel="stylesheet" href="/bullpup/styles.css"/>
        <link rel="stylesheet" href="//build.origami.ft.com/bundles/css?modules=o-fonts@^1.4.1,o-grid@^2.1.5">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

        <!-- Component: header --> 
        <div class="header__container">
            {% include "../header/base.html" %}
        </div>

        <!-- Component: context - FIXME - split in to nav & context --> 
        <div class="context__container">
        </div>

        <!-- Component: stream --> 
        <div class="stream__container">
            <div class="stream">
                {% include "../stream/base.html" %}
            </div>
        </div>

        <script src="/bullpup/components/layout/main.js"></script>

        <!-- libraries, vendor dependencies, shared CSS -->
        <script src="/bullpup/vendor/reqwest.min.js"></script>
        <script src="/bullpup/js/lib/me.js"></script>
        <script src="/bullpup/js/favourites.js"></script>
        <script src="/bullpup/js/more-on.js"></script>
        <script src="/bullpup/js/splash.js"></script>
        <link rel="StyleSheet" href="/bullpup/utils.css"/>

    </body>
</html>
