<html>
    <head>
        <link rel="stylesheet" href="/dobi/styles.css"/>
        <link rel="stylesheet" href="//build.origami.ft.com/bundles/css?modules=o-fonts@^1.4.1,o-grid@^2.1.5">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

        <!-- Component: header --> 
        <div class="header__container">
            {% include "../header/base.html" %}
        </div>

        <div class="o-grid-row">
            <!-- Component: context - FIXME - split in to nav & context --> 
            <div class="context__container" data-o-grid-colspan="S12 M4 L4 XL4">
                <div class="js-context__container"></div>
                <div class="js-user-preferences__container"></div>
            </div>
            <!-- Component: stream --> 
            <div class="stream__container" data-o-grid-colspan="S12 M8 L6 XL6">
                <div class="stream">
                    {% include "../stream/base.html" %}
                </div>
            </div>
        </div>

        <!-- Component: selected-filters -->
        <div class="selected-filters__container">
            {% include "../selected-filters/base.html"  with {filters: filters} %}
        </div>

 	    <!-- Component: search-filters -->
        <div class="search-filters__container">
        </div>

        <script src="/dobi/components/layout/main.js"></script>

        <!-- libraries, vendor dependencies, shared CSS -->

        <script src="/dobi/vendor/reqwest.min.js"></script>
        <script src="/dobi/js/context.js"></script>
        <script src="/dobi/js/user-preferences.js"></script>
        <script src="/dobi/js/more-on.js"></script>
        <script src="/dobi/js/splash.js"></script>
        <script src="//build.origami.ft.com/bundles/js?modules=o-date@^1.0.0&amp;minify=none&amp;autoinit=1"></script>
        <link rel="StyleSheet" href="/dobi/utils.css"/>

    </body>
</html>
