body {
    margin: 0;
    padding: 0;
}

div { box-sizing: border-box; xborder: 1px solid #000; }

.uber, .context__container, .stream__container {
    float: left;
    height: 100vh;
}

.uber {
    position: absolute;
    background-color: #ccc;
    top: 0;
    display: none;
    width: 50%;
    opacity: 0.9;
}

.context__container {
    width: 20%;
    position: fixed;
}

.stream__container {
    width: 80%;
    xbackground-color: yellow;
    margin-left: 20%;
}

.stream {
    background-color: blue;
    max-width: 600px;
    margin: 0 auto;
    height: 100vh;
}

.context {
    max-width: 250px;
    background-color: red;
    margin: 0 auto;
    height: 100vh;
}

.trigram {
    display: none;
}

@media (max-width: 600px) {

    .trigram {
        display: block;
        font-size: 40px;
        line-height: 40px;
    }

    .trigram:hover {
        color: red;
        cursor: pointer;
    }
        
    .context__container {
        width: 100%;
        display: none;
    }

    .context {
        width: 100%;
        max-width: 600px;
    }
   
    .show {
        display: block;    
    }

    .stream__container {
        width: 100%;
        margin-left: 0;
    }
    
    .stream {
        width: 100%;
    }

}

iframe {
    border: none;
    width: 100%;
    height: 100vh;
    background-color: white;
}

/*
 * body {
        margin: 0;
        padding: 0;
        height: 5000px;
    }

    iframe {
        border: none;
        background-color: white;
    }
    
    .component-splash {
        height: 100vh;
        width: 50%;
    }

    .component-index {
        height: 100vh;
        position: fixed; 
        width: 20%;
        top: 40px;
    }
    
    .component-stream {
        margin-left: 30%;
        width: 50%;
        min-height: 200vh;
    }
    
    .component-context {
        width: 20%;
        min-height: 200vh;
        position: fixed;
        right: 0;
    }

    .trigram {
        position: absolute;
        display: none;
        font-size: 30px;
        padding: 5px;
        line-height: 30px;
        top: 0;
        left: 0;
        background-color: yellow;
    }

    .trigram:hover {
        background-color: white;
        color: #999;
        cursor: pointer;
    }

    @media (max-width: 600px) {
        .trigram {
            display: block;
        }
    }

    @media (max-width: 800px) {
        
        .component-context {
            margin-right: -100%;
        }
        
        .component-stream {
            width: 70%;
        }

    }

    @media (max-width: 600px) {
        
        .component-stream {
            margin-left: 0;
            width: 100%;
        }
        
        .component-index {
            margin-left: -100%;
            width: 100%;
        }

        .show {
            margin: 0;
        }
    }
    */
