body {
    margin: 0;
    padding: 0;
}

.context__container, .stream__container {
    float: left;
    min-height: 150vh;
}

.splash__container {
    background-color: #ccc;
    height: 50vh; 
    width: 100%;
    z-index: 100;
    display: none;
    min-height: 760px; /* height of the image */
}

.context__container {
    width: 20%;
    float: left;
    position: absolute;
}

.stream__container {
    width: 100%;
    margin: 0 auto;
}

.stream {
    max-width: 600px;
    margin: 0 auto;
    height: 100vh;
}

.controls__container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: blue;
    width: 20%;
}
    
.icon__trigram {
    position: absolute;
    top: 0;
    left 0;
    display: inline-block;
    padding: 0 10px;
    color: white;
    font-size: 20px;
    line-height: 55px;
    display: none;
}

.icon__trigram:hover {
    color: red;
    cursor: pointer;
}
.icon__splash {
    font-size: 50px;
    line-height: 50px;
}

.icon__splash:hover {
    color: red;
    cursor: pointer;
}
    
.show {
    xbackground-color: #eee;
    display: block;
}


@media (max-width: 600px) {
        
    .context__container {
        width: 100%;
        display: none;
        position: absolute;
        background-color: white;
    }

    .show {
        display: block;
    }
    
    .stream__container {
        width: 100%;
        margin-left: 0;
    }
    
    .stream {
        width: 100%;
    }

    .icon__trigram {
        display: block;    
    }

}
