/**
 * First pass at making timeline..
 * http://localhost:5050/851c0b74-9bd5-11e4-be20-002128161462
 * Original: http://ig.ft.com/sites/2014/guinea-timeline/
**/
timeline-item {
	border-top: 1px dotted #74736c;
	display: block;
	margin-top: 20px;
	padding-top: 20px;
}

timeline-byline,
timeline-sources,
timeline-credits,
timeline-date {
	display: none;
}

timeline-title {
	color: #aaaaaa;
	font-size: 12px;
	font-family: sans-serif;
	text-transform: uppercase;
}
timeline-header {
	display: block;
	margin-top: 20px;
	color: #43423e;
	font-weight: 200;
	font-size: 16px;
	font-family: sans-serif;
}

timeline-header::before {
	content: "TIMELINE";
	text-transform: uppercase;
	border-right: 1px solid #cec6b9;
	padding-right: 9px;
	margin-right: 5px;
	font-size: 13px;
	line-height: 15px;
	height: 14px;
	color: #c36256;
}
