/*
	I'm truly sorry for what lies beneath this comment - I needed to override the default livefyre code
	and, for better or for worse, I chose to try and match their selectors rather than just use !important
	everywhere.  Sadly, their use of css is 'idosyncratic' to be kind.

	One day maybe we will do this properly...
*/

// scss-lint:disable QualifyingElement


@import "next-type/main";
@import "next-buttons/main";
@import "o-colors/main";

.sidenotes-active {

	.lf-powered-by,
	.lf-thread-gradient {
		display: none !important;
	}

	.lf-popover,
	.lf-popover-arrow {
	//background-color: #FFF1E0 !important;
	}

	.lf .lf-editor textarea.lf-editor-field {
		@include nTypeAlpha(3);
		color: oColorsGetPaletteColor('warm-4');
	}

	.lf .lf-editor .lf-editor-post-btn {
		@include nButtons($theme: standout);
		height: auto;
		padding: 8px;
		margin-top: 8px;
	}

	span.lf-thread-btn a.fycon-action-view,
	.fycon-action-view:before,
	span.lf-thread-btn.lf-active a.fycon-action-view {
		color: oColorsGetPaletteColor('link-1');

		&:hover {
			color: oColorsGetPaletteColor('link-2');
		}
	}

	.lf .lf-thread .lf-thread .lf-thread-container article.lf-comment div.lf-comment-container header.lf-comment-header .lf-comment-author-name,
	.lf .lf-thread-popover .lf-thread .lf-thread-container article.lf-comment div.lf-comment-container header.lf-comment-header .lf-comment-author-name,
	.lf .lf-thread .lf-permalink .lf-thread-container article.lf-comment div.lf-comment-container header.lf-comment-header .lf-comment-author-name,
	.lf .lf-thread-popover .lf-permalink .lf-thread-container article.lf-comment div.lf-comment-container header.lf-comment-header .lf-comment-author-name {
		@include nTypeBravo(4);
	}

	.lf .lf-thread .lf-thread .lf-thread-container article.lf-comment div.lf-comment-container section.lf-comment-body p,
	.lf .lf-thread-popover .lf-thread .lf-thread-container article.lf-comment div.lf-comment-container section.lf-comment-body p,
	.lf .lf-thread .lf-permalink .lf-thread-container article.lf-comment div.lf-comment-container section.lf-comment-body p,
	.lf .lf-thread-popover .lf-permalink .lf-thread-container article.lf-comment div.lf-comment-container section.lf-comment-body p {
		@include nTypeAlpha(4);
	}

	.lf .lf-thread .lf-thread .lf-thread-container article.lf-comment div.lf-comment-container footer.lf-comment-footer,
	.lf .lf-thread-popover .lf-thread .lf-thread-container article.lf-comment div.lf-comment-container footer.lf-comment-footer,
	.lf .lf-thread .lf-permalink .lf-thread-container article.lf-comment div.lf-comment-container footer.lf-comment-footer,
	.lf .lf-thread-popover .lf-permalink .lf-thread-container article.lf-comment div.lf-comment-container footer.lf-comment-footer {
		@include nTypeAlpha(5);
	}

	.lf .lf-thread .lf-thread .lf-thread-container article.lf-comment div.lf-comment-container footer.lf-comment-footer a,
	.lf .lf-thread-popover .lf-thread .lf-thread-container article.lf-comment div.lf-comment-container footer.lf-comment-footer a,
	.lf .lf-thread .lf-permalink .lf-thread-container article.lf-comment div.lf-comment-container footer.lf-comment-footer a,
	.lf .lf-thread-popover .lf-permalink .lf-thread-container article.lf-comment div.lf-comment-container footer.lf-comment-footer a
	.lf .lf-thread .lf-thread .lf-thread-container div.lf-expandable-thread-container .lf-expandable-footer .lf-expand-reply-btn,
	.lf .lf-thread-popover .lf-thread .lf-thread-container div.lf-expandable-thread-container .lf-expandable-footer .lf-expand-reply-btn,
	.lf .lf-thread .lf-permalink .lf-thread-container div.lf-expandable-thread-container .lf-expandable-footer .lf-expand-reply-btn,
	.lf .lf-thread-popover .lf-permalink .lf-thread-container div.lf-expandable-thread-container .lf-expandable-footer .lf-expand-reply-btn
	.lf .lf-thread .lf-thread .lf-thread-container article.lf-comment div.lf-comment-container a.lf-etc-btn,
	.lf .lf-thread-popover .lf-thread .lf-thread-container article.lf-comment div.lf-comment-container a.lf-etc-btn,
	.lf .lf-thread .lf-permalink .lf-thread-container article.lf-comment div.lf-comment-container a.lf-etc-btn,
	.lf .lf-thread-popover .lf-permalink .lf-thread-container article.lf-comment div.lf-comment-container a.lf-etc-btn {
		border: 0;

		&:hover {
			border: 0;
			background-color: transparent;
		}
	}

	.lf .lf-thread .lf-menu-body>li,
	.lf .lf-thread-popover .lf-menu-body>li,
	.lf .lf-thread .lf-menu-body>a,
	.lf .lf-thread-popover .lf-menu-body>a {
		@include nTypeAlpha(3);
		line-height: 32px;
	}

	.lf-comment-author-avatar {
		visibility: hidden;
	}

	.lf-etc-btn.fycon-action-etc {
		display: inline-block !important;
	}

	.lf .lf-thread .lf-menu-body>li .lf-edit-timer,
	.lf .lf-thread-popover .lf-menu-body>li .lf-edit-timer,
	.lf .lf-thread .lf-menu-body>a .lf-edit-timer,
	.lf .lf-thread-popover .lf-menu-body>a .lf-edit-timer {
		top: 0;
	}

}
