body .fyre-modal .fyre-modal-title-close {
	background-image: none;

	&:before {
		content: '';
		@include nextIcon(cross, #ffffff, 10);
		position: relative;
  	top: 1px;
	}
}


body .fyre-modal .fyre-modal-facebook-icon {
	@include nextIcon(social-facebook, #74736c, 20);
	&:hover {
		@include nextIcon(social-facebook, #2e6e9e, 20);
	}
}
body .fyre-modal .fyre-modal-twitter-icon {
	@include nextIcon(social-twitter, #74736c, 20);
	&:hover {
		@include nextIcon(social-twitter, #2e6e9e, 20);
	}
}


