.stream-list__title {
    font-family: Gill Sans, Helvetica, sans-serif;
    color: #333;
    line-height: 150px;
    padding: 20px;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    margin: 0;
}

/* article__card */

.article-card {
    padding: 10px;
    margin: 10;
}

.article-card__headline {
    margin: 10px 0 30px 0;
    font-size: 40px;
    font-family: FinancierDisplay, Georgia, serif;
    font-weight: normal;
    text-align: center;
    text-decoration: none; 
}

.article-card__date {
    background: $next-grey-lighter;
    position: relative;
    font-family: Metric, Arial, sans-serif;
    text-align: center;

    // HACK: Metric glyphs are not centre aligned so hack them to appear so
    // by increasing padding on top and decreasing padding from bottom
    padding: 4px 0 0 0;
}

.article-card__viewcta {
    right: 4px;
    position: absolute;
    font-weight: 600;
    color: $next-blue;
    text-decoration: none;
}

.article-card__body {
    clear: left;
}

.article-card__image {
    float: left;
    display: block;
    padding-bottom: 20px;
}

.article-card__image + .article-card__metadata {
    margin-left: 180px;
}

.article-card__metadata {
    font-family: Metric, Arial, sans-serif;
    text-transform: uppercase;
    list-style: none;
    margin: 0;
    padding: 0 0 20px 0;
    color: $next-grey-light;

    li {
	// HACK: Metric glyphs are not centre aligned so hack them to appear so
	// by increasing padding on top and decreasing padding from bottom
        padding: 4px 0 0px 0;
        margin: 2px 0 2px 0;
	border-bottom: 2px solid $next-grey-lighter;
    }

    a {
        color: $next-blue;
        text-decoration: none;
    }
}

.article-card__link,
.article-card p a {
    color: $next-grey-dark;
    text-decoration: none;
}

.article-card:first-child {
    margin-top: 20px;
}

.article-card p {
    font-size: 18px;
    font-family: Metric, Arial, sans-serif;
    line-height: 26px;
    color: $next-grey-light;
}

.article-card__more {
    margin: 0px auto 20px auto;
    border: 1px solid #999;
    width: 50px;
    line-height: 50px;
    border-radius: 100px;
    text-align: center;
    font-size: 12px;
}

.article-card__more:hover {
    color: white;
    background-color: #999;
}

.article-card__more-active {
    background-color: red;
    color: white;
}

.article-card {
    border-top: 1px solid #999;
    margin-bottom: 20px; 
}

/* utils */
.js-hide {
    display: none;
}

.js-show {
    display: block;
}

.save__button {
    margin-top: 10px;
}

.save__button-star:hover {
    color: red;
    cursor: hand;
}

.save__button-star {
    color: blue;
}
