{% if title %}
<h1 class="stream-list__title">
    {{ title }} 
</h1>
{% endif %}

<div class="save__button" align="right">
    <span class="save__button-star">★</span> Favourite this section
</div>

{% for article in stream %}
    {% if article.raw %}

        <div class="article-card tone-{{ article.genre}}" id="capi-{{ article.id }}">
            <p align="left" style="font-size: 14px;">
                
            <small>
                Latest in
                    <a href="/search?q={{ article.primarySection.taxonomy }}:{{ article.primarySection.name }}">{{ article.primarySection.name }}</a>
                    /
                    <a href="/search?q={{ article.primarySection.taxonomy }}:{{ article.primarySection.name }}">{{ article.primaryTheme.name }}</a>
                </small>
     
             </p>
            
            <p align="center">
            <em>
                {{ article.lastUpdated|date('l, j F, Y') }}
            </em>
            </p>

            <h3 class="article-card__headline">
                <a href="/{{ article.id }}" class="article-card__link">
                    {{ article.raw.item.title.title }}
                </a>
            </h3>

            <a href="/{{ article.id }}">
                <img src="{{ article.largestImage.url|resize(150) }}" class="article-card__image article-card__image-{{ article.id }}" draggable="true"/>
            </a>
            
            <p align="center">
                {% for author in article.authors %}
                    <a href="/search?q={{ author.searchString }}">{{ author.name }}</a>{% if !loop.last %}, {% endif %}
                {% endfor %}
            </p>

            
            <p align="center">
            <em><small>
                    {{ article.wordCount }} words - {{ article.readingTime }} minutes | 705 comments

                    {% if article.has_video %}
                    | <span style="color: red;">video</span>
                    {% endif %}

            </small></em>
            </p>
            
            <p align="center">
                <small> 
                    {% for person in article.people %}
                        <a href="/search?q={{ person.searchString }}">{{ person.name }}</a>{% if !loop.last %}, {% endif %}
                        {% endfor %}
                </small>
            </p>
            
            <p align="center">
                <small>
                    {% for org in article.organisations %}
                        <a href="/search?q={{ org.searchString }}">{{ org.name }}</a>{% if !loop.last %}, {% endif %}
                    {% endfor %}
                </small>
            </p>

	    <div class="article-card__body">
		    {% if mode === 'compact' %}
		    <p>{{ article.paragraphs(0, 1) }}</p>
		    {% else %}
			{{ article.body|raw }}
		    {% endif %}
	    </div>
        </div>
    
    {% endif %}
{% endfor %}

<script src="/bullpup/components/stream/main.js"></script>

