<h1 class="stream-list__title js-context">
{% if title %}
    {{ title }} 
{% endif %}
</h1>

<div class="save__button" align="right">
    <span class="save__button-star">★</span> Favourite this section
</div>

{% for article in stream %}
    {% if article.raw %}

        <div class="article-card tone-{{ article.genre}}" id="capi-{{ article.id }}">
            <div class="article-card__date">
                {{ article.lastUpdated|date('l, j F, Y') }}
		{% if mode === 'compact' %}<a href="/{{ article.id }}" class="article-card__viewcta">view full article</a>{% endif %}
            </div>

            <p align="left" style="font-size: 14px;" class="article-card__themes">
                <small>Latest in <a href="/search?q={{ article.primarySection.taxonomy }}:{{ article.primarySection.name }}">{{ article.primarySection.name }}</a>
                    / <a href="/search?q={{ article.primaryTheme.taxonomy }}:{{ article.primaryTheme.name }}">{{ article.primaryTheme.name }}</a></small>
            </p>

            <h3 class="article-card__headline">
                <a href="/{{ article.id }}" class="article-card__link">
                    {{ article.raw.item.title.title }}
                </a>
            </h3>

	    {% if article.largestImage && isArticle %}
            <a href="/{{ article.id }}" class="article-card__image">
                <img src="{{ article.largestImage.url|resize(600) }}" class="article-card__image-{{ article.id }}"/>
            </a>
	    {% endif %}
            
	    <ul class="article-card__metadata">
                <li class="article-card__length">
                    {{ article.wordCount }} words - {{ article.readingTime }} minutes | 705 comments
                    {% if article.has_video %} | <span style="color: red;">video</span> {% endif %}
                </li>
		{% if article.authors.length > 0 %}
                <li class="article-card__authors">
   	            By
		    <ul class="article-card__authors__items">
                    {% for author in article.authors %}
                        <li><a href="/search?q={{ author.searchString }}">{{ author.name }}</a></li>
                    {% endfor %}
		    </ul>
                </li>
		{% endif %}
		{% if article.people.length > 0 || article.organisations.length > 0 %}
                <li class="article-card__mentions">
   	            Mentions
		    <ul class="article-card__mentions__items">
                        {% for person in article.people %}<li><a href="/search?q={{ person.searchString }}">{{ person.name }}</a></li>{% endfor %}
                        {% for org in article.organisations %}<li><a href="/search?q={{ org.searchString }}">{{ org.name }}</a></li>{% endfor %}
		    </ul>
                </li>
		{% endif %}
            </ul>

	    <div class="article-card__body">
		    {% if mode === 'compact' %}
            
                <p>{{ article.paragraphs(0, 1) }}</p>
                
            {% else %}
            
    	        <p>{{ article.paragraphs(0, 1, { removeImages: false }) }}</p>
                <div class="more-on" data-article-id="{{ article.id }}"></div>
		<p>{{ article.paragraphs(1, 100, { removeImages: false }) }}</p>
                
                
            {% endif %}
	    </div>
        </div>
    
    {% endif %}
{% endfor %}

<script src="/bullpup/components/stream/main.js"></script>

