{{#each moreOns}}
	<div class="more-on more-on--topic more-on--{{topic.taxonomy}}{{#if hasMainImage}} more-on--with-image{{/if}}">
		{{#topic}}
			{{>n-topic/templates/bar headingLevel="h2"}}
		{{/topic}}
		<div class="more-on__content">
			<ul class="more-on__articles ng-list-reset">
				{{#each articles}}
					<li class="more-on__article">
						<a href='/{{id}}' class='more-on__article__link ng-title-link' data-trackable='headline'>
							{{#if image}}
								<img class="more-on__article__image" src="{{image}}" />
							{{/if}}
							{{{title}}}
						</a>
					</li>
				{{/each}}
			</ul>
			<a class="more-on__all-link ng-title-link" href="{{topic.url}}" data-trackable="see all">See all</a>
		</div>
	</div>
{{/each}}
