{{#if articles}}
	<div class="more-on" data-o-grid-colspan="12">
		<div class="n-topic">
			<h2 class="n-topic__name">
				Related stories
			</h2>
		</div>
		<ul class="more-on__articles">
			{{#each articles}}
				<li class="more-on__article{{#if image}} more-on__article--with-image{{/if}}">
					<div class="more-on__card{{#if image}} more-on__card--has-image{{/if}}">
						{{#if tag}}
							<a class="more-on__card__tag" href="stream/{{tag.taxonomy}}Id/{{tag.id}}" data-trackable="tag">{{tag.name}}</a>
						{{/if}}
						<h2 class="more-on__card__headline">
							<a class="more-on__card__headline-link" href="/{{id}}" data-trackable="headline">{{headline}}</a>
						</h2>
						{{#if image}}
							<a class="more-on__card__image" href="/{{id}}" data-trackable="image">
								{{>n-image/templates/image}}
							</a>
						{{/if}}
						<p class="more-on__card__subheading">{{subheading}}</p>
						<div class="more-on__card__time">
							<time data-o-component="o-date" class="o-date n-card__time__content" data-recent="{{isRecent}}" datetime="{{#dateformat}}{{lastUpdated}}{{/dateformat}}">
								{{#dateformat "dddd, d mmmm, yyyy"}}{{lastUpdated}}{{/dateformat}}
							</time>
						</div>
					</div>
				</li>
			{{/each}}
		</ul>
	</div>
{{/if}}
