<div class="more-on more-on--people">
	<h2 class="more-on__title">Related people</h2>
	<ul class="ng-list-reset">
		{{#each people}}
			{{>n-topic/templates/bar htmlTag="li"}}
			<!-- <li class="more-on__person">
				<a class="more-on__person__link ng-title-link" href="{{url}}" data-trackable="section-link">
					<img class="more-on__person__image" src="https://next-geebee.ft.com/image/v1/images/raw/http%3A%2F%2Fnext.ft.com%2Fassets%2Ficons%2Fprofile.svg?format=svg&tint=%23000000,%23000000&source=next.ft.com" width="50" height="50" />
					{{name}}
					{{#if role}}
						<span class="more-on__person__role">{{role.title}}{{#if role.organisation}}, {{role.organisation}}{{/if}}</span>
					{{/if}}
				</a>
				{{>next-myft-ui/templates/follow}}
			</li> -->
		{{/each}}
	</ul>
</div>
