<aside class="story-package{{#if isInline}} story-package--inline ng-pull-out ng-inline-element{{/if}}" role="complementary">
	<h3 class="story-package__title">Related {{#ifEquals articles.length 1}}story{{else}}stories{{/ifEquals}}</h3>
	<ul class="story-package__articles ng-list-reset" data-trackable="articles">
		{{#each articles}}
			<li class="story-package__article{{#if image}} story-package__article--with-image{{/if}}">
				{{#if image}}
					<img class="story-package__article__image" src="{{image}}" role="presentation" alt="" />
				{{/if}}
				{{>next-card/templates/card}}
			</li>
		{{/each}}
	</ul>
</aside>
