<aside class="story-package{{#if isInline}} story-package--inline ng-pull-out ng-inline-element{{/if}}" role="complementary">
	<h3 class="story-package__title">Related {{#ifEquals articles.length 1}}story{{else}}stories{{/ifEquals}}</h3>
	<ul class="story-package__articles ng-list-reset" data-trackable="articles">
		{{#each articles}}
			<li class="story-package__article{{#if image}} story-package__article--with-image{{/if}}">
				<a class="story-package__article__link ng-title-link" href="/{{id}}" data-trackable="title">
					{{title}}
					{{#if image}}
						<img class="story-package__article__image" src="{{image}}" />
					{{/if}}
				</a>
				<time
					class="story-package__article__timestamp ng-meta o-date"
					data-o-component="o-date"
					datetime="{{#dateformat}}{{publishedDate}}{{/dateformat}}"
					data-o-date-js>
					{{#dateformat "dddd, d mmmm, yyyy"}}{{publishedDate}}{{/dateformat}}
				</time>
			</li>
		{{/each}}
	</ul>
</aside>
