
<div class="article-card article-card__tone--fastft{% if mode === 'compact' %} article-card--compact{% endif %}" id="clamo-{{ item.uuid }}">
    <div class="article-card__primary-tag">
        fastFT 
    </div>
    	<h3 class="article-card__headline">
        <a href="/fastft/{{ item.id }}" class="article-card__link">
            {{ item.title }}
        </a>
      </h3>

    <div class="article-card__reading-info">
    	{% include "../byline.html" with {item: {lastUpdated: item._datePublished}} %}

    </div>
    <a href="#" class="article-card__expand js-toggle" data-toggle=".article-card__expandable-content">
        <i class="icon-arrow-down"></i>
    </a>
    <section class="article-card__expandable-content">
    <div class="article-card__body">
        {{ item.content|raw }}
    </div>
    </section>
</div>
