<div class="article__next-up__article-list" role="group" aria-labelledBy="article__next-up__title" >
	<span id="article__next-up__title" class="article__next-up__title">More on this subject:</span>
	{{#each items}}
		<article class="article__next-up__item">
			<div class="article__next-up__item__content">
				<a href="/article/{{item.id}}" data-trackable="related">
					<h3 class="article__next-up__item__headline">{{item.packaging.spHeadline}}</h3>
				</a>
			</div>
		</article>
	{{/each}}
</div>
