{{#if items.length}}
	<div class="article__suggested-reads__article-list" role="group" aria-labelledBy="article__suggested-reads__title" >
		<h3 id="article__suggested-reads__title" class="article__suggested-reads__title">Recommended:</h3>
		{{#each items}}
			<article class="article__suggested-reads__item">
				<div class="article__suggested-reads__item__content">
					<a href="{{headline.url}}" data-trackable="related">
						<h4 class="article__suggested-reads__item__headline">{{headline.text}}</h4>
					</a>
				</div>
			</article>
		{{/each}}
	</div>
{{/if}}
