<div class="article__suggested-reads__article-list" role="group" aria-labelledBy="article__suggested-reads__title" >
	<span id="article__suggested-reads__title" class="article__suggested-reads__title">More on this subject:</span>
	{{#each items}}
		<article class="article__suggested-reads__item">
			<div class="article__suggested-reads__item__content">
				<a href="/{{item.id}}" data-trackable="related">
					<h3 class="article__suggested-reads__item__headline">{{item.title.title}}</h3>
				</a>
			</div>
		</article>
	{{/each}}
</div>
