body {
    margin: 0;
    padding: 0;
}

.context__container, .stream__container {
    float: left;
    min-height: 150vh;
}

.context__container {
    float: left;
    position: absolute;
}

.stream__container {
    width: 100%;
    margin: 0 auto;
}

.has-context {
    .context__container {
        width: 20%;
    }
    .stream__container {
        width: 80%;
        margin-left: 20%;
    }
}

@media (min-width: 600px) {
    .context__container, .stream__container {
        margin-top: 40px;
    }
}

.stream {
    max-width: 600px;
    margin: 0 auto;
    height: 100vh;
}

.controls__container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: blue;
    width: 20%;
}
    
.show {
    xbackground-color: #eee;
    display: block;
}


@media (max-width: 600px) {
        
    .context__container, .has-context .context__container {
        width: 100%;
        display: none;
        position: absolute;
        background-color: white;
        &.show {
            display: block;
        }
    }

    .show {
        display: block;
    }
    
    .stream__container, .has-context .stream__container {
        width: 100%;
        margin-left: 0;
    }
    
    .stream {
        width: 100%;
    }


}
