/*
	Spent a long time trying to refactor all of this into two card designs;
	the one that's used for "myFT" and the pink one that's used in the items,
	however it proved quite fiddly to do without re-writing a lot of things.

	The following CSS scoped to .more-on--abtest_b is the neccessary to overwrite
	various styles for the ab-test. Depending on which style wins you should
	either refactor into the rest of the CSS or just delete it.
*/


.more-on--abtest_b {

	display: flex;
	box-sizing: border-box;
	flex: 1 1 auto;
	padding: 0 10px;
	border-bottom: 0;

	@include oGridRespondTo(S) {
		width: 50%;
	}

	&--wrapper {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		padding: 0;
		list-style: none;
	}

	.header__name {
		@include oTypographySansBold(m);
		color: getColor('claret-1');
		margin-right: 0;
	}

	.pod__items {
		margin: 0;
		margin-bottom: 16px;
	}

	.header {
		position: initial;
		padding: 0 80px 0 0;
		margin: 8px 10px 8px 20px;

		.n-myft-ui {
			position: absolute;
			right: 10px;
			top: 24px;
		}
	}

	.header__type {
		@include oTypographySerifDisplayBold(m);
		position: absolute;
		top: -15px;
		left: 10px;
		padding: 0 10px;
		background-color: getColor('warm-5');
	}

	.header__title {
		&:after {
			border: 0;
		}
	}

	.more-on__follow-button {
		float: right;
	}

	.pod__item-title__link {
		color: getColor('cold-1');
	}

	.pod__item__headline {
		margin: 10px 10px 0 20px;
	}

	.pod__item__time {
		@include oTypographySans(xs);
		position: relative;
		text-transform: uppercase;
		color: getColor('warm-6');
		margin: 0 0 0 20px;
		padding: 0;
		height: auto;
	}

	.pod__item__image--placeholder {
		display: block;
		float: none;
		margin-top: 10px;
	}

	.pod__item {
		background-color: inherit;
	}

	.header__link {
		position: absolute;
		bottom: 0;
		right: 0;
		margin-right: 10px;
		&__text {
			display: block;
		}
		&::after {
			display: inline-block;
		}
	}

}

/* end of AB test styles */

.pod__items {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	padding: 0;
	list-style: none;
}

.pod__item-wrapper {
	display: flex;
	box-sizing: border-box;
	flex: 1 1 auto;
	padding: 10px;
	border-bottom: 0;

	@include oGridRespondTo(M) {
		width: 50%;
	}
}

.pod__item-wrapper--lead {
	width: 100%;
}

.pod__item {
	position: relative;
	width: 100%;
	background-color: getColor('pink');
	box-sizing: border-box;
}

.pod__item__image--placeholder {
	display: none;
	float: right;
	border-bottom: 0;
	@include oGridRespondTo(M) {
		display: block;
	}
}
.pod__item__image {
	border-bottom: 0;
	img {
		display: block;
	}
}

.pod__item__content {
	padding: 10px 10px 30px;
	overflow: hidden;
	@include oGridRespondTo(M) {
		.pod__item-wrapper--lead & {
			padding-right: 20px;
		}
	}
}
.pod__item__headline {
	@include oTypographySerifDisplay(m);
	margin: 0;
	@include oGridRespondTo(M) {
		.pod__item-wrapper--lead & {
			font-size: 28px;
			line-height: 30px;
		}
	}

	.pod__item__tag + & {
		margin-top: 5px;
	}
}
.pod__item__headline-link {
	color: getColor('cold-2');
	text-decoration: none;
	border-bottom: 1px dotted transparent;
	transition: border-bottom-color 0.3s;

	&:hover {
		border-bottom-color: getColor('cold-2');
	}
}
.pod__item__subheading {
	@include oTypographySans(s);
	margin: 5px 0 0;
	color: getColor('cold-2');
	@include oGridRespondTo(L) {
		.pod__item-wrapper--lead & {
			font-size: 18px;
			line-height: 20px;
		}
	}
}
.pod__item__time {
	@include nTypeAlpha(5);
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	text-transform: uppercase;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	color: getColor('warm-6');
}

.more-on__topic--link {
	position: relative;
	padding-right: 20px;
	margin-bottom: 20px;
	display: block;
	text-align: right;
	@include oGridRespondTo(M) {
		display: none;
	}
}

.header.article-tags__header {
	position: absolute;
	top: -24px;
	left: 15px;
	padding-left: 10px;
	background-color: getColor('warm-5');
}
.article-tags__intro {
	padding: 16px 0;
	margin: 0 10px;
	border-bottom: 1px solid getColor('warm-3');
	p {
		margin: 0;
	}
}

.article-tags__tags {
	list-style: none;
	padding: 0;
	margin: 0;
}

.article-tags__tag {
	position: relative;
	padding: 10px 80px 10px 0;
	margin: 0 10px;
	border-bottom: 1px solid getColor('warm-3');
	min-height: 26px;
}

.article-tags__tag .n-myft-ui {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -13px;
}

.article-tags__product-tour {
	text-align: center;
	padding: 15px 0;
}

.article-tags__product-tour--link {
	@include oTypographySansData(m);
	font-size: 16px;
	position: relative;
	&:after {
		@include nextIcon('arrow-right', getColor('link-1'), 10);
		content: '';
		position: absolute;
		top: 5px;
	}
	&:hover {
		color: getColor('cold-2');

		&:after {
			@include nextIcon('arrow-right', getColor('cold-2'), 10);
		}
	}
}

.header {
	position: relative;
	padding: 0;
	margin-top: 10px;
	overflow: hidden;
}
.header__name {
	@include oTypographySerifDisplayBold(m);
	display: inline;
	margin: 0 10px 0 0;
	padding: 10px 0 0;
	color: getColor('cold-3');
	&--sans-serif {
		@include oTypographySansData(l);
		font-size: 20px;
	}
}
.header__title {
	&:after {
		display: none;
		content: "";
		position: absolute;
		margin-left: 10px;
		height: 1px;
		border-bottom: 1px solid getColor('warm-3');
		top: 18px;
		width: 100%;
		@include oGridRespondTo(M) {
			display: initial;
		}
	}
}

.header__link {
	@include oTypographySansDataBold(m);
	font-size: 16px;
	position: relative;
	background-color: getColor('warm-5');
	border-bottom: 0;
	float: right;
	margin-left: 10px;
	padding: 8px 20px 0 10px;
	min-height: 24px;
	transition: color 0.3s;

	&:hover {
		color: getColor('cold-2');

		&:after {
			@include nextIcon('arrow-right', getColor('cold-2'), 16);
		}
	}
	&:after {
		@include nextIcon('arrow-right', getColor('link-1'), 16);
		display: none;
		content: '';
		position: absolute;
		top: 8px;
		right: 0;
		@include oGridRespondTo(M) {
			display: inline-block;
		}
	}
}
.header__link__text {
	display: none;
	@include oGridRespondTo(M) {
		display: block;
	}
}

.header__link--bottom {
	&:after {
		@include nextIcon('arrow-right', getColor('link-1'), 10);
		content: '';
		position: absolute;
		bottom: 2px;
	}
	&:hover {
		color: getColor('cold-2');

		&:after {
			@include nextIcon('arrow-right', getColor('cold-2'), 10);
		}
	}
}
