.story-package {
	margin-top: 15px;
	margin-bottom: 15px;
	position: relative;
	font-family: $fontSans;
	font-weight: 100;
	color: #000000;

	@include print {
		display: none;
	}
}
.story-package--inline {
	@include oGridRespondTo(S) {
		width: 300px;
	}
}
.story-package__title {
	@include nTypeBeta(4);
	text-transform: uppercase;
	margin: 0;
}

.story-package__article {
	position: relative;
	margin: 0 5px;
	padding: 5px;
	font-size: 17px;
	font-weight: 200;
	line-height: 1em;
	box-sizing: border-box;
	min-height: 56px;
	border: 1px solid $box-colour;

	@include oGridRespondTo(S) {
		font-size: 20px;
	}
	&:first-child {
		margin-top: 0;
		.story-package__article__timestamp {
			float: left;
		}
		.story-package__article__link {
			clear: left;
		}
	}

	&.story-package__article--with-image {
		padding-right: 110px;
	}
	.story-package--with-image & {
		@include oGridRespondTo(S) {
			padding-right: 220px;
		}
		@include oGridRespondTo(M) {
			padding-right: 320px;
		}
	}
	.story-package--authors & {
		@include oGridRespondTo(S) {
			padding-right: 120px;
		}
	}
	.story-package__article__link {
		display: block;
		color: inherit;
	}
}

.story-package__article__image {
	display: block;
	border: 0;
	position: absolute;
	top: -1px;
	right: -1px;
}

.story-package__article__timestamp {
	@include nTypeAlpha(5);
	margin-top: 5px;
	color: oColorsGetPaletteColor('cold-1');
	display: block;
	margin: 10px 0;
	text-transform: uppercase;
}
