$image-width: 100px;
$image-width-padding: 10px;
$image-width-allowance: $image-width + $image-width-padding;
$image-height: 56px;
$height-padding: 8px;
$image-height-allowance: $image-height + (2 * $height-padding);

.story-package {
	margin-top: 5px;
	margin-bottom: 15px;
	position: relative;

	@include print {
		display: none;
	}
}

.story-package__article {
	position: relative;
	box-sizing: border-box;
	min-height: $image-height-allowance;
	padding-left: $image-width-allowance;
	border-bottom: 2px solid oColorsGetPaletteColor('warm-2');
	&--comment {
		background-color: $comment-bg;
	}
	&--analysis {
		background-color: $analysis-bg;
	}
	&--lifestyle {
		background-color: $lifestyle-bg;
	}
}

.story-package--inline {
	.story-package__article {
		padding-left: 5px;
	}
	.story-package__article--with-image {
		padding-right: $image-width-allowance;
	}
	.story-package__image {
		left: initial;
		right: 0;
	}
}

.story-package__image {
	display: block;
	position: absolute;
	left: 0;
	padding: $height-padding 0;
}

.story-package__title {
	@include nTypeBravo(3);
	margin: 0;
	border-bottom: 1px solid oColorsGetPaletteColor('cold-2');
	padding: 0 0 $height-padding;
}
