<div class="premium-barrier-simple" data-trackable="premium-barrier-simple" data-barrier="premium">
	<h2>This content is available for Premium Subscribers only</h2>

	<h3>What do you get?</h3>

	<p><strong>Lex.</strong> The FT's daily guide to the corporate and financial stories that matter. Since the 1930's Lex has been providing concise, readable and timely commentary on companies, markets and the theory behind investing. From tech valuations to the pros and cons of share buybacks, via the banking crisis and emerging markets. Our specialists in London, New York and Hong Kong give you the tools to make better decisions</p>

	<p><strong>FT interactive ePaper.</strong> An exact digital replica of the printed newspaper on your PC or laptop, ideal for when you're travelling.  You can even save and share articles.</p>

	<p><strong>Editor's Choice.</strong> An exclusive weekly newsletter with insights from Lionel Barber, the FT's lauded editor.</p>

	<p><strong>FT Newsmine.</strong> A weekly email that abstracts essential macroeconomics data for you from the week's news stories.</p>

	<p><strong>Martin Sambu's Free Lunch.</strong> A succinct daily take on global economics from columnist Martin Sandbu who selects and comments on the day's biggest topics.</p>

	<a class="premium-barrier-simple__upgrade-now" href="{{premiumSimpleBarrier.subscribeNowLink}}" data-trackable="subscribe">Upgrade now</a>

</div>
