<div class="barrier-grid" data-trackable="barrier-grid" data-barrier="premium">
	<div class="barrier-grid__header o-grid-row">
		<h2>
			<span class="barrier-grid__heading-pretext">You must be a Premium Subscriber to continue to read:</span>
			<span class="barrier-grid__article-title">{{{premiumSimpleBarrier.articleTitle}}}</span>
		</h2>
		{{#if premiumSimpleBarrier.signInLink}}
			<p class="barrier-grid__sign-in">
				<span class="barrier-grid__pretext">Already a subscriber?</span>
				<a data-trackable="sign-in" href="{{premiumSimpleBarrier.signInLink.href}}">{{premiumSimpleBarrier.signInLink.text}}</a>
			</p>
		{{/if}}
	</div>
	<div class="barrier-grid__section o-grid-row">
		<div>
			<div style="text-align: center; padding-top: 20px; padding-bottom: 20px;">
				<a class="barrier-grid__cto-btn" href="{{premiumSimpleBarrier.subscribeNowLink.href}}" data-trackable="subscribe">{{premiumSimpleBarrier.subscribeNowLink.text}}</a>
			</div>

			<h3 style="text-align: center">What do you get in your Premium Subscription package</h3>

			<p><span class="barrier-grid__p-heading">Lex Column</span> - The FT’s daily guide to the corporate and financial stories that matter. Since the 1930’s Lex has been providing concise, readable and timely commentary on companies, markets and the theory behind investing. From tech valuations to the pros and cons of share buybacks, via the banking crisis and emerging markets, Our specialists in London, New York and Hong Kong give you the tools to make better investment decisions.</p>


			<p><span class="barrier-grid__p-heading">Editor's Choice</span> - An exclusive weekly newsletter with insights from Lionel Barber, the Financial Times’ lauded editor.</p>


			<p><span class="barrier-grid__p-heading">FT Newsmine Blog</span> - A weekly email that abstracts essential macroeconomic data for you from the week’s news stories.</p>

			<p><span class="barrier-grid__p-heading">Free lunch</span> - Martin Sambu’s Free Lunch - A succinct daily take on global economics from columnist Martin Sandbu who selects and comments on the day's biggest topics.</p>

		</div>
	</div>

	<div class="barrier-grid__other-options o-grid-row">
		<h3 data-o-grid-colspan="full-width">Other subscription options</h3>
		<div class="o-grid-row" data-o-grid-colspan="full-width">
			<div class="barrier-grid__other-option barrier-grid__other-option--corporate" data-o-grid-colspan="one-half">
				<div class="barrier-grid__other-option-inner">
					<a data-trackable="corporate" href="{{premiumSimpleBarrier.otherOptions.corporate.link}}">
						<span class="barrier-grid__option-options-text">Corporate</span>
					</a>
				</div>
			</div>
			<div class="barrier-grid__other-option barrier-grid__other-option--newspaper" data-o-grid-colspan="one-half">
				<div class="barrier-grid__other-option-inner">
					<a data-trackable="newspaper" href="{{premiumSimpleBarrier.otherOptions.newspaper.link}}">
						<span class="barrier-grid__option-options-text">Newspaper only</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
