<div class="register-barrier-grid {{#if registerGridBarrier.missingNewspaper}}register-barrier-grid--missing-newspaper{{/if}}" data-trackable="register-barrier-grid" data-barrier="register">
	<div class="register-barrier-grid__header o-grid-row">
		<h2>
			<span class="register-barrier-grid__heading-pretext">Subscribe to read:</span>
			<span class="register-barrier-grid__article-title">{{{registerGridBarrier.articleTitle}}}</span>
		</h2>
		<p class="register-barrier-grid__sign-in">
			<span class="register-barrier-grid__pretext">Already a subscriber?</span>
			<a data-trackable="sign-in" href="{{registerGridBarrier.signInLink}}">Sign in here</a>
		</p>
	</div>

	<div class="register-barrier-grid__options o-grid-row">
		{{#if registerGridBarrier.packages.newspaper}}
			<div class="register-barrier-grid__option register-barrier-grid__option--option1">
				<div class="register-barrier-grid__option-inner">
					<h3>{{registerGridBarrier.packages.newspaper.name}}</h3>
					<div class="register-barrier-grid__image">
						<img src="{{#resize 800}}//next-geebee.ft.com/assets/print_digital.png{{/resize}}" alt="{{registerGridBarrier.packages.newspaper.name}}">
					</div>
					<div class="register-barrier-grid__primary">
						<p class="register-barrier-grid__price">
							{{registerGridBarrier.packages.newspaper.price.weekly}}
							<span>per week</span>
						</p>
						<a data-trackable="subscribe-newspaper" class="register-barrier-grid__select" href="{{registerGridBarrier.packages.newspaper.subscribeLink}}">Select</a>
					</div>
					<div class="register-barrier-grid__secondary">
						{{#if registerGridBarrier.packages.newspaper.details.title}}
							<h4>{{registerGridBarrier.packages.newspaper.details.title}}</h4>
						{{/if}}
						<ul>
							{{#each registerGridBarrier.packages.newspaper.details.items}}
								<li>{{this.description}}</li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		{{/if}}
		<div class="register-barrier-grid__option register-barrier-grid__option--option2">
			<div class="register-barrier-grid__option-inner">
				<h3>{{registerGridBarrier.packages.premium.name}}</h3>
				<div class="register-barrier-grid__image">
					<img src="{{#resize 800}}//next-geebee.ft.com/assets/premium_digital.png{{/resize}}" alt="{{registerGridBarrier.packages.premium.name}}">
				</div>
				<div class="register-barrier-grid__primary">
					<p class="register-barrier-grid__price">{{registerGridBarrier.packages.premium.price.weekly}} <span>per week</span></p>
					<a data-trackable="subscribe-premium" class="register-barrier-grid__select" href="{{registerGridBarrier.packages.premium.subscribeLink}}">Select</a>
				</div>
				<div class="register-barrier-grid__secondary">
					{{#if registerGridBarrier.packages.premium.details.title}}
						<h4>{{registerGridBarrier.packages.premium.details.title}}</h4>
					{{/if}}
					<ul>
						{{#each registerGridBarrier.packages.premium.details.items}}
							<li>{{this.description}}</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
		<div class="register-barrier-grid__option register-barrier-grid__option--option3">
			<div class="register-barrier-grid__option-inner">
				<h3>{{registerGridBarrier.packages.standard.name}}</h3>
				<div class="register-barrier-grid__image">
					<img src="{{#resize 800}}//next-geebee.ft.com/assets/standard_digital.png{{/resize}}" alt="{{registerGridBarrier.packages.standard.name}}">
				</div>
				<div class="register-barrier-grid__primary">
					<p class="register-barrier-grid__price">{{registerGridBarrier.packages.standard.price.weekly}} <span>per week</span></p>
					<a data-trackable="subscribe-standard" class="register-barrier-grid__select" href="{{registerGridBarrier.packages.standard.subscribeLink}}">Select</a>
				</div>
				<div class="register-barrier-grid__secondary">
					{{#if registerGridBarrier.packages.standard.details.title}}
						<h4>{{registerGridBarrier.packages.standard.details.title}}</h4>
					{{/if}}
					<ul>
						{{#each registerGridBarrier.packages.standard.details.items}}
							<li>{{this.description}}</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
		<div class="register-barrier-grid__option register-barrier-grid__option--option4">
			<div class="register-barrier-grid__option-inner">
				<h3>{{registerGridBarrier.packages.trial.name}}</h3>
				<div class="register-barrier-grid__image">
					<img src="{{#resize 800}}//next-geebee.ft.com/assets/premium_digital.png{{/resize}}" alt="{{registerGridBarrier.packages.trial.name}}">
				</div>
				<div class="register-barrier-grid__primary">
					<p class="register-barrier-grid__price">{{registerGridBarrier.packages.trial.price.monthly}} <span>for one month</span></p>
					<a data-trackable="subscribe-trial" class="register-barrier-grid__select" href="{{registerGridBarrier.packages.trial.subscribeLink}}">Select</a>
				</div>
				<div class="register-barrier-grid__secondary">
					{{#if registerGridBarrier.packages.trial.details.title}}
						<h4>{{registerGridBarrier.packages.trial.details.title}}</h4>
					{{/if}}
					<ul>
						{{#each registerGridBarrier.packages.trial.details.items}}
							<li>{{this.description}}</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="register-barrier-grid__other-options o-grid-row">
		<h3>Other subscription options</h3>
		<div class="o-grid-row">
			<div class="register-barrier-grid__other-option register-barrier-grid__other-option--corporate">
				<div class="register-barrier-grid__other-option-inner">
					<a data-trackable="corporate" href="{{registerGridBarrier.otherOptions.corporate.link}}">
						<span class="register-barrier-grid__option-options-text">Corporate</span>
					</a>
				</div>
			</div>
			<div class="register-barrier-grid__other-option register-barrier-grid__other-option--newspaper">
				<div class="register-barrier-grid__other-option-inner">
					<a data-trackable="newspaper" href="{{registerGridBarrier.otherOptions.newspaper.link}}">
						<span class="register-barrier-grid__option-options-text">Newspaper only</span>
					</a>
				</div>
			</div>
			<div class="register-barrier-grid__other-option register-barrier-grid__other-option--weekend">
				<div class="register-barrier-grid__other-option-inner">
					<a data-trackable="weekend-app" href="{{registerGridBarrier.otherOptions.weekendAppEdition.link}}">
						<span class="register-barrier-grid__option-options-text">Weekend App Edition</span>
					</a>
				</div>
			</div>
		</div>
	</div>

</div>
