<div class="register-barrier-grid" data-trackable="register-barrier-grid" data-barrier="register">
	<div class="register-barrier-grid__header o-grid-row o-grid-row--compact">
		<h2><span class="register-barrier-grid__heading-pretext">This content is available for Subscribers only.</span></h2>
		<p class="register-barrier-grid__sign-in">
			<span class="register-barrier-grid__pretext">Already a subscriber?</span>
			<a data-trackable="sign-in" href="/login">Sign in here</a>
		</p>
	</div>

	<div class="barrier-grid__section o-grid-row o-grid-row--compact">
		<p class="register-barrier-simple__description">Features include unlimited FT.com article access, unlimited mobile and tablet access, unlimited fastFT and a five-year company financials archive.</p>
		<p class="register-barrier-simple__subscribe-now"><a href="{{registerSimpleBarrier.subscribeNowLink}}" data-trackable="subscribe">Subscribe now</a></p>
	</div>
</div>
