<div class="subscription-barrier-grid" data-trackable="subscription-barrier-grid">
	<div class="subscription-barrier-grid__header o-grid-row">
		<h2>
			<span class="subscription-barrier-grid__heading-pretext">Subscribe to read:</span>
			<span class="subscription-barrier-grid__article-title">{{{subscriptionGridBarrier.articleTitle}}}</span>
		</h2>
	</div>

	<div class="subscription-barrier-grid__options o-grid-row">
		<div class="subscription-barrier-grid__option subscription-barrier-grid__option--option1">
			<div class="subscription-barrier-grid__option-inner">
				<h3>{{subscriptionGridBarrier.packages.newspaper.name}}</h3>
				<div class="subscription-barrier-grid__image">
					<img src="//next.ft.com/assets/print_digital.png" alt="{{subscriptionGridBarrier.packages.newspaper.name}}">
				</div>
				<div class="subscription-barrier-grid__primary">
					<p class="subscription-barrier-grid__price">
						{{subscriptionGridBarrier.packages.newspaper.price.weekly}}
						<span>per week</span>
					</p>
					<a data-trackable="subscribe-newspaper" class="subscription-barrier-grid__select" href="{{subscriptionGridBarrier.packages.newspaper.subscribeLink}}">Select</a>
				</div>
				<div class="subscription-barrier-grid__secondary">
					{{#if subscriptionGridBarrier.packages.newspaper.details.title}}
						<h4>{{subscriptionGridBarrier.packages.newspaper.details.title}}</h4>
					{{/if}}
					<ul>
						{{#each subscriptionGridBarrier.packages.newspaper.details.items}}
							<li>{{this.description}}</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
		<div class="subscription-barrier-grid__option subscription-barrier-grid__option--option2">
			<div class="subscription-barrier-grid__option-inner">
				<h3>{{subscriptionGridBarrier.packages.premium.name}}</h3>
				<div class="subscription-barrier-grid__image">
					<img src="//next.ft.com/assets/premium_digital.png" alt="{{subscriptionGridBarrier.packages.premium.name}}">
				</div>
				<div class="subscription-barrier-grid__primary">
					<p class="subscription-barrier-grid__price">{{subscriptionGridBarrier.packages.premium.price.weekly}} <span>per week</span></p>
					<a data-trackable="subscribe-premium" class="subscription-barrier-grid__select" href="{{subscriptionGridBarrier.packages.premium.subscribeLink}}">Select</a>
				</div>
				<div class="subscription-barrier-grid__secondary">
					{{#if subscriptionGridBarrier.packages.premium.details.title}}
						<h4>{{subscriptionGridBarrier.packages.premium.details.title}}</h4>
					{{/if}}
					<ul>
						{{#each subscriptionGridBarrier.packages.premium.details.items}}
							<li>{{this.description}}</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
		<div class="subscription-barrier-grid__option subscription-barrier-grid__option--option3">
			<div class="subscription-barrier-grid__option-inner">
				<h3>{{subscriptionGridBarrier.packages.standard.name}}</h3>
				<div class="subscription-barrier-grid__image">
					<img src="//next.ft.com/assets/standard_digital.png" alt="{{subscriptionGridBarrier.packages.standard.name}}">
				</div>
				<div class="subscription-barrier-grid__primary">
					<p class="subscription-barrier-grid__price">{{subscriptionGridBarrier.packages.standard.price.weekly}} <span>per week</span></p>
					<a data-trackable="subscribe-standard" class="subscription-barrier-grid__select" href="{{subscriptionGridBarrier.packages.standard.subscribeLink}}">Select</a>
				</div>
				<div class="subscription-barrier-grid__secondary">
					{{#if subscriptionGridBarrier.packages.standard.details.title}}
						<h4>{{subscriptionGridBarrier.packages.standard.details.title}}</h4>
					{{/if}}
					<ul>
						{{#each subscriptionGridBarrier.packages.standard.details.items}}
							<li>{{this.description}}</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
		<div class="subscription-barrier-grid__option subscription-barrier-grid__option--option4">
			<div class="subscription-barrier-grid__option-inner">
				<h3>{{subscriptionGridBarrier.packages.trial.name}}</h3>
				<div class="subscription-barrier-grid__image">
					<img src="//next.ft.com/assets/premium_digital.png" alt="{{subscriptionGridBarrier.packages.trial.name}}">
				</div>
				<div class="subscription-barrier-grid__primary">
					<p class="subscription-barrier-grid__price">{{subscriptionGridBarrier.packages.trial.price.monthly}} <span>for one month</span></p>
					<a data-trackable="subscribe-trial" class="subscription-barrier-grid__select" href="{{subscriptionGridBarrier.packages.trial.subscribeLink}}">Select</a>
				</div>
				<div class="subscription-barrier-grid__secondary">
					{{#if subscriptionGridBarrier.packages.trial.details.title}}
						<h4>{{subscriptionGridBarrier.packages.trial.details.title}}</h4>
					{{/if}}
					<ul>
						{{#each subscriptionGridBarrier.packages.trial.details.items}}
							<li>{{this.description}}</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="subscription-barrier-grid__other-options">
		<h3>Other subscription options</h3>
		<div class="o-grid-row">
			<div class="subscription-barrier-grid__other-option subscription-barrier-grid__other-option--corporate">
				<div class="subscription-barrier-grid__other-option-inner">
					<a href="{{subscriptionGridBarrier.otherOptions.corporate.link}}">
						<span class="subscription-barrier-grid__option-options-text">Corporate</span>
					</a>
				</div>
			</div>
			<div class="subscription-barrier-grid__other-option subscription-barrier-grid__other-option--epaper">
				<div class=" subscription-barrier-grid__other-option-inner">
					<a href="{{subscriptionGridBarrier.otherOptions.ePaper.link}}">
						<span class="subscription-barrier-grid__option-options-text">ePaper</span>
					</a>
				</div>
			</div>
			<div class="subscription-barrier-grid__other-option subscription-barrier-grid__other-option--newspaper">
				<div class="subscription-barrier-grid__other-option-inner">
					<a href="{{subscriptionGridBarrier.otherOptions.newspaper.link}}">
						<span class="subscription-barrier-grid__option-options-text">Newspaper only</span>
					</a>
				</div>
			</div>
			<div class="subscription-barrier-grid__other-option subscription-barrier-grid__other-option--weekend">
				<div class="subscription-barrier-grid__other-option-inner">
					<a href="{{subscriptionGridBarrier.otherOptions.weekendAppEdition.link}}">
						<span class="subscription-barrier-grid__option-options-text">Weekend App Edition</span>
					</a>
				</div>
			</div>
		</div>
	</div>

</div>
