<div class="trial-barrier-simple" data-trackable="trial-barrier-simple" data-barrier="trial">
	<h2>This content is available for Subscribers only</h2>

	<p class="trial-barrier-simple__already-registered">Already a subscriber? <a href="{{trialSimpleBarrier.signInLink}}" data-trackable="sign-in">Sign in</a>
	</p>

	<p class="trial-barrier-simple__description">Features include FT Alphaville plus selected FT blogs, Unlimited FT.com article access, Unlimited mobile and tablet access, Unlimited fastFT. 5 year company financials archive.</p>

	<p class="trial-barrier-simple__subscribe-now"><a href="{{trialSimpleBarrier.subscribeNowLink}}" data-trackable="subscribe">Subscribe now</a></p>

</div>
