<div class="ft-subscription-panel trial-barrier-grid {{#if trialGridBarrier.missingNewspaper}}trial-barrier-grid--missing-newspaper{{/if}}" data-trackable="trial-barrier-grid" data-barrier="trial">
	<div class="trial-barrier-grid__header o-grid-row o-grid-row--compact">
		<h2>
			<span class="trial-barrier-grid__heading-pretext">Subscribe to read:</span>
			<span class="trial-barrier-grid__article-title">{{{trialGridBarrier.articleTitle}}}</span>
		</h2>
		<p class="trial-barrier-grid__sign-in">
			<span class="trial-barrier-grid__pretext">Already a subscriber?</span>
			<a data-trackable="sign-in" href="{{trialGridBarrier.signInLink}}">Sign in here</a>
		</p>
	</div>

	<div class="trial-barrier-grid__options o-grid-row o-grid-row--compact">
		{{#if trialGridBarrier.packages.newspaper}}
			<div class="trial-barrier-grid__option trial-barrier-grid__option--option1">
				<div class="trial-barrier-grid__option-inner">
					<h3>{{trialGridBarrier.packages.newspaper.name}}</h3>
					<div class="trial-barrier-grid__image">
						<img src="{{#resize 800}}//next-geebee.ft.com/assets/print_digital.png{{/resize}}" alt="{{trialGridBarrier.packages.newspaper.name}}">
					</div>
					<div class="trial-barrier-grid__primary">
						<p class="trial-barrier-grid__price">
							{{trialGridBarrier.packages.newspaper.price.weekly}}
							<span>per week</span>
						</p>
						<a data-trackable="subscribe-newspaper" class="trial-barrier-grid__select" href="{{trialGridBarrier.packages.newspaper.subscribeLink}}">Select</a>
					</div>
					<div class="trial-barrier-grid__secondary">
						{{#if trialGridBarrier.packages.newspaper.details.title}}
							<h4>{{trialGridBarrier.packages.newspaper.details.title}}</h4>
						{{/if}}
						<ul>
							{{#each trialGridBarrier.packages.newspaper.details.items}}
								<li>{{this.description}}</li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		{{/if}}
		<div class="trial-barrier-grid__option trial-barrier-grid__option--option2">
			<div class="trial-barrier-grid__option-inner">
				<h3>{{trialGridBarrier.packages.premium.name}}</h3>
				<div class="trial-barrier-grid__image">
					<img src="{{#resize 800}}//next-geebee.ft.com/assets/premium_digital.png{{/resize}}" alt="{{trialGridBarrier.packages.premium.name}}">
				</div>
				<div class="trial-barrier-grid__primary">
					<p class="trial-barrier-grid__price">{{trialGridBarrier.packages.premium.price.weekly}} <span>per week</span></p>
					<a data-trackable="subscribe-premium" class="trial-barrier-grid__select" href="{{trialGridBarrier.packages.premium.subscribeLink}}">Select</a>
				</div>
				<div class="trial-barrier-grid__secondary">
					{{#if trialGridBarrier.packages.premium.details.title}}
						<h4>{{trialGridBarrier.packages.premium.details.title}}</h4>
					{{/if}}
					<ul>
						{{#each trialGridBarrier.packages.premium.details.items}}
							<li>{{this.description}}</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
		<div class="trial-barrier-grid__option trial-barrier-grid__option--option3">
			<div class="trial-barrier-grid__option-inner">
				<h3>{{trialGridBarrier.packages.standard.name}}</h3>
				<div class="trial-barrier-grid__image">
					<img src="{{#resize 800}}//next-geebee.ft.com/assets/standard_digital.png{{/resize}}" alt="{{trialGridBarrier.packages.standard.name}}">
				</div>
				<div class="trial-barrier-grid__primary">
					<p class="trial-barrier-grid__price">{{trialGridBarrier.packages.standard.price.weekly}} <span>per week</span></p>
					<a data-trackable="subscribe-standard" class="trial-barrier-grid__select" href="{{trialGridBarrier.packages.standard.subscribeLink}}">Select</a>
				</div>
				<div class="trial-barrier-grid__secondary">
					{{#if trialGridBarrier.packages.standard.details.title}}
						<h4>{{trialGridBarrier.packages.standard.details.title}}</h4>
					{{/if}}
					<ul>
						{{#each trialGridBarrier.packages.standard.details.items}}
							<li>{{this.description}}</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
		<div class="trial-barrier-grid__option trial-barrier-grid__option--option4">
			<div class="trial-barrier-grid__option-inner">
				<h3>{{trialGridBarrier.packages.trial.name}}</h3>
				<div class="trial-barrier-grid__image">
					<img src="{{#resize 800}}//next-geebee.ft.com/assets/premium_digital.png{{/resize}}" alt="{{trialGridBarrier.packages.trial.name}}">
				</div>
				<div class="trial-barrier-grid__primary">
					<p class="trial-barrier-grid__price">{{trialGridBarrier.packages.trial.price.monthly}} <span>for 4 weeks&#42;</span></p>
					<a data-trackable="subscribe-trial" class="trial-barrier-grid__select" href="{{trialGridBarrier.packages.trial.subscribeLink}}">Select</a>
				</div>
				<div class="trial-barrier-grid__secondary">
					{{#if trialGridBarrier.packages.trial.details.title}}
						<h4>{{trialGridBarrier.packages.trial.details.title}}</h4>
					{{/if}}
					<ul>
						{{#each trialGridBarrier.packages.trial.details.items}}
							<li>{{this.description}}</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</div>


	<div class="trial-barrier-grid__other-options o-grid-row o-grid-row--compact" >

		<h3 data-o-grid-colspan="full-width">Other subscription options</h3>

		<div class="o-grid-row" data-o-grid-colspan="full-width">
			<div class="trial-barrier-grid__other-option trial-barrier-grid__other-option--corporate">
				<div class="trial-barrier-grid__other-option-inner">
					<a data-trackable="corporate" href="{{trialGridBarrier.otherOptions.corporate.link}}">
						<span class="trial-barrier-grid__option-options-text">Corporate</span>
					</a>
				</div>
			</div>
			<div class="trial-barrier-grid__other-option trial-barrier-grid__other-option--newspaper">
				<div class="trial-barrier-grid__other-option-inner">
					<a data-trackable="newspaper" href="{{trialGridBarrier.otherOptions.newspaper.link}}">
						<span class="trial-barrier-grid__option-options-text">Newspaper only</span>
					</a>
				</div>
			</div>

			<div class="trial-barrier-grid__other-option trial-barrier-grid__other-option--weekend">
				<div class="trial-barrier-grid__other-option-inner">
					<a data-trackable="weekend-app" href="{{trialGridBarrier.otherOptions.weekendAppEdition.link}}">
						<span class="trial-barrier-grid__option-options-text">Weekend App Edition</span>
					</a>
				</div>
			</div>

		</div>

	</div>

</div>
