
body {
    margin: 0;
    padding: 0;
}

.logo { 
    max-width: 200px;
}

.ft-header {
    background-color: $next-black;
    text-align: center;
    padding: 10px;
}

.ft-header:hover {
    color: rgb(233, 160, 221);
    cursor: pointer;
}

.icon__trigram {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 0 10px;
    color: white;
    font-size: 20px;
    line-height: 40px;
    display: none;
}

.icon__trigram:hover {
    color: rgb(233, 160, 221); 
    cursor: pointer;
}

.trigram__label {
    font-family: arial;
    font-size: 12px;
    vertical-align: top;
}

@media (min-width: 600px) {
    
    .ft-header {
        xposition: fixed;
        z-index: 1;
        width: 100%;
    }

}

@media (max-width: 600px) {
    
    .icon__trigram {
        display: block;    
    }

}

.search__container {
	position: absolute;
	margin-top: 7px;
	margin-bottom: 7px;
	left: 0;
}
