
<link rel="StyleSheet" href="/bullpup/components/header/style.css"/>

<div class="icon__trigram">☰ <small class="trigram__label">menu</small></div> <!-- FIXME - move to PNG/SVG icons -->

<section class="ft-header home__label">
    Financial Times
</section>

<div class="splash__container">
    {% include "../splash/base.html" %}
</div>

<section class="ft-header-context">
    {% if context %}
        {{ context }}
    {% endif %}
</section>

<script src="/bullpup/components/header/main.js"></script>
