.first-click-free {
	padding: 10px;
	background-color: oColorsGetPaletteColor(warm-2);
	margin-bottom: 35px;

	h2 {
		@include oTypographySansBold(xl);
		margin-top: 10px;
	}
}

.first-click-free__already-registered {
	@include oTypographySans(m);
}

.first-click-free__already-registered a {
	color: oColorsGetPaletteColor('link-1');
	&:hover {
		text-decoration: none;
	}
}

.first-click-free__description {
	@include oTypographySans(m);
}

.first-click-free__subscribe-now a {
	@include nextLinkButton(
		$background: oColorsGetPaletteColor('link-1')
	);
}
