{% extends "../node_modules/next-wrapper/templates/layout.html" %}
{% block body %}
<div class="o-grid-row">
    
    {% flag contextNavigation %}
        <!-- Component: context - FIXME - split in to nav & context -->
        <div class="context__container" data-o-grid-colspan="S12 M4 L4 XL4">
            <!-- Component: selected-filters -->
            {% if selectedFilters && selectedFilters.length %}
                <div class="context selected-filters__container">
                    {% include "components/selected-filters.html"  with {filters: selectedFilters} %}
                </div>
            {% endif %}
            <!-- Component: search-filters -->
            <div class="context search-filters__container">
                {% include "components/search-filters.html" with {filters: searchFilters} %}
            </div>
            <div class="js-context__container"></div>
        </div>
    
        <!-- Component: stream -->
        <div class="stream__container" data-o-grid-colspan="S12 M8 L6 XL6">
            <div class="stream">
                {% include "components/stream.html" %}
            </div>
        </div>
    {% endflag %}
    {% flag !contextNavigation %}
        <!-- Component: stream -->
        <div data-o-grid-colspan="S12 M2 L3 XL3">&nbsp;</div>
        <div class="stream__container" data-o-grid-colspan="S12 M8 L6 XL6">
            <div class="stream">
                {% include "components/stream.html" %}
            </div>
        </div>
        <div data-o-grid-colspan="S12 M2 L3 XL3">&nbsp;</div>

    {% endflag %}
</div>
{% endblock }
