{% extends "../node_modules/next-wrapper/templates/layout.html" %}
{% block body %}
<div class="o-grid-row">
    
    <h1 class="stream-list__title" data-o-grid-colspan="12">
        <span class="js-context">
        {% if title %}
            {{ title }} 
        {% endif %}
        </span>
        {% if isFollowable %}
        {% include "./components/bower/next-actions-component/templates/favourite.html" %}
        {% endif %}
    </h1>

    {% flag contextNavigation %}
        <!-- Component: context - FIXME - split in to nav & context -->
        <div class="context__container" data-o-grid-colspan="S12 M4 L4 XL4">
            <!-- Component: selected-filters -->
            {% if selectedFilters && selectedFilters.length %}
                <div class="context selected-filters__container">
                    {% include "components/selected-filters.html"  with {filters: selectedFilters} %}
                </div>
            {% endif %}
            <!-- Component: search-filters -->
            <div class="context search-filters__container">
                {% include "components/search-filters.html" with {filters: searchFilters} %}
            </div>
            <div class="js-context__container"></div>
        </div>
    
        <!-- Component: stream -->
        <div class="stream__container">
                {% include "components/stream.html" %}

            <div data-o-grid-colspan="S12 M4 L4 XL4" class="on-this-topic js-on-this-topic" data-metadata-field="primaryTheme" data-article-id="{{article.item.id}}"></div>

        </div>
    {% endflag %}
    {% flag !contextNavigation %}
        <!-- Component: stream -->
        <div class="stream__container" >
                {% include "components/stream.html" with {article: stream.items[0]} %}
        </div>



    {% endflag %}
</div>
{% endblock %}

