
.article-card__ticker-symbols {
	border-bottom: solid 1px #777;
	padding-top: 10px;
}

.article-card__ticker-symbols__item-up {
    font-size: 12px;
    color: green;
}

.article-card__ticker-symbols__item-down {
    color: red;
    font-size: 12px;
}
