.save__button {
	font-family: BentonSans, Arial, sans-serif;
	text-align: center;
	border: none;

	font-size: 14px;
	 &:focus {
	 	outline: none;
	 }
	
	&[data-save-target="forlaters"] {
		display: inline-block;
		background: url(save.png) no-repeat 0 2px;
		padding-left: 16px;
		margin: 0 5px;
		font-size: 12px;
		color: #2e6e9e;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}

	&[data-save-target="favourites"] {
		background: #9e2f50;
		float: right;
		height: 41px;
		color: #fff;
		margin: 0 -10px 0 5px;
		line-height: 0;
		cursor: pointer;
		padding: 0 10px 3px;
		opacity: 0.9;

		&:before {
			font-size: 24px;
			position: relative;
			top: 3px;
			content: '\2606';
			display: inline-block;
			margin-right: 8px;
		}

		&:hover:before {
			content: '\2605';
		}
	}
}


.save__button[data-is-saved="true"] {

	&[data-save-target="favourites"] {
		content: 'Unfavourite this section';
		
		&:before {
			content: '\2605';
			display: inline-block;
		}
		
		&:hover:before {
			content: '\2606';
		}
	}

	&[data-save-target="forlaters"]:before {
		content: '\2691';
	}
}
