<h2>
	{% if query %}
	<a href="/search?q={{query}}">{{title}}<a></h2>
	{% else %}
	{{title}}
	{% endif %}
</h2>

<ul>
{% for article in stream %}
    {% if article.type === 'fastft' %}
        {% include "./bower/next-article-card-component/templates/fastft.html" with { item: article.item} %}
    {% elseif article.type === 'feature' %}
        {% include "./bower/next-article-card-component/templates/feature.html" with { item: article.item} %}
    {% elseif article.type === 'news' %}
        {% include "./bower/next-article-card-component/templates/news.html" with { item: article.item} %}
    {% endif %}    
{% endfor %}
</ul>