
<h1 class="stream-list__title">
    <span class="js-context">
    {% if title %}
        {{ title }} 
    {% endif %}
    </span>
    {% if isFollowable %}
    {% include "./bower/next-actions-component/templates/favourite.html" %}
    {% endif %}
</h1>

{% if stream.length === 0 %}
    <p>No articles found.</p>
{% endif %}

{% for article in stream.items %}

    {% if article.type === 'fastft' %}
        {% include "./bower/next-article-card-component/templates/fastft.html" with { item: article.item , full: true} %}
    {% elseif article.type === 'methode' %}
        {% include "./bower/next-article-card-component/templates/methode.html" with { item: article.item, full: true } %}
    {% endif %}
    
{% endfor %}
