<h1 class="stream-list__title" data-o-grid-colspan="12">
    <a href="/search?q={{article.item.primarySection.taxonomy}}:{{article.item.primarySection.name}}"> {{ article.item.primarySection.name }}</a>
</h1>

{% if !article %}
    <p>No articles found.</p>
{% endif %}

    <div class="stream" data-o-grid-colspan="S12 M8 L8 XL8">
        {% if article.type === 'fastft' %}
            {% include "./bower/next-article-card-component/templates/fastft-full.html" with { item: article.item} %}
        {% elseif article.type === 'feature' %}
            {% include "./bower/next-article-card-component/templates/feature-full.html" with { item: article.item} %}
        {% elseif article.type === 'news' %}
            {% include "./bower/next-article-card-component/templates/news-full.html" with { item: article.item} %}
        {% endif %}    
    </div>
    
	<div data-o-grid-colspan="S12 M4 L4 XL4">
        <div class="js-more-on more-on" data-article-id="{{ article.item.id }}"></div>
        <div class="on-this-topic js-on-this-topic" data-metadata-field="primaryTheme" data-article-id="{{article.item.id}}"></div>
        <div class="on-this-topic js-on-this-topic" data-metadata-field="primarySection" data-article-id="{{article.item.id}}"></div>
	</div>
