
<h1 class="stream-list__title">
    <span class="js-context">
    {% if title %}
        {{ title }} 
    {% endif %}
    </span>
    {% if isFollowable %}
    {% include "save-button.html" with { key: 'favourites', label: 'Follow this section', toggleText: 'Unfollow this section'} %}
    {% endif %}
</h1>

{% if stream.length === 0 %}
    <p>No articles found.</p>
{% endif %}

{% for article in stream.items %}

    {% if article.type === 'fastft' %}
        {% include "stream/cards/fastft.html" with { item: article.item } %}
    {% elseif article.type === 'methode' %}
        {% include "stream/cards/methode.html" with { item: article.item } %}
        {% if article.has_video %}

        {% endif %}
    {% endif %}
    
{% endfor %}


