
<h1 class="stream-list__title">
<span class="js-context">
{% if title %}
    {{ title }} 
{% endif %}
</span>
{% include "../save-button/base.html" with { key: 'favourites', label: 'Favourite this section', toggleText: 'Unfavourite this section'} %}

</h1>

        {% if stream.length === 0 %}
            <p>No articles found.</p>
        {% endif %}


{% for article in stream %}
    {% if article.raw %}

        <div class="article-card tone-{{ article.genre}}{% if mode === 'compact' %} article-card--compact{% endif %}" id="capi-{{ article.id }}">
            {% if mode !== 'compact' %}
            <div class="article-card__themes article-card__metadata-list">
                Latest in <ul>
                    <li><a href="/search?q={{ article.primarySection.taxonomy }}:{{ article.primarySection.name }}">{{ article.primarySection.name }}</a></li>
                    {% if article.primaryTheme.name %}
                    <li><a href="/search?q={{ article.primaryTheme.taxonomy }}:{{ article.primaryTheme.name }}">{{ article.primaryTheme.name }}</a></li>
                    {% endif %}
                </ul>
            </div>  
            {% endif %}   

            {% if article.tickerSymbols.length > 0 %}
                <div class="article-card__ticker-symbols">
                {% for symbol in article.tickerSymbols %}
                <a
                    href="http://markets.ft.com/research/Markets/Tearsheets/Summary?s={{ symbol.code }}"
                    class="article-card__ticker-symbols__item"
                    data-ticker-symbols="{{ symbol.code }}"></a>
                {% endfor %}
                </div>
            {% endif %}

            <h3 class="article-card__headline">
                <a href="/{{ article.id }}" class="article-card__link">
                    {{ article.headline }}
                </a>
                {% include "../save-button/base.html" with { key: 'forlaters', label: 'Save for later', toggleText: 'Saved for later'} %}
            </h3>
            
                <div class="article-card__reading-info">
                {% include "./byline.html" with article %}
                {% include "./length.html" with article %}
                </div>

            {% if article.people.length > 0 || article.organisations.length > 0 %}
            <div class="article-card__mentions article-card__metadata-list">
                Mentions
                <ul class="article-card__mentions__items">
                    {% for entity in article.people %}<li><a href="/search?q={{ entity.searchString }}">{{ entity.name }}</a></li>{% endfor %}
                    {% for entity in article.organisations %}<li><a href="/search?q={{ entity.searchString }}">{{ entity.name }}</a></li>{% endfor %}
                    {% for entity in article.regions %}<li><a href="/search?q={{ entity.searchString }}">{{ entity.name }}</a></li>{% endfor %}
                    {% for entity in article.topics %}<li><a href="/search?q={{ entity.searchString }}">{{ entity.name }}</a></li>{% endfor %}
                    {% for entity in article.subjects %}<li><a href="/search?q={{ entity.searchString }}">{{ entity.name }}</a></li>{% endfor %}
                </ul>
            </div>
            {% endif %}

    	    {% if article.largestImage && isArticle %}
            <a href="/{{ article.id }}" class="article-card__image">
                <img src="{{ article.largestImage.url|resize(600) }}" class="article-card__image-{{ article.id }}"/>
            </a>
    	    {% endif %}

		    {% if mode === 'compact' %}
                {% if article.raw.item.images.length %}
                <div  class="article-card__image">
                    <img src="{{ article.raw.item.images[0].url|resize(300) }}" class="article-card__image-{{ article.id }}"/>
                </div>
                {% endif %}
                <div class="article-card__body">
                    {{ article.paragraphs(0, 2) }}
                </div>
            {% else %}
                <div class="article-card__body">
        	        {{ article.paragraphs(0, 2, { removeImages: false }) }}
                    <div class="js-more-on more-on" data-article-id="{{ article.id }}"></div>
            		{{ article.paragraphs(2, 100, { removeImages: false }) }}
                </div>
            {% endif %}
        </div>
    
    {% endif %}
{% endfor %}

<script src="/dobi/components/stream/main.js"></script>

