<link rel="StyleSheet" href="/components/stream/style.css"/>

{% if title %}
<h1 class="stream-list__title">
    {{ title }} 
</h1>
{% endif %}

{% for article in stream %}
    {% if article.raw %}

        <div class="article-card" id="capi-{{ article.id }}">
            <a href="/{{ article.id }}">
                <img src="{{ article.largestImage.url }}" class="article-card__image article-card__image-{{ article.id }}" draggable="true"/>
            </a>
            <h3 class="article-card__headline">
                <a href="/{{ article.id }}" class="article-card__link">
                    {{ article.raw.item.title.title }}
                </a>
            </h3>
            <p align="center">
            <em>
                {{ article.lastUpdated|date('j F, Y') }} -
                {% if article.raw.item.metadata.authors.length > 0 %}
                    <a href="/search?q=authors:{{ article.raw.item.metadata.authors[0].term.name|url_encode }}">
                        {{ article.raw.item.metadata.authors[0].term.name }}
                    </a>
                {% endif %}
            </em>
            </p>
            <p align="center">
            <em><small>{{ article.wordCount }} words - {{ article.readingTime }} minutes</small></em>
            </p>
            <p>
                {{ article.paragraphs(0, 2) }}
            </p>
            
            {% if mode === 'compact' %}
           
                <div class="article-card__more js-toggle" data-toggle=".more-{{ article.id }}">Open</div>
                <section class="js-hide more-{{ article.id }}">
                    {{ article.paragraphs(3, 100) }}
                </section>
            
            {% else %}

                {{ article.paragraphs(3, 100) }}
            
            {% endif %}

        </div>
    
    {% endif %}
{% endfor %}

<script src="/trackable/lib/trackable.js"></script>
<script src="/components/stream/main.js"></script>

