<div class="article__header" data-trackable="header">
  <div class="o-grid-container">
    <div class="article__header-inner {{#if mainImageHtml}}article__header-inner--main-image{{/if}} o-grid-row">
      {{#if barrier}}
      <div data-o-grid-colspan="12 L12 XL12">
      {{else}}
      <div data-o-grid-colspan="12 L8 XL7 XLoffset1">
      {{/if}}
        <header class="article__header--wrapper {{#if mainImageHtml}}article__header--wrapper--main-image{{/if}}">
          <div class="article__header-primary">
            {{#if isSpecialReport}}
              <p class="article__primary-theme">
                Special Report:
                <a href="/special-reports/{{primaryTag.id}}" class="c-topic c-topic__medium c-topic--with-follow c-topic--link" data-trackable="section-link" aria-label="posted in category {{primaryTag.name}}" data-concept-id="{{primaryTag.id}}">{{primaryTag.name}}</a>
              </p>
            {{else}}
              {{#if primaryTag}}
                {{> header/primary-tag}}
              {{/if}}
            {{/if}}
            <h1 class="article__title">{{title}}</h1>
          </div>
          <div class="article__header-secondary">
            {{#if standFirst}}
              <p class="article__stand-first">{{{standFirst}}}</p>
            {{/if}}
            {{#if designGenre}}
              <div class="article__brand--wrapper">
                <a class="article__brand--title c-topic" href={{designGenre.url}} data-trackable="brand">{{designGenre.name}}</a>
              </div>
            {{/if}}
          </div>
        </header>
        {{#if designGenre.headshot}}
        <div class="article__header-headshot">
          <img
            class="article__header-headshot--image"
            src="{{designGenre.headshot}}?source=next&amp;fit=scale-down&amp;width=150&amp;compression=best&amp;format=png&amp;quality=highest&amp;dpr=2">
        </div>
        {{/if}}
      </div>
      {{#if readNextArticle}}
        {{> header/read-next-header article=readNextArticle}}
      {{else}}
        {{#if tags}}
          {{> header/topics-mentioned}}
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>
