
.scrollspy-on {
    background-color: #eee;
}

/* streams-collection */

/* stream-list */

.stream-list__label {
    padding: 5px 5px;
    margin: 0;
    font-size: 15px;
}

.stream-list__link {
    text-decoration: none;
    color: blue;
}

.stream-list__label,
.stream-list__item {
    xborder-left: 1px solid #999;
}

.stream-list__item:last-child {
    margin-bottom: 10px;
}

.stream-list,
.stream-list__item {
    list-style: none;
    padding: 0;
    margin: 0;
}

.stream-list__item {
    display: block;
    padding: 5px 5px;
    font-size: 16px;
}

.stream-list__label:hover {
    background-color: #eee;
    cursor: pointer;
}

/* context */

.context {
    max-width: 200px;
    background-color: white;
    margin: 10px auto;
    height: 150vh;
    font-family: arial, sans-serif;
}

@media (max-width: 600px) {
    .context {
        width: 100%;
        max-width: 600px;
    }
}

.contextual {
    border-width: 1px 0 1px 0;
    margin: 10px 0 10px -10px;
    padding: 10px;
    border-style: solid;
    border-color: #333;
    background-color: #eee;
}

.clear__button {
    color: blue;
}

.clear__button:hover {
    color: red;
    cursor: pointer;
}

.me-history {
    display: none;
}

