
<div class="context">
    <div class="contextual">
        <span>Sections</span><br/>

        <select>
            <option>Oil
            <option>Baby Oil
            <option>Snake Oil
        </select>

        <ul class="stream-list">
            {% for article in stream %}
                <li class="stream-list__label">
                    <a href="/{{ article.id }}" class="stream-list__link">{{ article.raw.item.title.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <h2 class="stream-list__label" data-stream="picks">Top stories</h2>
    <h2 class="stream-list__label" data-stream="popular">Most popular</h2>
    <h2 class="stream-list__label u-disabled">Your favourites <small class="clear__button clear__fav">clear</small></h2>
    <div id="me-fav"></div>
    <h2 class="stream-list__label" data-toggle=".me-history">Your history <small class="clear__button clear__history">clear</small></h2>
    <div id="me-history" class="me-history"></div>

</div>

<script src="/bullpup/components/context/main.js"></script>
