<!-- 

    View model :-

        {
            label: String,
            open: Boolean,
            articles: Array[model.Article]
            stream: String
        }

-->
<h2 
    class="stream-list__label js-toggle"
    data-stream="popular"
    >

    xxx

</h2>
<ul class="stream-list--compact stream-list u-hidden {% if page.id === 'popular' %}js-show{% endif %}">
    {% for article in popular %}
        <li class="stream-list__item" data-capi-id="{{ article.id }}">
            {{ article.raw.item.title.title }}
        </li>
    {% endfor %}
</ul>
