$suggested-reads-border: getColor('warm-3');

.suggested-reads__item {
	margin-bottom: 20px;
	padding: 0;
}

.suggested-reads__container {
	border: 1px solid $suggested-reads-border;
	position: relative;
	margin: 30px 0 20px;
	padding: 20px 20px 0;

	h3,
	h4 { margin: 0; }
}

.suggested-reads__title {
	@include nTypeFoxtrot(3);
	position: absolute;
	top: -10px;
	left: 10px;
	display: inline-block;
	padding: 0 10px;
	background: getColor('warm-5');
	font-size: 18px;
	font-weight: 900;
}

.suggested-reads__item__headline {
	@include nTypeFoxtrot(3);
	@include nLinksHeadline();
}

.suggested-reads__item__topic {
	@include nTypeBravo(4);
	@include nLinksTopic();
}
