<style>

    .splash {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        min-height: 300px;
    }

</style>
<div class="splash" align="center">
    <img src="/home.png" alt="" usemap="#Map" />
    <map name="Map" id="Map">
        <area href="/stream/picks" shape="rect" coords="19,54,487,389" />
        <area href='/search?q=topics%3A"Scottish+Independence"' shape="rect" coords="15,582,481,757" />
        <area href="/search?q=sections:Companies" shape="rect" coords="526,56,746,200" />
        <area href="/search?q=sections:Economy" shape="rect" coords="764,56,981,198" />
        <area href="/search?q=Oil" shape="rect" coords="525,260,980,590" />
        <area href="/search?q=Utilities" shape="rect" coords="526,609,744,752" />
        <area href="/search?q=Goods" shape="rect" coords="764,611,983,748" />
    </map>
</div>

