.stream-card {
}
.stream-card__wrapper {
	position: relative;
	overflow: hidden;
	padding: 10px;
	background: oColorsGetPaletteColor('cold-1') no-repeat center center;
	background-size: cover;
	color: #ffffff;

	@include oGridRespondTo($until: M) {
		background-image: none !important;
	}

	@include oGridRespondTo(M) {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.75);
		}
	}
}
.stream-card__overview {
	position: relative;
	margin-bottom: 10px;

	@include oGridRespondTo(M) {
		float: left;
		width: 30%;
		margin-right: 2.5%;
	}
}
.stream-card__title {
	display: block;
	border-bottom: 0;
	text-align: center;
	color: inherit;

	@include oGridRespondTo(M) {
		text-align: left;
	}

	&:hover,
	&:focus {
		color: inherit;
	}
}
.stream-card__title__kicker {
	@include nTypeAlpha(4);
	text-transform: uppercase;
}
.stream-card__title__text {
	@include nTypeBravo(2);
}
.stream-card__articles {
	// to bring layer to top
	position: relative;
	// to prevent wrap around overview
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.stream-card__article {
	margin-top: 10px;

	&:first-child {
		margin-top: 0;
	}
}
.stream-card__article__date {
	@include nTypeAlpha(5);
	text-transform: uppercase;
	color: oColorsGetPaletteColor('blue-2');
}
.stream-card__article__link {
	@include nTypeAlpha(3);
	color: inherit;
	border-bottom-color: transparent;

	&:hover,
	&:focus {
		color: inherit;
		border-bottom-color: inherit;
	}
}
