<div class="index__container">

    <input type="text" placeholder="Search">
    
    <hr/>
    
    <h2 class="button-splash">
        FT 
    </h2>
    
    <hr/>

    <h2 data-toggle=".popular__container" class="js-toggle" data-stream="popular">
        Most popular
    </h2>

    <ul class="popular__container u-hidden {% if page.id === 'popular' %}js-show{% endif %}">
        {% for article in popular %}
            <li data-capi-id="{{ article.id }}">
                {{ article.raw.item.title.title }}
            </li>
        {% endfor %}
    </ul>

    <h2 data-toggle=".latest__container" class="js-toggle" data-stream="latest">
        Latest
    </h2>

    <ul class="latest__container u-hidden {% if page.id === 'latest' %}js-show{% endif %}">
        {% for article in latest %}
        <li data-capi-id="{{ article.id }}">
            {{ article.raw.item.title.title }}
        </li>
        {% endfor %}
    </ul>

    <h2 data-toggle=".bertha__container" class="js-toggle" data-stream="picks">
        Editor's picks
    </h2>

    <ul class="bertha__container u-hidden {% if page.id === 'picks' %}js-show{% endif %} ">
        {% for article in bertha %}
        <li data-capi-id="{{ article.id }}">
            {{ article.raw.item.title.title }}
        </li>
        {% endfor %}
    </ul>

    <hr/>
    <h2 data-toggle=".foryou__container" class="s-toggle">Oil</h2>
    <h2 data-toggle=".foryou__container" class="s-toggle">Scottish Referendum</h2>
    <hr/>

    <h2 data-toggle=".foryou__container" class="s-toggle">For you <sup>2</sup></h2>
    <h2 data-toggle=".history__container" class="s-toggle">Your history</h2>
    <h2 data-toggle=".later__container" class="s-toggle">Read later</h2>
    <h2 data-toggle=".foryou__container" class="s-toggle">Following</h2>
    <h2 data-toggle=".foryou__container" class="s-toggle">Shared</h2>

</div>

<script src="/components/index/main.js"></script>
<link rel="StyleSheet" href="/components/index/style.css"/>

