
sup {
    color: white;
    font-size: 10px;
    background-color: red;
    line-height: 12px;
    width: 12px;
    display: inline-block;
    text-align: center;
}

.u-hidden {
    display: none;
}

.js-active {
    background-color: #ddd;
}

.js-show {
    display: block;
}

* {
    font-family: arial, sans-serif;
}

h2 {
    padding: 5px 5px;
    margin: 0;
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: block;
    padding: 10px 5px;
}

li:hover, h2:hover {
    background-color: #eee;
    cursor: pointer;
}

.splash__container {
    margin-left: -90%;
}

.splash__container {
    height: 100vh;
    background-color: #ccc;
}

.splash__container, .index__container {
    width: 95%;
    box-sizing: border-box;
    float: left;
}

.splash__container.splash-show {
    margin-left: 5%;
    width: 95%;
}

input {
    font-size: 20px;
    width: 98%;
    padding: 3px;
    display: block;
    margin: 3px;
}
