

.index__container hr {
    opacity: 0.8;
}

.index__container sup {
    color: white;
    font-size: 10px;
    background-color: red;
    line-height: 12px;
    width: 12px;
    display: inline-block;
    text-align: center;
}

.u-hidden {
    display: none;
}

.js-active {
    background-color: #ddd;
}

.js-show {
    display: block;
}

.index__container {
    font-family: arial, sans-serif;
}

.index__container h2 {
    padding: 5px 5px;
    margin: 0;
    font-size: 18px;
}

.index__container {
    margin: 0;
    padding: 20px 0 0 0;
}

.index__container ul {
    border-left: 1px solid #999;
}

.index__container li:last-child {
    margin-bottom: 10px;
}

.index__container h2 {
    border-left: 1px solid #999;
}

.index__container ul, .index__container li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.index__container li {
    display: block;
    padding: 5px 5px;
    font-size: 16px;
}

.index__container li:hover, .index__container h2:hover {
    background-color: #eee;
    cursor: pointer;
}

.index__container input {
    font-size: 20px;
    width: 98%;
    padding: 3px;
    display: block;
    margin: 3px;
}

.headline__title {
    margin: 1px 0 0 0;
}

.headline__meta {
    font-size: 11px;
    color: #666;
}
