.save__button {
	font-family: BentonSans, Arial, sans-serif;
	text-align: center;
	border: none;

	font-size: 14px;
	 &:focus {
	 	outline: none;
	 }
	
	&[data-save-target="forlaters"] {
		display: block;
		background: url(assets/img/bookmark-default.svg) no-repeat 0 0;
		width: 16px;
		height: 25px;
		cursor: pointer;
		float: right;
		margin-top: 10px;
	}

	&[data-save-target="favourites"] {
		background: #9e2f50;
		float: right;
		height: 41px;
		color: #fff;
		margin: 0 -10px 0 5px;
		line-height: 0;
		cursor: pointer;
		padding: 0 10px 3px;
		opacity: 0.9;

		&:before {
			font-size: 24px;
			position: relative;
			top: 3px;
			content: '\2606';
			display: inline-block;
			margin-right: 8px;
		}

	}
}

.save__button[data-is-saved="true"] {

	&[data-save-target="favourites"] {
		content: 'Unfavourite this section';
		
		&:before {
			content: '\2605';
			display: inline-block;
		}
	}
	// REVIEW:MA - Is spriting the only solution to this problem? I'm sure we can do
	// something more elegant than that...
	// TODO: this should ideally be a sprite as the icon momemtarily disappears on click
	&[data-save-target="forlaters"] {
		background-image: url(assets/img/bookmark-selected.svg);
	}		
}
