// Colors

$next-blue: #60b0bc;
$next-grey-dark: #343434;
$next-grey-light: #868686;
$next-grey-lighter: #d9d9d9;

@import "components/header/style";
@import "components/layout/style";
@import "components/site-search/style";
@import "components/splash/style";
@import "components/stream/style";
