.article__toast {
	width: 100%;
	opacity: 1;
	transition: opacity 0.5s, bottom 0s 0s;

	&.article__toast--fixed {
		position: fixed;
		bottom: 0;
	}
	&.article__toast--hide {
		opacity: 0;
		bottom: -9999px;
		transition: opacity 0.5s, bottom 0s 0.5s;
	}
	&.article__toast--in-page {
		visibility: hidden;
	}
	&.article__toast--fixed-in-page {
	}
	ol {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	li {
		position: relative;
		padding-left: 141px;
	}
	h2 {
		@include nTypeEcho(3);
		color: getColor('cold-1');
		margin: 0;
	}
	a {
		text-decoration: none;
		color: getColor('cold-3');

		&:hover {
			text-decoration: underline;
		}
	}
	h3 {
		@include nTypeBravo(4);
		color: #9e2f50;
		text-transform: uppercase;
		margin: 0;
	}
	p {
		@include nTypeFoxtrot(3);
		margin: 2px 0 0;
		color: getColor('cold-3');
	}
}
.article__toast__inner {
	min-height: 66px;
	padding: 5px 0;
	background-color: #fff1e0;
	box-shadow: 0px 0px 15px getColor('cold-1');
}
.article__toast__article {
	@include oGridRespondTo(M) {
		padding-left: 110px;
	}
}
.article__toast__image {
	position: absolute;
	display: none;
	height: 56px;
	top: 0;
	left: 0;
	margin: 0;

	@include oGridRespondTo(M) {
		display: block;
	}

}
.article__toast__to-related {
	@include nTypeAlpha(4);
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	color: #27757b !important;
	text-decoration: none;
	border-left: 1px solid getColor('warm-3');
	padding-left: 10px;

	@include oGridRespondTo(L) {
		padding-left: 30px;
	}
	&:hover {
		text-decoration: underline;
	}
	&:after {
		@include nextIcon('arrow-down', #27757b, 15);
		content: '';
		vertical-align: middle;
	}
}
.article__toast__link__topic {
	font-weight: bold;
}
html:not([data-next-flags~="article-related-toast--off"]) .n-myft-tray__cta {
	bottom: 70px;
}
